<html>

<head>
    <% include  ../../partials/head %>
        <link rel="stylesheet" type="text/css" href="components/select2/css/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="components/select2/css/select2-bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="components/select2/css/pmd-select2.css" />
</head>

<body>
    <% include  ../../partials/header %>
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">
                                <%if (canAdd == 1 || canEdit == 1) { %>
                                    <% var rootPath = '../'; %>
                                        <button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" id="addTrainingPartner" type="button" onclick="trainingPartner.add()"
                                            title="Add Training Partner">
                                            <i class="material-icons pmd-sm">add</i>
                                        </button>
                                        <button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" id="importTrainingPartner" type="button" onclick="trainingPartner.import()"
                                            title="Import Training Partner">
                                            <i class="material-icons md-dark pmd-icon-md">file_upload</i>
                                        </button>
                                        <div id="divImportTrainingPartner" style="display: none;">
                                            <h1 class="section-title" id="services">
                                                <span>Import Training Partners</span>
                                            </h1>
                                            <!--Use dismissing alerts-->
                                            <div role="alert" class="alert alert-success alert-dismissible customerrorsuccess hidden">
                                                <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="alert-heading">Bulk Import</h4>
                                                <hr>
                                                <p class="customErrorRecords"></p>
                                            </div>


                                            <div class="pmd-card pmd-z-depth">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <form method="post" accept-charset="utf-8" id="frmUploadTrainingPartner" enctype="multipart/form-data">
                                                            <div style="display:none;">
                                                                <input type="hidden" name="_method" value="POST">
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input type="file" name="fileupload" id="fileupload" class=" ">
                                                                <div class="clearfix"></div>
                                                                <br/>
                                                                <span class="small">
                                                                    <p>
                                                                        <strong>Allowed file types: </strong>csv</p>
                                                                    <p>
                                                                        <strong>Max. File size: </strong>30 MB</p>
                                                                    <p class="customlink">
                                                                        <a href="trainingpartners_sample_csv/">Download sample CSV from here.</a>
                                                                    </p>
                                                                </span>
                                                                <input type="hidden" name="import_user_file_name"> </div>
                                                            <div class="col-lg-12">
                                                                <button class="btn btn-primary ripple-effect" type="button" onclick="trainingPartner.importCSV()">Submit</button>
                                                                <button type="button" class="btn pmd-ripple-effect btn-light" onclick="trainingPartner.cancel()">Cancel</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="divAddTrainingPartner" style="display: none;">
                                                
                                            <div class="pmd-card-body">
                                                <div class="row">

                                                    <div class="col-lg-12 custom-col-12">
                                                        <h3>
                                                            <span class="addeditCustom"></span> Training Partner</h3>
                                                        <div class="card pmd-card">

                                                            <!-- Form Layout example -->
                                                            <div class="card-body">
                                                                <form id="frmTrainingPartner">
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-fn">NSDC/SSC Registration No
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="nsdc_registration_number" name="nsdc_registration_number" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">Training Partner Name
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input id="training_partner_name" name="training_partner_name" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                            <label for="state-select">Sector</label>
                                                                            <select id="drpSector" class="form-control select-tags pmd-select2-tags" name="sectorid" multiple>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-email">Legal Entity Name
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="legal_entity_name" name="legal_entity_name" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-email">Contact Person Name
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="contact_person_name" name="contact_person_name" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-email">Contact Email Address
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="contact_email_address" name="contact_email_address" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-email">Contact Mobile</label>
                                                                            <input type="text" id="contact_mobile" name="contact_mobile" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-9">
                                                                            <label for="form-layout-address1">Address</label>
                                                                            <input type="text" id="address" name="address" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-3">
                                                                            <label for="form-layout-zip">Pincode
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input id="pincode" name="pincode" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="state-select">State</label>
                                                                            <select id="drpState" class="form-control" name="stateid" onchange="trainingPartner.changeState()">
                                                                                <option value="0" disabled selected>Select State</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="country-select">City</label>
                                                                            <select id="drpCity" class="form-control" name="cityid">
                                                                                <option value="0" disabled selected>Select City</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
                                                                    <button type="button" class="btn pmd-ripple-effect btn-light" onclick="trainingPartner.cancel()">Cancel</button>
                                                                </form>
                                                            </div>
                                                            <!-- Form Layout example end -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>

                                            <section class="component-section">
                                                <div id="divTrainingPartner">
                                                    <h2 class="card-title d-flex">
                                                        Training Partners
                                                        <div class="dropdown pmd-dropdown ml-auto">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="selectAction" data-toggle="dropdown" aria-expanded="true">Select Action</button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingPartner.mutipleaction('active')">Active</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingPartner.mutipleaction('inactive')">Inactive</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingPartner.mutipleaction('delete')">Delete</a>
                                                            </div>
                                                        </div>
                                                    </h2>
                                                    <div class="card pmd-card">
                                                        <table id="gridtrainingPartner" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                            width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                            <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                            <label class="custom-control-label" for="customCheckBox0">
                                                                            </label>
                                                                        </div>
                                                                    </th>
                                                                    <th>NSDC/SSC Reg. No</th>
                                                                    <th>TPID</th> 
                                                                    <th>Training Partner Name</th> 
                                                                    <th>Email Address</th> 
                                                                    <%if (canAdd == 1 || canEdit == 1) { %>
                                                                        <th>Status</th>
                                                                        <th>Actions</th>
                                                                        <% } %>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- section content end -->

                                                </div>
                                            </section>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                    <% include  ../../partials/footer %>
        </section>
        <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="../pages/trainingpartner/trainingpartner.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.js"></script>
        <div id="replaceHTML"></div>
</body>

</html>