/*!
 * Propeller v1.1.0 (http://propeller.in)
 * Copyright 2016-2017 Digicorp, Inc.
 * Licensed under MIT (http://propeller.in/LICENSE)
 */
 body, html{ height:100%;}
 .pmd-content{ min-height:100%;}
 .caret { border-left:5px solid rgba(0, 0, 0, 0); border-right:4px solid rgba(0, 0, 0, 0); border-top:5px solid;}
 .pmd-navbar.navbar .btn.pmd-btn-fab:hover, .pmd-navbar.navbar .btn.pmd-btn-fab:focus, .pmd-navbar.navbar .btn.pmd-btn-fab.focus { color: #fff;}
 .pmd-sidebar-nav .collapse.show {background-color: rgba(0, 0, 0, 0.05);}
 .pmd-sidebar-nav .nav-item > .nav-link.active {background-color: rgba(0, 0, 0, 0.05);}
 /*============================= notification =========================*/
 .pmd-navbar-right-icon .pmd-dropdown .dropdown-menu {padding:0;}
 .notifications-col{min-width: 320px;}
 
 /*============================= content area =========================*/
 .pmd-content{padding-top: 63px; padding-bottom:90px; padding-left:0; padding-right:0; position: inherit;}
 .dashboard, .inner-page {margin-top:30px;}
 .pmd-content .container-fluid { max-width:1590px;}
 @media (max-width: 767px) {
 .pmd-content{padding-top: 63px; padding-left:0; padding-bottom:210px; padding-right:0;}
 }
 
 /*============================== dashboard common css ===============================*/
 .dashboard {animation:fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s; -webkit-animation:fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s; -ms-animation:fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s; -o-animation:fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s; -moz-animation:fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s; padding-right:15px; padding-left:15px;}
 @media (max-width: 767px) {
 .dashboard{margin-top: 8px; padding-left: 0; padding-right: 0;}
 }
 
 /* Dashboard title icon */
 .dashboard .service-icon { width:40px; height:40px; display:block; position:relative;}
 .dashboard .service-icon img, .dashboard .service-icon svg { position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; width:20px;}
 .dashboard .row > div{ padding-left: 10px; padding-right: 10px;}
 
 /* Dashboard card*/
 .dashboard .pmd-card-title {font-size: 18px; margin-top:0; margin-bottom:0;}
 .dashboard .pmd-card { margin-bottom:20px;}
 .dashboard .card-header.no-margin { margin:0;}
 .dashboard .pmd-card-body, .dashboard .notification .content-section { min-height:100px;}
 h2.typo-fill-secondary{ color:rgba(77, 87, 93, 0.68); font-size:22px;}
 .dashboard .pmd-display2, .dashboard .pmd-headline{ opacity:1; font-weight:500;}
 .grow-up{ margin-left:5px;}
 
 /*======= Breadcrumb =======*/
 .breadcrumb { background: transparent; font-size:14px; margin:0 0 20px 0px; padding:0;}
 
 /*================= site activity css =========================*/
 /*total sales circle chart css*/
 .total-sales { text-align:center; display:inline-block; width:100%;}
 .total-sales .chart{ width:50%;}
 .total-sales .chart.total-revenue{padding-left:3%;}
 .total-sales .circle { display: inline-block; margin:0 10px 0 10px; position:relative;}
 .total-sales .circles-wrp { margin-bottom:6px;}
 .total-sales .circles-integer { font-size:20px; font-family: 'Roboto'; display:block; font-weight:700;}
 .total-sales .border-right {border-right:1px solid #dfe3e7;}
 .total-sales .chart-title {line-height: 1.1; padding: 0 15px; width: 99px; margin:auto; font-weight:500;}
 .total-sales .circle .circles-text { height:auto !important;}
 .total-sales .circles-integer:before { content:""; display:inline-block; height:19px; vertical-align:middle; background-size:11px;}
 /* total sales progressbar chart css*/
 .total-revenue .progress { height:10px; margin:0; border-radius:10px; background:#DFE3E7; box-shadow:none;}
 .total-revenue .media-body { vertical-align:middle; width: 175px; max-width:175px;}
 .total-revenue .progress .progress-bar { height: 100%; width: 0; background-color:#F7912F;}
 @media (min-width: 991px) and (max-width: 1600px){
 .total-sales .chart.circle-chart{ padding-right:3%; width:60%;}
 .total-sales .chart.total-revenue{padding-left:3%; width:40%;}
 }
 @media (max-width: 990px) {
 .total-sales .chart{ width:100%;}
 .total-sales .circle{ margin-bottom:20px;}
 .total-sales .chart.total-revenue{ margin-top:20px;}
 .total-sales .border-right{ border:none !important;}
 }
 
 /*===================== marketplace card css new ============================*/
 .advertising-info{ min-height:262px;}
 @media (max-width: 1360px) {
 .advertising-info .pmd-display2{ font-size:20px;}
 }
 @media (max-width: 990px) {
 .advertising-info{ min-height:inherit;}	
 }
   
 /*=================== range date picker =====================*/
 .daterangepicker.dropdown-menu {opacity:1; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none;  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); clip: initial; }
 .range-calendar {cursor:pointer; position:absolute; right:30px; max-width: 260px;}
 .range-calendar svg:hover path { fill: #4d575d !important;}
 @media (max-width: 767px) {
 .datetimepicker{ display:none;}	
 }
 
 /*====================== browser usage ================*/
 .value-added .value-added-section { border-right:1px solid #dfe3e7;  border-bottom:1px solid #dfe3e7; padding-top:14px; padding-bottom:13px;}
 .value-added .value-added-section .title { font-size:18px; line-height:1.2; color:rgba(77, 87, 93, 0.68); font-weight:500;}
 .value-added .value-added-section:nth-child(2), .value-added .value-added-section:nth-child(4),.value-added .value-added-section:nth-child(6) { border-right:0;}
 .value-added .value-added-section:nth-child(5), .value-added .value-added-section:nth-child(6) { border-bottom:0;}
 .pt10 { padding-top:10px;}
 
 /*========================== statistics card =======================*/
 .statistics .list-inline-item:not(:last-child) {margin-right:0;}
 .statistics { padding:0 10px;}
 .statistics li{ width:32.68%; vertical-align:top; margin-bottom:20px;}
 .statistics .statistic-img-circle { width:64px; height:64px; border:4px solid #3cad44; border-radius:50%; margin:0 auto 8px;}
 .statistics img, .statistics svg { max-width:57px; margin:0 auto; height:57px;}
 .statistics .pmd-display2 { font-size: 28px; line-height:1.2;}
 .statistics .typo-fill-secondary {color: rgba(77, 87, 93, 0.68);font-weight: 500;}
 .users-details-info{ margin-bottom:15px; float:left; width:30%;}
 .users-details-chart{margin: auto; min-width: 70%; width:70%; float:right; height:300px;}
 @media (max-width: 767px) {
 .statistics li{width: 48%;}
 }
 
 /*======================== user details ====================*/
 .sms-details{min-height: 402px;}
 .sms-details .media-right { width:15%;}
 .sms-details .media-right a { margin: 0 5px;}
 .sms-details .card-header svg:hover path, .sms-details .card-header svg:hover rect, .sms-details .card-header svg:hover ellipse { fill:#4d575d;}
 .sms-details .card-header .service-icon svg:hover path, .sms-details .card-header .service-icon svg:hover rect{ fill: #fff;}
 .sms-details .pmd-display2 { margin-top:0;}
 @media (max-width: 1360px) {
 .users-details-info{ width:100%; float:none;}
 .users-details-chart{ width:100%; height:200px; float:none;}
 }
 @media (max-width: 767px) {
 .sms-details{min-height: 445px;}	
 }
 
 /*====================== project progress css ====================*/
 .pmd-list-progress .pmd-timeline{ padding-left:50px; width:100%; border-top: 1px solid #ebebeb;background-color: transparent }
 .pmd-list-progress .pmd-timeline:before{ content:""; width:2px; height:100%; background:#fff; left:0; position:absolute;left:30px; top:0;z-index:9;}
 .pmd-list-progress .pmd-timeline:after{content:"";position:absolute;left:25px; top:0; bottom:0; margin:auto; width:12px; height:12px; border-radius:50%; background:#fff;}
 .pmd-list-progress .pmd-timeline.project-info:before, .pmd-list-progress .pmd-timeline.project-info:after{background-color:#67b951;}
 .pmd-list-progress .pmd-timeline.project-notification:before, .pmd-list-progress .pmd-timeline.project-notification:after{background-color:#df6c6c;} 
 
 /*===================== recent post css ========================*/
 .recent-post ul{ margin-top:0;}
 .recent-post .card-body{ min-height:289px;}
 .reload{ float:right;}
 .reload:hover svg path{ fill: #4d575d;}
 .pmd-card-list .post{ width: 24%; text-align:right;}
 .post-time{ font-size:11px; color:#a5a4a4;}
 @media (max-width: 767px) {
 .pmd-card-list .post { display: block; line-height: 1; padding-left: 58px; text-align: left; width: 100%;}
 }
 
 /*footer*/
 .admin-footer { background: #fff none repeat scroll 0 0; border-top: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 14px; padding-top: 17px; transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0s; margin-top:-70px; }
 .pmd-sidebar ~ .admin-footer { padding-left: 64px; }
 .pmd-sidebar.pmd-sidebar-open ~ .admin-footer { padding-left: 290px;}
 .copyright-text { color: #4d575d; font-size: 14px; padding-top: 8px;}
 .copyright-text a:hover { color: #4285f4;}
 .admin-footer a {color: #4d575d; display: inline-block;}
 .admin-footer .pmd-card-subtitle-text {font-size: 12px; line-height: 18px; opacity: 1; margin: 0px;}
 .admin-footer .media-left { padding-left: 0; padding-right: 10px;}
 .admin-footer .media-left svg { margin-top: 4px;}
 .admin-footer .pmd-card-title-text a { color: #fff;}
 .admin-footer a:hover svg path, .admin-footer a:focus svg path { fill: #4d575d;}
 .admin-footer a:hover { color: #4d575d;}
 .admin-footer .list-inline{ line-height:1.2;}
 .admin-footer .download-now, .admin-footer .for-support{max-width: 280px; padding:0 15px;}
 .admin-footer .download-now a > div, .admin-footer .for-support a > div,
 .admin-footer .download-now a > div svg, .admin-footer .for-support a > div svg{ display:inline-block; vertical-align:middle; line-height:1;}
 .admin-footer .download-now a > div svg, .admin-footer .for-support a > div svg{ margin-right:10px;}
 .admin-footer ul{ margin:0;}
 
 @media (max-width: 767px) {
 .admin-footer{margin-top: -150px; padding-bottom: 84px;}
 .pmd-sidebar ~ .admin-footer{padding-left:0 !important;}
 /*footer*/
 .copyright-text { text-align: center;}
 .admin-footer .media-left{ display:block;}
 .admin-footer a{ text-align:center;}
 .admin-footer .list-inline > li{ display:block; padding:8px 0;}
 .admin-footer a{ text-align:left;}
 .admin-footer .download-now, .admin-footer .for-support{ float:none; max-width:100%; width:100%;}
 }
   
 @keyframes fadeIn {
 0%{transform:translate(0, 40px);-webkit-transform:translate(0, 40px);opacity:0;}
 100%{transform:translate(0, 0);-webkit-transform:translate(0, 0);opacity:1;}
 }
 @-webkit-keyframes fadeIn {
 0%{transform:translate(0, 40px);-webkit-transform:translate(0, 40px);opacity:0;}
 100%{transform:translate(0, 0);-webkit-transform:translate(0, 0);opacity:1;}
 }
 @-moz-keyframes fadeIn {
 0%{transform:translate(0, 40px);-webkit-transform:translate(0, 40px);opacity:0;}
 100%{transform:translate(0, 0);-webkit-transform:translate(0, 0);opacity:1;}
 }
 
 /*=============================For Loader========================*/
 .btn-loader.loader { opacity:1; margin: auto; font-size: 0.3em; position: absolute; text-indent: -9999em; border-top: 1em solid rgba(226, 60, 60, 0.2); border-right: 1em solid rgba(226, 60, 60, 0.2); border-bottom: 1em solid rgba(226, 60, 60, 0.2); border-left: 1em solid #E23C3C; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-animation: load8 1.1s infinite linear; animation: load8 1.1s infinite linear; top:0; right:0; left:0; bottom:0; overflow:hidden;}
 .btn-loader.loader,
 .btn-loader.loader:after { border-radius: 50%; width: 7em; height: 7em;}
 
 @-webkit-keyframes load8 { 0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 @keyframes load8 {
   0% {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 
 /*Accordion*/
 .faqs-section .panel{ background-color:transparent; text-align:left; box-shadow:none; border:0;}
 .faqs-section .panel-heading{ background-color:transparent;}
 .faqs-list{ margin:30px;}
 .faqs-section .panel-title{text-transform:none; font-size:18px; line-height: 24px;}
 .faqs-section .dic.media-left{ padding-right: 19px; line-height:1; font-size:22px;}
 .faqs-section .panel-group .panel-heading + .panel-collapse > .panel-body, .faqs-section .panel-group .panel-heading + .panel-collapse > .list-group{ border:none; padding-left:55px; padding-bottom:0; padding-top:0;}
 
 /*====================section custom css================*/
 .section-custom{ max-width:800px;}
 
 /*========================= Inbox Style starts =========================*/
 .mailbox .tab-pane h5{font-size:14px;color:rgba(0,0,0,0.40);margin:30px 0 10px;font-weight:400;text-align:right;}
 .mailbox .avtar-detail{color:#333;display:table-cell;}
 .mailbox .user-details{min-width:200px;}
 .mailbox .user-details .avatar-list-img40x40{float:left;margin-right:16px;display:table-cell;}
 .mailbox .date-time{font-size:12px;font-weight:500;color:rgba(0,0,0,0.44);display:inline-block;text-align:right;min-width:80px;line-height:1.25;}
 .mailbox .list-group-item{ padding:16px; border-bottom:solid 1px #eee;}
 .mailbox .list-group-item .message-detail .list-group-item-heading{line-height:18px;}
 .mailbox .read.list-group-item{background:#f9f9f9;}
 .mailbox .list-group-item .message-detail .list-group-item-heading span{color:rgba(0,0,0,0.54);font-size:14px;font-weight:400;} 
 .mailbox .list-group-item .avtar-detail .list-group-item-heading span{color:rgba(0,0,0,0.54);font-size:15px;}
 .mailbox .list-group-item .avtar-detail .list-group-item-text{font-size:13px;line-height:1.25;margin-top:4px;display:inline-block;color:rgba(0, 0, 0, 0.54);opacity:1;}
 .mailbox .action-bar .checkbox{margin:4px 0 0 16px; width:18px;}
 .mailbox .action-bar .checkbox .custom-checkbox{width:18px;height:16px;display:inline-block;vertical-align:middle;}
 .mailbox .action-bar .btn-delete{background:transparent;padding:5px;height:35px;width:auto;min-width:inherit;vertical-align:middle;line-height:31px; /*margin-left:10px;*/}
 .mailbox .action-bar .floatinglabels{position:relative;}
 .mailbox .action-bar .floatinglabels .form-control{border-color:#ccc;}
 .mailbox .action-bar .dic-search{bottom: 5px;color: #848484;display: inline-block;font-size: 20px;position: absolute;right: 0;width: 20px;}
 .mailbox .action-bar .btn-delete:hover .dc{background-position:center 0px;}
 .mailbox .action-bar .btn-delete .dc{vertical-align:middle;margin:0;}
 .mailbox .media-left.media-check{vertical-align:middle;padding-right:4px;}
 .btn-delete .dic{width:22px;height:26px;display:inline-block;vertical-align:middle;color:rgba(0,0,0,0.54)}
 .btn-delete:hover .dic{color:rgba(0,0,0,0.84)}
 .mailbox .checkbox label.pmd-checkbox{ padding-right:0;}
 .mailbox .list-group-item a:hover, .mailbox .list-group-item a:focus, .mailbox .list-group-item a:active{ text-decoration:none;}
 @media (max-width: 767px) {
 .mailbox .use-details { padding: 0; width: 100%;}
 .mailbox .media-body { display: block; margin-top: 8px; padding-left: 30px; width: auto;}
 .mailbox .date-time{min-width:inherit;  padding-left: 19px;}
 .mailbox .user-details{min-width:100%;}
 .mailbox .action-bar .btn-delete{ padding:5px 2px;}
 }
 
 /*========================= Notification  Start=========================*/
 .list-group-item.saved-article:hover,.list-group-item.saved-article.unread, .list-group-item.unread{background:#F7F7F7}
 .notifications .list-group-item.new-day:first-child{margin-top:46px}
 .notifications .list-group-item.new-day::before{content:attr(data-date);display:block;font-size:13px;font-weight:500;left:0;position:absolute;color:rgba(51,51,51,0.64);top:-30px;}
 .notifications .list-group-item.new-day{border-top:1px solid rgba(0,0,0,0.08);margin-top:62px}
 .mobile-only { display:none !important;}
 
 /*=================Login css====================*/
 .body-custom{ height:100%;}
 .logincard{margin:auto; position:relative; top:50%; max-width:360px; transform: translate(0px, -50%);}
 .logincard .checkbox{ margin-left:0px;}
 .logincard .checkbox label{padding:0;}
 .logincard .dic{ margin-right:7px;}
 .logincard .card-header{ padding:0; margin:0px auto;}
 .loginlogo{ text-align:center; padding:30px 15px 10px;}
 .loginlogo a img{ max-width:100%;}
 .loginlogo img{height: 48px;}
 .forgot-password{padding-top:8px;}
 .remember{ color:#999;}
 .redirection-link{ margin-top:30px; /*margin-bottom:30px;*/}
 .card-footer-no-border{ border-color:transparent; padding-top:0;}
 .card-footer-p16{ padding-left:20px; padding-right:20px; }
 .login-card h3,
 .register-card h3,
 .forgot-password-card h3{ color:rgba(0, 0, 0, 0.87); font-size:16px; margin-top:0; margin-bottom:20px;}
 .login-card .card-body,
 .register-card .card-body{ padding-bottom:10px; margin:0;}
 .register-card, .forgot-password-card{ display:none;}
 .register-card, .login-card, .forgot-password-card{ position:relative;}
 .register-card h3 span,
 .login-card h3 span{ color:rgba(0, 0, 0, 0.54);}
 .forgot-password-card h3 span{ font-size:14px; color:rgba(0, 0, 0, 0.54); width:80%; margin-top:5px; display:inline-block; line-height:18px;}
 .logincard .alert{ display:none;}
 .forgot-password-card .form-group.pmd-textfield{ margin-bottom:55px;}
 .card-footer .pmd-checkbox-label {display: inline-block;margin-top: -2px;}
 @media screen and (max-width: 768px) {
 .logincard{max-width:300px;}	
 .forgot-password a{font-size: 0.7rem;}
 }
 @media screen and (max-width: 480px) {
 .logincard .loginlogo img { height:60px;}
 .logincard .card { margin-bottom:0;}
 }
 @media (min-width: 321px) and (max-width: 480px) {
 .logincard { max-width: 330px;}
 }
 @media (max-width: 320px) {
 .logincard { max-width: 290px;}	
 }
 
 /*==========================Contact Start============================*/
 .contact-page {margin-bottom: 250px;position: relative;}
 .contact-page .contact-form {bottom: 0;left: 0;margin-top: -436px;position: relative;right: 0;top: 200px;}
 .contact-page .contact-details {display: table; width:100%;}
 .contact-page .feedback-form {padding: 30px 20px;width: 100%;}
 .contact-page .fill .adress-col {background: #4285f4 none repeat scroll 0 0;display: table-cell;float: none;padding-bottom: 30px;padding-top: 30px;vertical-align: top;}
 .contact-page .pmd-display1 {color: #4d4d4d;margin-top: 0;opacity: 1; font:33px/40px "Roboto";}
 .contact-page .fill .adress-col .contact-info {color: #fff;margin-top: 35px;}
 .contact-page .fill .adress-col .contact-info span b {text-transform: uppercase; color:#fff; font-weight:300; opacity:0.74; font-size:13px;}
 .contact-page .fill .adress-col .contact-info span a{ color:#fff; opacity:0.74;}
 .contact-page .contact-details .content-title{ color:#fff;}
 .contact-page .fill .adress-col .content-title {color: #fff;margin-top: 0; font:33px/40px "Roboto";}
 .feedback-form .sub-title {color: #737373;font-size: 18px;font-weight: 300;line-height: 20px;margin-bottom: 20px;}
 @media (max-width: 990px) {
 .contact-page .contact-form{ padding:0 20px;}
 .contact-page .fill .adress-col{ display:inline-block;}
 }
 @media (max-width: 767px) {
 .contact-page .contact-form{ padding:0 8px;}
 .contact-page .fill .adress-col .contact-info{ margin-top: 20px;}
 }
 
 /*=================== About css ==============================*/
 /*.about-content{ padding:0 20px 16px;}
 .about-content ol{ padding-left:16px;}
 .about-content h3{ font-weight:bold;}*/
 
 /*================== 404 page========================*/
 .body-404page{ background-color:#1453a1; display:block;}
 .errorpage{ height:100%;}
 .wrapper {min-height: 100%;position: relative; background: url("themes/images/propeller-bg.jpg") bottom no-repeat;}
 .header-primary {margin-top: 160px;padding: 8px 0;text-align: center;}
 .header-primary > a {transition: opacity 0.3s ease-in-out 0s;}
 .header-primary .logo {animation: 1.2s linear 0s normal none 1 running fadeInUp;}
 .content-primary {margin: 0 auto;padding: 0px 0 224px;text-align: center;color:#fff;}
 .content-primary .section-footer {margin-top: 40px;}
 .content-primary h1.title{ color:#fff; font-size:36px;}
 .content-primary > h1 {animation: 1.7s linear 0s normal none 1 running fadeInUp;margin-bottom: 20px;}
 .content-primary > p{ animation:1.9s linear 0s normal none 1 running fadeInUp;}
 .content-primary .section-footer .btn{ margin:0 8px; min-width:160px;}
 .content-primary .section-footer .btn.btn-primary{ animation:2.4s linear 0s normal none 1 running fadeIn;}
 .content-primary .section-footer .btn.btn-secondary{ animation:2.8s linear 0s normal none 1 running fadeIn;}
 
 /*======================== Blank page======================*/
 /*.no-table-found h2 {color:#555;}
 .no-table-found p {margin-bottom: 20px; opacity: 0.75; color:#555;}
 .no-table-found .btn{font-size: 16px; padding: 14px 30px; width: 290px;}*/
 
 /*==================== todo list css ====================*/
 /*.todos .pmd-card-list{ min-height:312px;}
 .todo-lists .pmd-checkbox{ margin-bottom:0; vertical-align:middle;}
 .todo-lists span{ display:table-cell;}*/
 
 /*============= Profile css ======================*/
 .fileinput { margin-bottom: 9px; display: inline-block; position:relative;}
 .fileinput .form-control {padding-top: 7px;padding-bottom: 5px;display: inline-block;margin-bottom: 0px;vertical-align: middle;cursor: text;}
 .fileinput .thumbnail {overflow: hidden;display: inline-block;margin-bottom: 5px;vertical-align: middle;text-align: center; width:100%; min-height:50px; background-color:#f8f8f8}
 .fileinput .thumbnail > img {max-height: 100%;}
 .fileinput .btn {vertical-align: middle;}
 
 .fileinput .btn.btn-default, 
 .fileinput .btn.btn-default, 
 .fileinput .btn.btn-default{ background-color:rgba(0, 0, 0, 0.2);}
 
 .fileinput-exists .fileinput-new,.fileinput-new .fileinput-exists {  display: none;}
 .fileinput-inline .fileinput-controls {  display: inline;}
 .fileinput-filename {  vertical-align: middle;  display: inline-block;  overflow: hidden;}
 .form-control .fileinput-filename {  vertical-align: bottom;}
 .fileinput.input-group {  display: table;}
 .fileinput.input-group > * {  position: relative;  z-index: 2;}
 .fileinput.input-group > .btn-file {  z-index: 1;}
 .fileinput-new.input-group .btn-file,.fileinput-new .input-group .btn-file {  border-radius: 0 4px 4px 0;}
 .fileinput-new.input-group .btn-file.btn-xs,.fileinput-new .input-group .btn-file.btn-xs,.fileinput-new.input-group .btn-file.btn-sm,.fileinput-new .input-group .btn-file.btn-sm {  border-radius: 0 3px 3px 0;}
 .fileinput-new.input-group .btn-file.btn-lg,.fileinput-new .input-group .btn-file.btn-lg {  border-radius: 0 6px 6px 0;}
 .form-group.has-warning .fileinput .fileinput-preview {  color: #8a6d3b;}
 .form-group.has-warning .fileinput .thumbnail {  border-color: #faebcc;}
 .form-group.has-error .fileinput .fileinput-preview {  color: #a94442;}
 .form-group.has-error .fileinput .thumbnail {  border-color: #ebccd1;}
 .form-group.has-success .fileinput .fileinput-preview {  color: #3c763d;}
 .form-group.has-success .fileinput .thumbnail {  border-color: #d6e9c6;}
 .input-group-addon:not(:first-child) {  border-left: 0;}
 .btn.btn-file{overflow:hidden;position:relative;vertical-align:middle; min-width:36px; padding:5px 5px 4px;}
 .btn.btn-file .dic{font-size:20px;}
 .btn.btn-file > input[type=file]{width:100%;position:absolute;left:0;top:0;opacity:0;cursor:pointer}
 .fileupload .uneditable-input{display:inline-block;margin-bottom:0;vertical-align:middle;height:28px !important}
 .fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:10px;vertical-align:middle;text-align:center}
 .fileupload .thumbnail > img{display:inline-block;vertical-align:middle;max-height:100%}
 .fileupload .btn{vertical-align:middle}
 .fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none}
 .fileupload-inline .fileupload-controls{display:inline}
 .fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
 .fileupload .fileupload-preview {vertical-align:middle}
 .fileupload .close.fileupload-exists {vertical-align:middle}
 .btn-file .ripple-wrapper{ display:none;}
 .action-button{opacity:0;position:absolute; bottom:15px; left:0px; text-align:center; width:100%;-webkit-transition: 0.4s ease-in-out;-moz-transition: 0.4s ease-in-out;-o-transition: 0.4s ease-in-out;transition: 0.4s ease-in-out;}
 .fileinput{width:166px;-webkit-transition: 0.4s ease-in-out;overflow:hidden;-moz-transition: 0.4s ease-in-out;-o-transition: 0.4s ease-in-out;transition: 0.4s ease-in-out; margin-right:10px;}
 .fileinput:hover .action-button{opacity:1;}
 .fileupload .btn{ padding:5px 10px; min-width:36px; background-color:#FFF !important; font-size:15px;}
 .prousername{margin-bottom:20px;}
 .profile-edit .pmd-textfield .form-control-static{ padding-top:4px;}
 
 @media only screen and (max-width: 767px)
 {
   .profile-edit .pmd-textfield label{text-align:left !important;}
 }
 
 .pmd-card{ margin-bottom:0;}
 .component-section{ margin-bottom: 20px; margin-top: 30px;}
 .component-section h2{ margin-top:0;}
 .component-box{ margin-bottom: 20px;}
 .component-desc{ font-size:14px; margin-top:4px;}
 
 .component-box .pmd-card.pmd-card-inverse h3 { color:#fff; text-transform:capitalize; line-height:1.4;}
 @media (max-width: 767px) {
 .component-section{ margin-top:0;}
 }
 .table-title-top-action{ margin-top:20px;}
 .table-title-top-action a.btn{ margin-left:20px;}
 .pmd-table-row-action{width:156px;}
 .pmd-table-row-action a{ margin:-8px 0;}
 .direct-expand i::before{ content: "\e148"; font-family: "Material icons";}
 .direct-expand.child-table-collapse i::before{content: "\e15D";}
 .login-card-section{ max-width:400px;}
 .shadow-demo{ margin-bottom:30px; min-height:100px;}
 
 /*======================== Blank page======================*/
 @media (max-width: 639px) {
 h1.pmd-display4 { font-size: 4rem;}
 }
 /*======================== Modal page======================*/
 /*@media (max-width: 768px) {
 .component-box .pmd-card-body.modal-btn  .btn, .pmd-card-body.dropdown-btn .btn {margin: 5px 2px;}
 }*/
 /*======================== Tab page======================*/
 /*.dropdown-tab .pmd-tabs .nav .open > a, .dropdown-tab .pmd-tabs .nav .open > a:hover, .dropdown-tab .pmd-tabs .nav .open > a:focus { background-color: transparent; border-color: transparent; opacity: 1;}*/
 
 /* ---------- Card Responsive CSS ----------- */
 .card-custom-view {width: 22.5rem;}
 .overlay-card img {width:100%; height:auto;}
 .overlay-card .card-img-overlay {margin-top:100px;}
 @media only screen and (max-width:767px)
 {
   .card-custom-view {width:100%;}
   .overlay-card img{height:250px;}
   .overlay-card .card-img-overlay {margin-top:0;}
 }
 @media only screen and (min-width:768px) and (max-width:1200px)
 {
   .card-custom-view {width:50%;}
   .overlay-card .card-img-overlay {margin-top:50px;}
 }
 
 /* ------------ Button Responsive View CSS ------------- */
 /*.admin .card-body .row .btn, .admin .card-body > .pmd-chip, .admin .btn-responsive-view > .btn, .admin .card-body.modal-btn  .btn {margin: 5px 2px;}*/
 
 /*@media (max-width: 1500px) {
   .admin .btn-responsive-view > .btn {margin: 5px 2px;}
 }
 */
 /* ------------ Data Table -------------- */
 .bg-dark .data-table-title .card-title {color:#fff;}
 
 /* Carousel Component */
 .responsive-carousel-padding {padding:0 4rem;}
 #auto-height-carousel .lead {padding:0 20px;}
 @media only screen and (max-width:1000px)
 {
   .responsive-carousel-padding {padding:0;}
   #auto-height-carousel .pmd-display3 {font-size: 1.5rem; line-height:1.5;}
   #auto-height-carousel .lead {font-size: 1rem; line-height:1.5; padding:0 10px;}
 }
 
 /* Sidebar Iframe */
 .sidebar-iframe { display:inline-block; vertical-align:middle; width:100%; height:335px; border:none;}
 .menubar-iframe { display:inline-block; vertical-align:middle; width:100%; height:335px; border:none;}
 .sidebar-pmd-content p{ width:95%;}
 
 /* pmd-sidebar-icon-visible */
 .pmd-sidebar.pmd-sidebar-icon-visible{ width:64px; min-width:64px; transform:translate3d(0,0,0); z-index: 1;}
 .pmd-sidebar.pmd-sidebar-open.pmd-sidebar-icon-visible{ width:280px; min-width:280px;}
 
 .pmd-sidebar .pmd-sidebar-nav .media-body,
 .pmd-sidebar .pmd-sidebar-nav .pmd-user-info i{ opacity: 0; display: none;}
 .pmd-sidebar.pmd-sidebar-open .pmd-sidebar-nav .media-body,
 .pmd-sidebar.pmd-sidebar-open .pmd-sidebar-nav .pmd-user-info i{ opacity: 1; display: inherit;}
 
 /* Button Spacing in Mobile View */
 @media (max-width: 1200px){
 .btn-component .card-body button {margin: 5px 2px;}
 }
 
 .pmd-badge-light.md-light {color: rgba(255,255,255,.5) !important;} 