<!doctype html>
<html>
    <head>
        <% include  ../../partials/head %>
    </head>
    <body>
        <section class="inner-page-container get-class">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12">
                        <section class="error-404 not-found text-center">
                            <img src="">
                            <h1 class="pmd-display-3 ff-roboto">whoops!</h1>
                            <p class="lead">We couldn’t find the page you were looking for</p>
                            <a class="btn btn-lg pmd-ripple-effect pmd-btn-raised btn-primary" href="/admin">Goto HOME!</a>
                        </section><!-- .error-404 -->
                    </div>
                </div>
            </div>
        </section>
    </body>