<form>
    <div class="custom-control custom-radio pmd-radio custom-control-inline">
      	<input type="radio" id="customRadioInline1" name="customRadio" class="custom-control-input">
      	<label class="custom-control-label pmd-radio-ripple-effect" for="customRadioInline1">1</label>
    </div>
    <div class="custom-control custom-radio pmd-radio custom-control-inline">
      	<input type="radio" id="customRadioInline2" name="customRadio" class="custom-control-input">
      	<label class="custom-control-label pmd-radio-ripple-effect" for="customRadioInline2">2</label>
    </div>
    <div class="custom-control custom-radio pmd-radio custom-control-inline">
      	<input type="radio" id="customRadioInline3" name="customRadio" class="custom-control-input">
      	<label class="custom-control-label" for="customRadioInline3">3</label>
    </div>
</form>