<!-- Simple radio with label -->
<div class="custom-control custom-radio pmd-radio">
	<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked>
  	<label class="custom-control-label" for="customRadio1">On</label>
</div>

<!-- Simple radio with label and ripple effect-->
<div class="custom-control custom-radio pmd-radio">
	<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  	<label class="custom-control-label pmd-radio-ripple-effect" for="customRadio2">Option one is this and that&mdash;be sure to include why it's great</label>
</div>

<!-- Disabled radio with label-->
<div class="custom-control custom-radio pmd-radio">
  	<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled />
  	<label class="custom-control-label pmd-radio-ripple-effect" for="customRadio3">Option two is disabled</label>
</div>