<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Demands</title>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
        <% include  ../../partials/leftsidebar %>
            <div id="content" class="pmd-content inner-page admin">
                <div class="container-fluid">
                    <!-- <h2 class="card-title customCount">Total Demand -
                        <%= data.demands[0].totalFutureRequests %>
                    </h2> -->
                    <p>
                        <!-- Check out Number of Drivers Zip Code wise by hovering on the particular state in the map given below. -->
                        Check out the total available supply of drivers state wise throughout India by hovering on the particular location.
                    </p>
                    <!-- <div class="mb-lg-2 mb-4">
                        <form name="mapsearch" id="mapsearch" method="POST">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-2">
                                    <div class="form-group pmd-textfield">

                                        <select name="monthfrom" id="monthfrom" class="form-control">
                                            <option value="">From</option>
                                            <option value="0">January</option>
                                            <option value="1">February</option>
                                            <option value="2">March</option>
                                            <option value="3">April</option>
                                            <option value="4">May</option>
                                            <option value="5">June</option>
                                            <option value="6">July</option>
                                            <option value="7">August</option>
                                            <option value="8">September</option>
                                            <option value="9">October</option>
                                            <option value="10">November</option>
                                            <option value="11">December</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-2">
                                    <div class="form-group pmd-textfield">

                                        <select name="monthto" id="monthto" class="form-control">
                                            <option value="">To</option>
                                            <option value="0">January</option>
                                            <option value="1">February</option>
                                            <option value="2">March</option>
                                            <option value="3">April</option>
                                            <option value="4">May</option>
                                            <option value="5">June</option>
                                            <option value="6">July</option>
                                            <option value="7">August</option>
                                            <option value="8">September</option>
                                            <option value="9">October</option>
                                            <option value="10">November</option>
                                            <option value="11">December</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield">
                                        <% var jobroledata = data.demands[0].jobroles %>
                                        <select name="fk_jobroleID" id="jobrole" class="form-control">
                                            <option value="">JobRole</option>
                                            <%  for (var key in jobroledata) { %>
                                                <option value="<%= jobroledata[key].fk_jobroleID %>"><%= jobroledata[key].jobroleName %></option>
                                             <% } %>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="form-group pmd-textfield">
                                        <% var employersdata = data.demands[0].employers %>
                                        <select name="fk_industrypartnerid" id="employer" class="form-control">
                                            <option value="">Industry Partner</option>
                                            <%  for (var key in employersdata) { %>
                                                <option value="<%= employersdata[key].fk_industrypartnerid %>"><%= employersdata[key].employerName %></option>
                                                <% } %>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-2">
                                    <button type="submit" title="Go" class="btn btn-primary btn-raised">Go</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <div class="row">
                        <div class="col-xl-11 col-12">
                            <div class="card pmd-card">
                                <div class="card-body">
                                    <div id="map" style="width: 100%; height: 600px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <% include  ../../partials/footertext %>
                <% include  ../../partials/footer %>
                <script type="text/javascript" src="../pages/driversByZip/driversByZip.js"></script>

                    <script>
                        var statedata = '<%-JSON.stringify(data.demands[0].StatewiseCandidate) %>';
                        var apidata = '<%-JSON.stringify(data.demands[0].apiKey) %>';
                        var apiKey = JSON.parse(apidata);
                        

                        function loadScript() {
                            var script = document.createElement('script');
                            script.type = 'text/javascript';
                            script.src = 'https://maps.googleapis.com/maps/api/js' +
                                '?key=' + apiKey + '&callback=initMap';
                            document.body.appendChild(script);
                        }

                        window.onload = loadScript;
                    </script>
                    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=" +apiKey+ "&callback=initMap"></script> -->
</body>

</html>