<!-- Auto Sizing -->
<form>
    <div class="form-row align-items-center">
        <div class="form-group pmd-textfield col-auto">
            <input type="text" id="auto-form-fn" class="form-control" placeholder="Email">
        </div>
        <div class="form-group pmd-textfield col-auto">
            <input id="auto-form-pass" class="form-control" type="text" placeholder="Password">
        </div>
        <div class="col-auto">
            <div class="custom-control custom-checkbox pmd-checkbox col-auto">
                <input class="custom-control-input" type="checkbox" value="" id="auto-form-Checkbox2">
                <label class="custom-control-label pmd-checkbox-ripple-effect" for="auto-form-Checkbox2">
                    Remember Me
                </label>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
        </div>
    </div>
</form>