<form class="form-inline">
    <div class="form-group pmd-textfield mr-3">
        <input type="text" id="auto-form-fn" class="form-control" placeholder="Email">
    </div>
    <div class="form-group pmd-textfield mr-3">
        <input id="auto-form-pass" class="form-control" type="text" placeholder="Password">
    </div>
    <div class="custom-control custom-checkbox pmd-checkbox mr-3">
        <input class="custom-control-input" type="checkbox" value="" id="inline-form-Checkbox2">
        <label class="custom-control-label pmd-checkbox-ripple-effect" for="inline-form-Checkbox2">
            Remember Me
        </label>
    </div>
    <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
</form>