<form>
    <div class="form-row">
        <div class="form-group pmd-textfield pmd-textfield-floating-label col">
            <label for="form-grid-un">Username</label>
            <input type="text" id="form-grid-un" class="form-control">
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label col">
            <label for="form-grid-pass">Password</label>
            <input id="form-grid-pass" class="form-control" type="text">
        </div>
    </div>
</form>