<form>
    <div class="form-row">
        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
            <label for="form-layout-fn">First Name</label>
            <input type="text" id="form-layout-fn" class="form-control">
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
            <label for="form-layout-ln">Last Name</label>
            <input id="form-layout-ln" class="form-control" type="text">
        </div>
    </div>
    
    <div class="form-group pmd-textfield pmd-textfield-floating-label">
        <label for="form-layout-email">Email</label>
        <input type="email" id="form-layout-email" class="form-control">
    </div>
    
    <div class="form-row">
        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-9">
            <label for="form-layout-address1">Address</label>
            <input type="text" id="form-layout-address1" class="form-control">
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-3">
            <label for="form-layout-zip">Zip Code</label>
            <input id="form-layout-zip" class="form-control" type="number">
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
            <label for="form-layout-address1">City</label>
            <input type="text" id="form-layout-address1" class="form-control">
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
            <label for="form-layout-address2">State</label>
            <input id="form-layout-address2" class="form-control" type="text">
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
            <label for="country-select">Country</label>
            <select id="country-select" class="form-control">
                <option></option>
                <option>India</option>
                <option>United States of America</option>
                <option>United Kingdom</option>
                <option>Australia</option>
                <option>New Zealand</option>
                <option>United Arab Emirates</option>
                <option>Africa</option>
                <option>Russia</option>
            </select>
        </div>
    </div>
    
    <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
	<button type="submit" class="btn pmd-ripple-effect btn-light">Reset</button>
</form>