<div tabindex="-1" class="modal pmd-modal fade" id="candidate-dialog" style="display: none;" aria-hidden="true" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <div class="media-body">
                    <h3 class="card-title">Candidate Details</h3>
                    <!--  <p class="card-subtitle">Secondary text</p> -->
                </div>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            </div>
            <!-- <div class="pmd-modal-media"> <img width="1184" height="666" class="img-fluid" src="http://propeller.in/assets/images/profile-pic.png"> </div> -->
            <div class="modal-body">
                <div class="bottom-fab" id="content">

                    <!-- Basic Information -->
                    <label class="field-group-label">Basic Information</label>
                    <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Candidate Name</p>
                            <h2 class="pmd-list-title">
                                <%= (data.candidate_name !== undefined && data.candidate_name != '' && data.candidate_name) ? data.candidate_name : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Aadhaar Number</p>
                            <h2 class="pmd-list-title">
                                <% var tmp = '************' %>
                                <%= (data.aadhaar_number !== undefined && data.aadhaar_number != '' && data.aadhaar_number) ? tmp : '-' %>
                            </h2>
                        </li>

                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Aadhaar Enrollment ID</p>
                            <h2 class="pmd-list-title">
                                <%= (data.aadhaar_enrollment_id !== undefined && data.aadhaar_enrollment_id != '' && data.aadhaar_enrollment_id) ? data.aadhaar_enrollment_id : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Alternate ID Type</p>
                            <h2 class="pmd-list-title">
                                <%= (data.alternateidtype !== undefined && data.alternateidtype != '' && data.alternateidtype) ? data.alternateidtype : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Alternate ID Number</p>
                            <h2 class="pmd-list-title">
                                <%= (data.alternate_id_number !== undefined && data.alternate_id_number != '' && data.alternate_id_number) ? data.alternate_id_number : '-' %>
                            </h2>
                        </li>

                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Phone</p>
                            <h2 class="pmd-list-title">
                                <%= (data.phone !== undefined && data.phone != '' && data.phone) ? data.phone : '-' %>
                            </h2>
                        </li>

                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Email Address</p>
                            <h2 class="pmd-list-title">
                                <%= (data.email_address !== undefined && data.email_address != '' && data.email_address) ? data.email_address : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">DOB</p>
                            <h2 class="pmd-list-title">
                                <%= (data.dob !== undefined && data.dob != '' && data.dob) ? data.dob : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Gender</p>
                            <h2 class="pmd-list-title">
                                <%= (data.gender !== undefined && data.gender != '' && data.gender) ? data.gender : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                                <p class="pmd-list-subtitle">Age</p>
                                <h2 class="pmd-list-title">
                                    <%= (data.age !== undefined && data.age != '' && data.age) ? data.age : '-' %>
                                </h2>
                            </li>
                            <li class="list-group-item">
                                <p class="pmd-list-subtitle">Candidate ID</p>
                                <h2 class="pmd-list-title">
                                    <%= (data.candidate_id !== undefined && data.candidate_id != '' && data.candidate_id) ? data.candidate_id : '-' %>
                                </h2>
                            </li>

                    </ul>

                    <!-- End - Basic Information -->
                    <label class="field-group-label">Other Information</label>
                    <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Address</p>
                            <h2 class="pmd-list-title">
                                <%= (data.address !== undefined && data.address != '' && data.address) ? data.address : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Pincode</p>
                            <h2 class="pmd-list-title">
                                <%= (data.pincode !== undefined && data.pincode != '' && data.pincode) ? data.pincode : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Experience in years</p>
                            <h2 class="pmd-list-title">
                                <%= (data.experience_in_years !== undefined && data.experience_in_years != '' && data.experience_in_years) ? data.experience_in_years : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">SDMS/NSDC Enrollment Number</p>
                            <h2 class="pmd-list-title">
                                <%= (data.sdmsnsdc_enrollment_number !== undefined && data.sdmsnsdc_enrollment_number != '' && data.sdmsnsdc_enrollment_number) ? data.sdmsnsdc_enrollment_number : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Training Status</p>
                            <h2 class="pmd-list-title">
                                <%= (data.training_status !== undefined && data.training_status != '' && data.training_status) ? data.training_status : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Attendence Percentage</p>
                            <h2 class="pmd-list-title">
                                <%= (data.attendence_percentage !== undefined && data.attendence_percentage != '' && data.attendence_percentage) ? data.attendence_percentage : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Placement Status</p>
                            <h2 class="pmd-list-title">
                                <%= (data.placement_status !== undefined && data.placement_status != '' && data.placement_status) ? data.placement_status : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Employment Type</p>
                            <h2 class="pmd-list-title">
                                <%= (data.employment_type !== undefined && data.employment_type != '' && data.employment_type) ? data.employment_type : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Assessment Score</p>
                            <h2 class="pmd-list-title">
                                <%= (data.assessment_score !== undefined && data.assessment_score != '' && data.assessment_score) ? data.assessment_score : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Max Assessment Score</p>
                            <h2 class="pmd-list-title">
                                <%= (data.max_assessment_score !== undefined && data.max_assessment_score != '' && data.max_assessment_score) ? data.max_assessment_score : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Assessment Date</p>
                            <h2 class="pmd-list-title">
                                <%= (data.assessment_date !== undefined && data.assessment_date != '' && data.assessment_date) ? data.assessment_date : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Training Type</p>
                            <h2 class="pmd-list-title">
                                <%= (data.training_type !== undefined && data.training_type != '' && data.training_type) ? data.training_type : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Batch ID</p>
                            <h2 class="pmd-list-title">
                                <%= (data.batch_id !== undefined && data.batch_id != '' && data.batch_id) ? data.batch_id : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Batch Start Date</p>
                            <h2 class="pmd-list-title">
                                <%= (data.batch_start_date !== undefined && data.batch_start_date != '' && data.batch_start_date) ? data.batch_start_date : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Batch End Date</p>
                            <h2 class="pmd-list-title">
                                <%= (data.batch_end_date !== undefined && data.batch_end_date != '' && data.batch_end_date) ? data.batch_end_date : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">State</p>
                            <h2 class="pmd-list-title">
                                <%= (data.stateName !== undefined && data.stateName != '' && data.stateName) ? data.stateName : '-' %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">City</p>
                            <h2 class="pmd-list-title">
                                <%= (data.cityName !== undefined && data.cityName != '' && data.cityName) ? data.cityName : '-'  %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Sector</p>
                            <h2 class="pmd-list-title">
                                <%= (data.sectorName !== undefined && data.sectorName != '' && data.sectorName) ? data.sectorName : '-'  %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Jobrole</p>
                            <h2 class="pmd-list-title">
                                <%= (data.jobroleName !== undefined && data.jobroleName != '' && data.jobroleName) ? data.jobroleName : '-'  %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Scheme Type</p>
                            <h2 class="pmd-list-title">
                                <%= (data.schemeType !== undefined && data.schemeType != '' && data.schemeType) ? data.schemeType : '-'  %>
                            </h2>
                        </li>
                        <li class="list-group-item">
                            <p class="pmd-list-subtitle">Is Candidate Willing to Relocate</p>
                            <h2 class="pmd-list-title">
                                <%= (data.willing_to_relocate !== undefined && data.willing_to_relocate != '' && data.willing_to_relocate) ? data.willing_to_relocate : '-'  %>
                            </h2>
                        </li>
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button">Close</button>
            </div>
        </div>
    </div>
</div>