<% if(data != undefined) { %>
    <% } %>

        <div tabindex="-1" class="modal pmd-modal fade" id="contact-dialog" style="display: none;" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <div class="media-body">
                            <h3 class="card-title">Contact Enquiry Details</h3>
                            <!--  <p class="card-subtitle">Secondary text</p> -->
                        </div>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <!-- <div class="pmd-modal-media"> <img width="1184" height="666" class="img-fluid" src="http://propeller.in/assets/images/profile-pic.png"> </div> -->
                    <div class="modal-body">
                        <div class="bottom-fab" id="content">

                            <!-- Basic Information -->
                            <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">First Name</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.firstName !== undefined && data.firstName != '') ? data.firstName : '-' %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Last Name</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.lastName !== undefined && data.lastName != '') ? data.lastName : '-' %>
                                    </h2>
                                </li>
                                
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">
                                            <% switch (data.partner_type) { 
                                                case 'TP': %>

                                             Training Partner Name
                                             
                                                <% break; 
                                                 case 'EMP': %>    

                                                Employer Name
                                                <% break;
                                            } %>  
                                        
                                    </p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.partner_name !== undefined && data.partner_name != '') ? data.partner_name : '-' %>
                                    </h2>

                                </li>

                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Partner Type</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.partner_type !== undefined && data.partner_type != '') ? data.partner_type : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Subject</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.subject !== undefined && data.subject != '') ? data.subject : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Message</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.message !== undefined && data.message != '') ? data.message : '-' %>
                                    </h2>

                                </li>

                                
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">E-Mail</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.eMail !== undefined && data.eMail != '') ? data.eMail : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Mobile</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.mobile !== undefined && data.mobile != '') ? data.mobile : '-' %>
                                    </h2>

                                </li>
                                

                            </ul>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>