<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script>
	$(document).ready(function () {
		var sPath = window.location.pathname;
		var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
		$(".pmd-sidebar-nav").each(function () {
			$(this).find("a[href='" + sPage + "']").parents(".collapse").addClass("show");
			$(this).find("a[href='" + sPage + "']").parents(".collapse").prev('a.nav-link').addClass("active");
			$(this).find("a[href='" + sPage + "']").addClass("active");
		});
	});
</script>
<script type="text/javascript">
	(function () {
		"use strict";
		var toggles = document.querySelectorAll(".c-hamburger");
		for (var i = toggles.length - 1; i >= 0; i--) {
			var toggle = toggles[i];
			toggleHandler(toggle);
		};
		function toggleHandler(toggle) {
			toggle.addEventListener("click", function (e) {
				e.preventDefault();
				(this.classList.contains("is-active") === true) ? this.classList.remove("is-active") : this.classList.add("is-active");
			});
		}

	})();
</script>

<!-- build:[src] assets/js/ -->
<script src="/assets/js/propeller.min.js"></script>
<!-- /build -->
<script src="/javascripts/common.js" charset="utf-8"></script>
<script src="/assets/js/jquery.validate.js"></script>
<script src="/javascripts/formValidation.js" charset="utf-8"></script>
<script src="/javascripts/jquery.cookie.min.js" charset="utf-8"></script>

<script src="/javascripts/constants.js" charset="utf-8"></script>
<script src="/javascripts/api.js" charset="utf-8"></script>

<!-- Javascript for Datepicker -->
<script type="text/javascript" language="javascript" src="/components/datetimepicker/js/moment-with-locales.js"></script>
<script type="text/javascript" language="javascript" src="/components/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<!-- Datatable Bootstrap -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<!-- Datatable responsive js-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

<!-- Datatable responsive js-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable select js-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

<!-- Propeller Datatable Js -->
<script src="/themes/js/ddata-table.js"></script>
<script>
	// Linked date and time picker 
	// start date date and time picker 
	$('#datetimepicker-default').datetimepicker();
	$(".auto-update-year").html(new Date().getFullYear());

</script>