<!--footer start-->
<footer class="admin-footer bg-transparent border-top-0">
    <div class="container-fluid">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <span class="card-subtitle">Skillconnect &copy;
                    <span class="auto-update-year"></span>. All Rights Reserved.</span>
            </li>
        </ul>
    </div>
    <button type="button" id="btnSuccess" style="display:none" data-positionX="right" data-positionY="top" data-effect="fadeInUp"
        data-message="Well done! You successfully read this important alert message." data-type="success" class="btn pmd-ripple-effect btn-success pmd-z-depth pmd-alert-toggle">Alert Success</button>
    <!--Error Alert -->
    <button type="button" id="btnError" style="display:none" data-positionX="right" data-positionY="top" data-effect="fadeInUp"
        data-message="" data-type="danger" class="btn pmd-ripple-effect btn-danger pmd-z-depth pmd-alert-toggle">Alert Error</button>
</footer>
<!--footer end-->