<!-- Header Starts -->
<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-white pmd-navbar">
    <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1200"
        class="btn hidden-xs btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle">
        <i class="material-icons dark">menu</i> 
    </a>
    <a class="navbar-brand navbar-brand-custom cursor-pointer">
        <img src="/assets/images/skillconnect-logo.png">
    </a>
</nav>
<!-- Header Ends -->