<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Skillconnect Admin">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">

<title><%= title %></title>
<meta name="description" content=""/>

<link rel="shortcut icon" type="image/x-icon" href="/assets/images/skillconnect-favicon.png">

<!-- Google icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css">

<!-- Propeller css -->
<!-- build:[href] assets/css/ -->
<link rel="stylesheet" type="text/css" href="/assets/css/propeller.min.css">
<!-- /build -->
<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

<!-- Propeller date time picker css-->
<link rel="stylesheet" type="text/css" href="/components/datetimepicker/css/bootstrap-datetimepicker.css" />
<!-- build:[href] components/datetimepicker/css/ -->
<link rel="stylesheet" type="text/css" href="/components/datetimepicker/css/pmd-datetimepicker.css" />
<!-- /build -->

<!-- Propeller theme css-->
<link rel="stylesheet" type="text/css" href="/themes/css/propeller-theme.css" />

<!-- Propeller admin theme css-->
<link rel="stylesheet" type="text/css" href="/themes/css/propeller-admin.css">


<!-- DataTables css-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<!-- Propeller dataTables css-->

<!-- build:[href] components/data-table/css/ -->
<link rel="stylesheet" type="text/css" href="/components/data-table/css/pmd-datatable.css">
<!-- /build -->