<% if(data != undefined) { %>
    <% } %>
        <%
    var multiYears = [];
    var currentDate = new Date();
    var currentYear = currentDate.getFullYear();
    var nextYear = currentDate.getFullYear() + 1;
    var current_month = currentDate.getMonth() + 1;
    const monthNames = ["January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                    ];
    for (var y = 0; y <= 1; y++) {
      var forwardYears = currentYear + y;
      multiYears.push(forwardYears);
    }

    var htmlOptions = [];

var currentDate = new Date();
for (var m = 0; m < multiYears.length; m++) {
var multiYear = multiYears[m];
var startMonth = 1;

if (multiYear == currentDate.getYear() + 1900) {
startMonth = currentDate.getMonth() + 1;
}

var uptoMonths = 12;
if (multiYear == currentYear + 1) {
uptoMonths = currentDate.getMonth() + 1;
}
for (var i = startMonth; i <= uptoMonths; i++) {
htmlOptions.push(monthNames[i - 1] + "-" + multiYear);
}
}

        %>
            <div tabindex="-1" class="modal pmd-modal fade" id="hiring-request-dialog" style="display: none;" aria-hidden="true" data-backdrop="static"
                data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">

                            <div class="media-body">
                                <h3 class="card-title">Future-Hiring Request Details</h3>
                                <!--  <p class="card-subtitle">Secondary text</p> -->
                            </div>
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        </div>

                        <!-- <div class="pmd-modal-media"> <img width="1184" height="666" class="img-fluid" src="http://propeller.in/assets/images/profile-pic.png"> </div> -->
                        <div class="modal-body">
                            <div class="bottom-fab" id="content">

                                <!-- Basic Information -->
                                <label class="field-group-label">Basic Information</label>
                                <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">Employer</p>
                                        <h2 class="pmd-list-title">
                                            <%= (data.employerName !== undefined && data.employerName != '') ? data.employerName : '-' %>
                                        </h2>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">Employer Type</p>
                                        <h2 class="pmd-list-title">
                                            <% switch (data.employerType) {
                                            case 'limitedcompany' : %>
                                                Limited Company
                                                <% break;
						
                                            case 'privatelimited' : %>
                                                    Private Limited
                                                    <% break;

                                            case 'trust' : %>
                                                        Trust
                                                        <% break;

                                            case 'society' : %>
                                                            Society
                                                            <% break;

                                            case 'ngo' : %>
                                                                NGO
                                                                <% break;

                                        } %>


                                        </h2>

                                    </li>

                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">Sector</p>
                                        <h2 class="pmd-list-title">
                                            <%= (data.sectorName !== undefined && data.sectorName != '') ? data.sectorName : '-' %>
                                        </h2>

                                    </li>

                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">Job role</p>
                                        <h2 class="pmd-list-title">
                                            <%= (data.jobroleName !== undefined && data.jobroleName != '') ? data.jobroleName : '-' %>
                                        </h2>

                                    </li>

                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">Gender</p>
                                        <h2 class="pmd-list-title">
                                            <%= (data.gender !== undefined && data.gender != '' && data.gender) ? data.gender.charAt(0).toUpperCase() + data.gender.substr(1) : '-' %>
                                        </h2>

                                    </li>
                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">Year</p>
                                        <h2 class="pmd-list-title">
                                            <%= (data.year !== undefined && data.year != '') ? data.year : '-' %>
                                        </h2>

                                    </li>

                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">State</p>
                                        <h2 class="pmd-list-title">
                                            <%= (data.stateName !== undefined && data.stateName != '') ? data.stateName : '-' %>
                                        </h2>

                                    </li>
                                    <li class="list-group-item">
                                        <p class="pmd-list-subtitle">City</p>
                                        <h2 class="pmd-list-title">
                                            <%= (data.cityName !== undefined && data.cityName != '') ? data.cityName : '-' %>
                                        </h2>

                                    </li>
                                </ul>

                                <!-- End - Basic Information -->
                                <label class="field-group-label">Month wise Number of Positions For Year
                                    <%= (data.year !== undefined && data.year != '') ? data.year : '-' %>
                                </label>
                                <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                    <% var CurrMonth =  (data.currentmonth !== undefined) ? data.currentmonth : '-' %>
                                        <%for (var result in htmlOptions){%>
                                            <% switch (htmlOptions[result]) {
                                                case 'January-'+currentYear : %>
                                                <li class="list-group-item">
                                                    <p class="pmd-list-subtitle">January-
                                                        <%= currentYear %>
                                                    </p>

                                                    <h2 class="pmd-list-title">
                                                        <% if(current_month === 1) { %>
                                                            <%=  CurrMonth %>
                                                                <% } else { %>
                                                                    <%=  (data.January !== undefined) ? data.January : '-' %>
                                                                        <% }  %>
                                                    </h2>
                                                </li>
                                                <% break;
                                            case 'January-'+nextYear : %>
                                                    <li class="list-group-item">
                                                        <p class="pmd-list-subtitle">January-
                                                            <%= nextYear %>
                                                        </p>

                                                        <h2 class="pmd-list-title">
                                                            <%=  (data.January !== undefined) ? data.January : '-' %>
                                                        </h2>
                                                    </li>
                                                    <% break;
                                                case 'February-'+currentYear : %>
                                                        <li class="list-group-item">
                                                            <p class="pmd-list-subtitle">February-
                                                                <%= currentYear %>
                                                            </p>

                                                            <h2 class="pmd-list-title">
                                                                <% if(current_month === 2) { %>
                                                                    <%=  CurrMonth %>
                                                                        <% } else { %>
                                                                            <%=  (data.February !== undefined) ? data.February : '-' %>
                                                                                <% }  %>
                                                            </h2>
                                                        </li>
                                                        <% break;
                                                case 'February-'+nextYear : %>
                                                            <li class="list-group-item">
                                                                <p class="pmd-list-subtitle">February-
                                                                    <%= nextYear %>
                                                                </p>

                                                                <h2 class="pmd-list-title">
                                                                    <%=  (data.February !== undefined) ? data.February : '-' %>
                                                                </h2>
                                                            </li>
                                                            <% break;
                                                case 'March-'+currentYear : %>
                                                                <li class="list-group-item">
                                                                    <p class="pmd-list-subtitle">March-
                                                                        <%= currentYear %>
                                                                    </p>

                                                                    <h2 class="pmd-list-title">
                                                                        <% if(current_month === 3) { %>
                                                                            <%=  CurrMonth %>
                                                                                <% } else { %>
                                                                                    <%=  (data.March !== undefined) ? data.March : '-' %>
                                                                                        <% }  %>
                                                                    </h2>
                                                                </li>
                                                                <% break;
                                                case 'March-'+nextYear : %>
                                                                    <li class="list-group-item">
                                                                        <p class="pmd-list-subtitle">March-
                                                                            <%= nextYear %>
                                                                        </p>

                                                                        <h2 class="pmd-list-title">
                                                                            <%=  (data.March !== undefined) ? data.March : '-' %>
                                                                        </h2>
                                                                    </li>
                                                                    <% break;
                                                case 'April-'+currentYear : %>
                                                                        <li class="list-group-item">
                                                                            <p class="pmd-list-subtitle">April-
                                                                                <%= currentYear %>
                                                                            </p>

                                                                            <h2 class="pmd-list-title">
                                                                                <% if(current_month === 4) { %>
                                                                                    <%=  CurrMonth %>
                                                                                        <% } else { %>
                                                                                            <%=  (data.April !== undefined) ? data.April : '-' %>
                                                                                                <% }  %>
                                                                            </h2>
                                                                        </li>
                                                                        <% break;
                                                case 'April-'+nextYear : %>
                                                                            <li class="list-group-item">
                                                                                <p class="pmd-list-subtitle">April-
                                                                                    <%= nextYear %>
                                                                                </p>

                                                                                <h2 class="pmd-list-title">
                                                                                    <%=  (data.April !== undefined) ? data.April : '-' %>
                                                                                </h2>
                                                                            </li>
                                                                            <% break;
                                                        case 'May-'+currentYear : %>
                                                                                <li class="list-group-item">
                                                                                    <p class="pmd-list-subtitle">May-
                                                                                        <%= currentYear %>
                                                                                    </p>

                                                                                    <h2 class="pmd-list-title">
                                                                                        <% if(current_month === 5) { %>
                                                                                            <%=  CurrMonth %>
                                                                                                <% } else { %>
                                                                                                    <%=  (data.May !== undefined) ? data.May : '-' %>
                                                                                                        <% }  %>
                                                                                    </h2>
                                                                                </li>
                                                                                <% break;
                                                        case 'May-'+nextYear : %>
                                                                                    <li class="list-group-item">
                                                                                        <p class="pmd-list-subtitle">May-
                                                                                            <%= nextYear %>
                                                                                        </p>

                                                                                        <h2 class="pmd-list-title">
                                                                                            <%=  (data.May !== undefined) ? data.May : '-' %>
                                                                                        </h2>
                                                                                    </li>
                                                                                    <% break; 
                                                                case 'June-'+currentYear : %>
                                                                                        <li class="list-group-item">
                                                                                            <p class="pmd-list-subtitle">June-
                                                                                                <%= currentYear %>
                                                                                            </p>

                                                                                            <h2 class="pmd-list-title">
                                                                                                <% if(current_month === 6) { %>
                                                                                                    <%=  CurrMonth %>
                                                                                                        <% } else { %>
                                                                                                            <%=  (data.June !== undefined) ? data.June : '-' %>
                                                                                                                <% }  %>
                                                                                            </h2>
                                                                                        </li>
                                                                                        <% break; 
                                                                case 'June-'+nextYear : %>
                                                                                            <li class="list-group-item">
                                                                                                <p class="pmd-list-subtitle">June-
                                                                                                    <%= nextYear %>
                                                                                                </p>

                                                                                                <h2 class="pmd-list-title">
                                                                                                    <%=  (data.June !== undefined) ? data.June : '-' %>
                                                                                                </h2>
                                                                                            </li>
                                                                                            <% break;  
                                                                case 'July-'+currentYear : %>
                                                                                                <li class="list-group-item">
                                                                                                    <p class="pmd-list-subtitle">July-
                                                                                                        <%= currentYear %>
                                                                                                    </p>

                                                                                                    <h2 class="pmd-list-title">
                                                                                                        <% if(current_month === 7) { %>
                                                                                                            <%=  CurrMonth %>
                                                                                                                <% } else { %>
                                                                                                                    <%=  (data.July !== undefined) ? data.July : '-' %>
                                                                                                                        <% }  %>
                                                                                                    </h2>
                                                                                                </li>
                                                                                                <% break;  
                                                                case 'July-'+nextYear : %>
                                                                                                    <li class="list-group-item">
                                                                                                        <p class="pmd-list-subtitle">July-
                                                                                                            <%= nextYear %>
                                                                                                        </p>

                                                                                                        <h2 class="pmd-list-title">
                                                                                                            <%=  (data.July !== undefined) ? data.July : '-' %>
                                                                                                        </h2>
                                                                                                    </li>
                                                                                                    <% break;   
                                                                    case 'August-'+currentYear : %>
                                                                                                        <li class="list-group-item">
                                                                                                            <p class="pmd-list-subtitle">August-
                                                                                                                <%= currentYear %>
                                                                                                            </p>

                                                                                                            <h2 class="pmd-list-title">
                                                                                                                <% if(current_month === 8) { %>
                                                                                                                    <%=  CurrMonth %>
                                                                                                                        <% } else { %>
                                                                                                                            <%=  (data.August !== undefined) ? data.August : '-' %>
                                                                                                                                <% }  %>
                                                                                                            </h2>
                                                                                                        </li>
                                                                                                        <% break;   
                                                                    case 'August-'+nextYear : %>
                                                                                                            <li class="list-group-item">
                                                                                                                <p class="pmd-list-subtitle">August-
                                                                                                                    <%= nextYear %>
                                                                                                                </p>

                                                                                                                <h2 class="pmd-list-title">
                                                                                                                    <%=  (data.August !== undefined) ? data.August : '-' %>
                                                                                                                </h2>
                                                                                                            </li>
                                                                                                            <% break;
                                                                    case 'September-'+currentYear : %>
                                                                                                                <li class="list-group-item">
                                                                                                                    <p class="pmd-list-subtitle">September-
                                                                                                                        <%= currentYear %>
                                                                                                                    </p>

                                                                                                                    <h2 class="pmd-list-title">
                                                                                                                        <% if(current_month === 9) { %>
                                                                                                                            <%=  CurrMonth %>
                                                                                                                                <% } else { %>
                                                                                                                                    <%=  (data.September !== undefined) ? data.September : '-' %>
                                                                                                                                        <% }  %>
                                                                                                                    </h2>
                                                                                                                </li>
                                                                                                                <% break;
                                                                    case 'September-'+nextYear : %>
                                                                                                                    <li class="list-group-item">
                                                                                                                        <p class="pmd-list-subtitle">September-
                                                                                                                            <%= nextYear %>
                                                                                                                        </p>

                                                                                                                        <h2 class="pmd-list-title">
                                                                                                                            <%=  (data.September !== undefined) ? data.September : '-' %>
                                                                                                                        </h2>
                                                                                                                    </li>
                                                                                                                    <% break; 
                                                                            case 'October-'+currentYear : %>
                                                                                                                        <li class="list-group-item">
                                                                                                                            <p class="pmd-list-subtitle">October-
                                                                                                                                <%= currentYear %>
                                                                                                                            </p>

                                                                                                                            <h2 class="pmd-list-title">
                                                                                                                                <% if(current_month === 10) { %>
                                                                                                                                    <%=  CurrMonth %>
                                                                                                                                        <% } else { %>
                                                                                                                                            <%=  (data.October !== undefined) ? data.October : '-' %>
                                                                                                                                                <% }  %>
                                                                                                                            </h2>
                                                                                                                        </li>
                                                                                                                        <% break; 
                                                                            case 'October-'+nextYear : %>
                                                                                                                            <li class="list-group-item">
                                                                                                                                <p class="pmd-list-subtitle">October-
                                                                                                                                    <%= nextYear %>
                                                                                                                                </p>

                                                                                                                                <h2 class="pmd-list-title">
                                                                                                                                    <%=  (data.October !== undefined) ? data.October : '-' %>
                                                                                                                                </h2>
                                                                                                                            </li>
                                                                                                                            <% break;    
                                                                            case 'November-'+currentYear : %>
                                                                                                                                <li class="list-group-item">
                                                                                                                                    <p class="pmd-list-subtitle">November-
                                                                                                                                        <%= currentYear %>
                                                                                                                                    </p>

                                                                                                                                    <h2 class="pmd-list-title">
                                                                                                                                        <% if(current_month === 11) { %>
                                                                                                                                            <%=  CurrMonth %>
                                                                                                                                                <% } else { %>
                                                                                                                                                    <%=  (data.November !== undefined) ? data.November : '-' %>
                                                                                                                                                        <% }  %>
                                                                                                                                    </h2>
                                                                                                                                </li>
                                                                                                                                <% break;    
                                                                            case 'November-'+nextYear : %>
                                                                                                                                    <li class="list-group-item">
                                                                                                                                        <p class="pmd-list-subtitle">November-
                                                                                                                                            <%= nextYear %>
                                                                                                                                        </p>

                                                                                                                                        <h2 class="pmd-list-title">
                                                                                                                                            <%=  (data.November !== undefined) ? data.November : '-' %>
                                                                                                                                        </h2>
                                                                                                                                    </li>
                                                                                                                                    <% break;     
                                                                            case 'December-'+currentYear : %>
                                                                                                                                        <li class="list-group-item">
                                                                                                                                            <p class="pmd-list-subtitle">December-
                                                                                                                                                <%= currentYear %>
                                                                                                                                            </p>

                                                                                                                                            <h2 class="pmd-list-title">
                                                                                                                                                <% if(current_month === 12) { %>
                                                                                                                                                    <%=  CurrMonth %>
                                                                                                                                                        <% } else { %>
                                                                                                                                                            <%=  (data.December !== undefined) ? data.December : '-' %>
                                                                                                                                                                <% }  %>
                                                                                                                                            </h2>
                                                                                                                                        </li>
                                                                                                                                        <% break; 
                                                                             case 'December-'+nextYear : %>
                                                                                                                                            <li class="list-group-item">
                                                                                                                                                <p class="pmd-list-subtitle">December-
                                                                                                                                                    <%= nextYear %>
                                                                                                                                                </p>

                                                                                                                                                <h2 class="pmd-list-title">
                                                                                                                                                    <%=  (data.December !== undefined) ? data.December : '-' %>
                                                                                                                                                </h2>
                                                                                                                                            </li>
                                                                                                                                            <% break;                                                               
                                            } %>
                                                                                                                                                </li>

                                                                                                                                                <%}%>


                                </ul>
                                <label class="field-group-label">Total Number of Positions for this request</label>
                                <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                    <li class="list-group-item">
                                        <h2 class="pmd-list-title">
                                            <!-- <%=  data.currentmonth + data.January + data.February + data.March + data.April + data.May + data.June + data.July + data.August + data.September + data.October + data.November + data.December  %> -->
                                            <%=  data.total %>
                                        </h2>
                                </ul>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>