<% if(data != undefined) { %>
    <% } %>

        <div tabindex="-1" class="modal pmd-modal fade" id="industry-partner-dialog" style="display: none;" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <div class="media-body">
                            <h3 class="card-title">Industry Partner Details</h3>
                            <!--  <p class="card-subtitle">Secondary text</p> -->
                        </div>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <!-- <div class="pmd-modal-media"> <img width="1184" height="666" class="img-fluid" src="http://propeller.in/assets/images/profile-pic.png"> </div> -->
                    <div class="modal-body">
                        <div class="bottom-fab" id="content">

                            <!-- Basic Information -->
                            <label class="field-group-label">Basic Information</label>
                            <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Employee id</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.ipid !== undefined && data.ipid != '' && data.ipid) ? data.ipid : '-' %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Employer Type</p>
                                    <h2 class="pmd-list-title">
                                        <% switch (data.employertype) {
                                            case 'limitedcompany' : %>
                                            Limited Company
                                            <% break;
						
                                            case 'privatelimited' : %>
                                                Private Limited
                                                <% break;

                                            case 'trust' : %>
                                                    Trust
                                                    <% break;

                                            case 'society' : %>
                                                        Society
                                                        <% break;

                                            case 'ngo' : %>
                                                            NGO
                                                            <% break;

                                        } %>

                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Legal Entity Name</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.legal_entity_name !== undefined && data.legal_entity_name != '' && data.legal_entity_name) ? data.legal_entity_name : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Contact Person Name</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.contact_person_name !== undefined && data.contact_person_name != '' && data.contact_person_name) ? data.contact_person_name : '-' %>
                                    </h2>

                                </li>

                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Contact Email Address</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.contact_email_address !== undefined && data.contact_email_address != '' && data.contact_email_address) ? data.contact_email_address : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Contact Mobile</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.contact_mobile !== undefined && data.contact_mobile != '' && data.contact_mobile) ? data.contact_mobile : '-' %>
                                    </h2>

                                </li>

                            </ul>

                            <!-- End - Basic Information -->
                            <label class="field-group-label">Other Information</label>
                            <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Address</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.address !== undefined && data.address != '' && data.address) ? data.address : '-'  %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Office Phone</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.office_phone !== undefined && data.office_phone != '' && data.office_phone) ? data.office_phone : '-' %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Website</p>
                                    <h2 class="pmd-list-title customlink">
                                        <% if(data.website !== undefined && data.website != '' && data.website) { %>
                                            <a href="http://<%= data.website %>" target="_blank"><%= data.website %></a>
                                        <% } else { %>    
                                            -
                                        <% } %>
                                        
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">State</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.stateName !== undefined && data.stateName != '' && data.website) ? data.stateName : '-' %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">City</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.cityName !== undefined && data.cityName != '' && data.cityName) ? data.cityName : '-'  %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Pincode</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.pincode !== undefined && data.pincode != '' && data.pincode) ? data.pincode : '-'  %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Sector</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.sectorname !== undefined && data.sectorname != '' && data.sectorname) ? data.sectorname : '-'  %>
                                    </h2>
                                </li>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>