<!-- Left sidebar -->
<aside id="basicSidebar" class="pmd-sidebar pmd-sidebar-dark bg-primary pmd-z-depth pmd-sidebar-left is-slidepush pmd-sidebar-open pmd-sidebar-slide-push"
 role="navigation">
	<!--<div class="navbar-header text-center">
		<a href="/trainingpartner" class="navbar-brand navbar-brand-custom hidden-xs-down not-visible">
			<img style="height: 45px;" src="/assets/images/skillconnect-logo.png">
		</a>
 </div>-->
	<ul class="nav flex-column pmd-sidebar-nav">

		<!-- User info -->
		<li class="nav-item text-center user-info">
			<img src="/themes/images/user-icon.png" class="user-avatar" alt="avatar">


			<h2 class="pmd-list-title">
				<%= name %>
			</h2>
			<p class="pmd-list-subtitle">
				<%= email %>
			</p>


			<ul class="collapse" id="collapseExample" data-parent="#basicSidebar">
				<li class="nav-item">
					<a href="javascript:void(0)" class="nav-link" id="btnLogout" onclick="common.logout()">
						<!-- <i class="material-icons pmd-list-icon pmd-sm">delete</i> -->
						<span class="media-body">Logout</span>
					</a>
				</li>
			</ul>
		</li>
		<!-- End user info -->

		<% 
		objDisplay = objModules.displayName;
		objModules = objModules.moduleName;
		
		for(var i=0; i<objModules.length; i++) {%>
			<li class="nav-item">
				<% if(objModules[i] == url) { %>
					<a title="<%= objModules[i] %>" class="nav-link pmd-ripple-effect active" href=/<%= objModules[i] %>>
						<% } else { %>
							<a title="<%= objModules[i] %>" class="nav-link pmd-ripple-effect" href=/<%= objModules[i] %>>
								<% } %>
									<% switch (objModules[i]) {
						case 'user' : %>
										<i class="material-icons pmd-list-icon pmd-sm">person</i>
										<% break;
						
						case 'trainingcenter' : %>
											<img src="assets/images/ic_training_center.svg"/>
											<% break;
						
						case 'candidate' : %>
												<img src="assets/images/ic_candidates.svg"/>
												<% break;

						case 'industrypartner' : %>
						<img src="assets/images/ic_industry_partner.svg"/>
														<% break;

						case 'trainingpartner' : %>
						<img src="assets/images/ic_training_partner.svg"/>
															<% break;
						
						case 'sectorjobrole' : %>
						<img src="assets/images/ic_sector_job.svg"/>
															<% break;															

						case 'sectormaster' : %>
						<img src="assets/images/ic_sector_master.svg"/>
																<% break;
														
						case 'jobrolemaster' : %>
						<img src="assets/images/ic_jobrole_maste.svg"/>
																	<% break;								
									
						case 'futurehiringrequest' : %>
						<img src="assets/images/ic_future_request.svg"/>
																	<% break;
						case 'contact' : %>
						<img src="assets/images/ic_contact.svg"/>
																	<% break;

						case 'demands' : %>
						<img src="assets/images/check_demand.svg"/>
						<% break;

						case 'candidatesByZip' : %>
						<img src="assets/images/check_demand.svg"/>
						<% break;

						case 'driversByZip' : %>
						<img src="assets/images/check_demand.svg"/>
						<% break;

						case 'driverDemandsByZip' : %>
						<img src="assets/images/check_demand.svg"/>
						<% break;

						case 'bulkuploadstatus' : %>
						<img src="assets/images/ic_training_center.svg"/>
						<% break;
																	
						} %>
																		<span class="media-body">
																			<%= objDisplay[i] %>
																			
																		</span>
							</a>
			</li>
			<% } %>
				<li class="nav-item">
					<a href="javascript:void(0)" class="nav-link" id="btnLogout" onclick="common.logout()">
						<img src="assets/images/ic_logout.svg"/>
						<span class="media-body media-middle">Logout</span>
					</a>
				</li>

	</ul>
</aside>
<!-- End Left sidebar -->
<!-- Sidebar Ends -->
<span class="loading hidden"></span>