<% if(data != undefined) { %>
    <% } %>

        <div tabindex="-1" class="modal pmd-modal fade" id="training-partner-dialog" style="display: none;" aria-hidden="true" data-backdrop="static"
            data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <div class="media-body">
                            <h3 class="card-title">Training Partner Details</h3>
                            <!--  <p class="card-subtitle">Secondary text</p> -->
                        </div>
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    </div>
                    <!-- <div class="pmd-modal-media"> <img width="1184" height="666" class="img-fluid" src="http://propeller.in/assets/images/profile-pic.png"> </div> -->
                    <div class="modal-body">
                        <div class="bottom-fab" id="content">

                            <!-- Basic Information -->
                            <label class="field-group-label">Basic Information</label>
                            <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Training Partner id</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.tpid !== undefined && data.tpid != '' && data.tpid) ? data.tpid : '-'  %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">NSDC Registration Number</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.nsdc_registration_number !== undefined && data.nsdc_registration_number != '' && data.nsdc_registration_number) ? data.nsdc_registration_number : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Training Partner Name</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.training_partner_name !== undefined && data.training_partner_name != '' && data.training_partner_name) ? data.training_partner_name : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Legal Entity Name</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.legal_entity_name !== undefined && data.legal_entity_name != '' && data.legal_entity_name) ? data.legal_entity_name : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Contact Person Name</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.contact_person_name !== undefined && data.contact_person_name != '' && data.contact_person_name) ? data.contact_person_name : '-' %>
                                    </h2>

                                </li>

                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Contact Email Address</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.contact_email_address !== undefined && data.contact_email_address != '' && data.contact_email_address) ? data.contact_email_address : '-' %>
                                    </h2>

                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Contact Mobile</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.contact_mobile !== undefined && data.contact_mobile != '' && data.contact_mobile) ? data.contact_mobile : '-' %>
                                    </h2>

                                </li>

                            </ul>

                            <!-- End - Basic Information -->
                            <label class="field-group-label">Other Information</label>
                            <ul class="list-group pmd-list pmd-card-list d-flex flex-wrap flex-row customList">
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Address</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.address !== undefined && data.address != '' && data.address) ? data.address : '-'  %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">State</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.stateName !== undefined && data.stateName != '' && data.stateName) ? data.stateName : '-' %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">City</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.cityName !== undefined && data.cityName != '' && data.cityName) ? data.cityName : '-'  %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Pincode</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.pincode !== undefined && data.pincode != '' && data.pincode) ? data.pincode : '-'  %>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <p class="pmd-list-subtitle">Sector</p>
                                    <h2 class="pmd-list-title">
                                        <%= (data.sectorname !== undefined && data.sectorname != '' && data.sectorname  ) ? data.sectorname : '-'  %>
                                    </h2>
                                </li>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn pmd-ripple-effect btn-primary" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>