<!--Accordion with all expandable example -->
<div id="pmd-accordion-expandable" class="pmd-accordion">
    <div class="card">
        <div class="card-header" id="pmd-headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#pmd-expandable-collapseOne" aria-expanded="true" aria-controls="pmd-expandable-collapseOne">
             Collapsible Group Item #1
			  <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
            </button>
          </h5>
        </div>

        <div id="pmd-expandable-collapseOne" class="collapse show" aria-labelledby="pmd-expandable-headingOne">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="pmd-expandable-headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pmd-expandable-collapseTwo" aria-expanded="false" aria-controls="pmd-expandable-collapseTwo">
              Collapsible Group Item #2
			   <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
            </button>
          </h5>
        </div>
        <div id="pmd-expandable-collapseTwo" class="collapse" aria-labelledby="pmd-expandable-headingTwo">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="pmd-expandable-headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pmd-expandable-collapseThree" aria-expanded="false" aria-controls="pmd-expandable-collapseThree">
				Collapsible Group Item #3
				<i class="material-icons md-dark pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
            </button>
          </h5>
        </div>
        <div id="pmd-expandable-collapseThree" class="collapse" aria-labelledby="pmd-expandable-headingThree">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
    </div>
    <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary " data-target="pmd-accordion-expandable" id="expandAll">Expand All</button>
    <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" data-target="pmd-accordion-expandable" id="collapseAll">Collapse All</button>
</div>
<!--Accordion with all expandable example end-->