<!--Accordion with colored background example -->
<div id="pmd-accordion-colored-icon" class="pmd-accordion pmd-accordion-nospace">
    <div class="card text-white bg-secondary">
        <div class="card-header" id="pmd-inbox-headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#pmd-accordion-colored-icon-collapseOne" aria-expanded="true" aria-controls="pmd-accordion-colored-icon-collapseOne">
               <i class="material-icons pmd-sm pmd-accordion-icon-left">mood</i>
               Collapsible Group Item #1
				<i class="material-icons md-light pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
            </button>
          </h5>
        </div>
        <div id="pmd-accordion-colored-icon-collapseOne" class="collapse show" aria-labelledby="pmd-accordion-colored-icon-headingOne" data-parent="#pmd-accordion-colored-icon">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
    </div>
    <div class="card text-white bg-info">
        <div class="card-header" id="pmd-accordion-colored-icon-headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pmd-accordion-colored-icon-collapseTwo" aria-expanded="false" aria-controls="pmd-accordion-colored-icon-collapseTwo">
               <i class="material-icons pmd-sm pmd-accordion-icon-left">account_balance</i>
               Collapsible Group Item #2
				<i class="material-icons md-light pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
            </button>
          </h5>
        </div>
        <div id="pmd-accordion-colored-icon-collapseTwo" class="collapse" aria-labelledby="pmd-accordion-colored-icon-headingTwo" data-parent="#pmd-accordion-colored-icon">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header" id="pmd-accordion-colored-icon-headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#pmd-accordion-colored-icon-collapseThree" aria-expanded="false" aria-controls="pmd-accordion-colored-icon-collapseThree">
               <i class="material-icons pmd-sm pmd-accordion-icon-left">verified_user</i>
               Collapsible Group Item #3
				<i class="material-icons md-light pmd-sm pmd-accordion-arrow">keyboard_arrow_down</i>
            </button>
          </h5>
        </div>
        <div id="pmd-accordion-colored-icon-collapseThree" class="collapse" aria-labelledby="pmd-accordion-colored-icon-headingThree" data-parent="#pmd-accordion-colored-icon">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
    </div>
</div><!--Accordion with colored background end-->