/*!
 * Propeller v2.0.0-beta (http://propeller.in): floating-action-button.css
 * Copyright 2016-2018 Digicorp Information Systems Pvt. Ltd.
 * This software is covered by Propeller Pro Plan 1 License (License.txt)
 * Usage without proper license is prohibited.
 */
.pmd-floating-action {
  bottom: 1rem;
  position: fixed;
  right: 1rem;
  z-index: 1000;
}

.pmd-floating-action:hover .pmd-floating-action-btn,
.menu--floating--open .pmd-floating-action-btn {
  opacity: 1;
  -ms-transform: none;
  transform: none;
  position: relative;
  bottom: auto;
  overflow: hidden;
}
.pmd-floating-action:hover .pmd-floating-action-btn:before,
.menu--floating--open .pmd-floating-action-btn:before {
  opacity: 1;
}

.pmd-floating-action-btn {
  display: block;
  position: relative;
  transition: all 0.2s ease-in-out;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.pmd-floating-action-btn:before {
  bottom: 10%;
  content: attr(data-title);
  opacity: 0;
  position: absolute;
  right: 100%;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 0.125rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.75rem;
  margin-right: 0.3125rem;
  display: inline-block;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.pmd-floating-action-btn:last-child:before {
  font-size: 14px;
  bottom: 25%;
}
.pmd-floating-action-btn:hover, .pmd-floating-action-btn:focus, .pmd-floating-action-btn:active {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.pmd-floating-action-btn:not(:last-child) {
  opacity: 0;
  transform: translateY(20px) scale(0.3);
  -ms-transform: translateY(20px) scale(0.3);
  margin-bottom: 0.9375rem;
  margin-left: 0.5rem;
  position: absolute;
  bottom: 0;
}
.pmd-floating-action-btn:not(:last-child):nth-last-child(1) {
  transition-delay: 50ms;
}
.pmd-floating-action-btn:not(:last-child):nth-last-child(2) {
  transition-delay: 100ms;
}
.pmd-floating-action-btn:not(:last-child):nth-last-child(3) {
  transition-delay: 150ms;
}
.pmd-floating-action-btn:not(:last-child):nth-last-child(4) {
  transition-delay: 200ms;
}
.pmd-floating-action-btn:not(:last-child):nth-last-child(5) {
  transition-delay: 250ms;
}
.pmd-floating-action-btn:not(:last-child):nth-last-child(6) {
  transition-delay: 300ms;
}
.pmd-floating-action-btn.btn:hover {
  overflow: visible;
}
.pmd-floating-action-btn .ink {
  width: 50px;
  height: 50px;
}

.pmd-floating-hidden {
  display: none;
}

/*# sourceMappingURL=floating-action-button.css.map */
