<!-- Dismissable Alerts -->
<div role="alert" class="alert alert-success alert-dismissible">
    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
    <h2 class="alert-heading">Success!</h2>
    <hr>
    <p>Thank you for contacting us. We have successfully received your email and someone from the customer service team will get back to as soon as possible.</p>
</div>