<!-- Display an information alert at the top-left position of the window -->
<button type="button" data-positionX="left" data-positionY="top" data-duration="5000" data-effect="fadeInUp" data-message="Heads up! This alert needs your attention, but it's not super important." data-type="info"  data-revert="fadeOutUp" class="btn pmd-ripple-effect btn-info pmd-btn-raised pmd-alert-toggle">Alert Information</button>
							
<!-- Display a warning alert at the top-center position of the window -->
<button type="button"  data-positionX="center" data-positionY="top" data-effect="fadeInUp" data-message="Warning! Spyware detected on your system." data-type="warning" class="btn pmd-ripple-effect btn-warning  pmd-alert-toggle">Alert Warning</button>

<!-- Display a success alert at the top-right position of the window -->
<button type="button"  data-positionX="right" data-positionY="top"  data-duration="10000" data-effect="fadeInUp" data-message="Well done! You successfully read this important alert message." data-type="success" class="btn pmd-ripple-effect btn-success pmd-z-depth pmd-alert-toggle">Alert Success</button>

<!-- Display an error alert at the top-right position of the window -->
<button type="button"  data-positionX="right" data-positionY="top" data-effect="fadeInUp" data-message="Oh snap! Change a few things up and try submitting again." data-type="danger" class="btn pmd-ripple-effect btn-danger  pmd-alert-toggle">Alert Error</button>

<!-- Display a primary alert at the top-right position of the window -->
<button type="button"  data-positionX="right" data-positionY="top" data-effect="fadeInUp" data-message="Oh snap! Change a few things up and try submitting again." data-type="primary" class="btn pmd-ripple-effect btn-primary  pmd-alert-toggle">Primary Alert</button>

<!-- Display a secondary alert at the top-center position of the window -->
<button type="button"  data-positionX="center" data-positionY="top" data-effect="fadeInUp" data-message="Oh snap! Change a few things up and try submitting again." data-type="secondary" class="btn pmd-ripple-effect btn-secondary  pmd-alert-toggle">Secondary Alert</button>

<!-- Display a Light alert at the top-left position of the window -->                                        
<button type="button"  data-positionX="left" data-positionY="top" data-effect="fadeInUp" data-message="Oh snap! Change a few things up and try submitting again." data-type="light" class="btn pmd-ripple-effect btn-light  pmd-alert-toggle">Light Alert</button>

<!-- Display a dark alert at the top-right position of the window --> 
<button type="button"  data-positionX="right" data-positionY="top" data-effect="fadeInUp" data-message="Oh snap! Change a few things up and try submitting again." data-type="dark" class="btn pmd-ripple-effect btn-dark  pmd-alert-toggle">Dark Alert</button>