<html>

<head>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">
                             
                                            <section class="component-section">
                                                <div id="divBulkUploadError">
                                                    <h2 class="card-title d-flex">
                                                        Bulk Upload Status
                                                         
                                                    </h2>
                                                    <div class="card pmd-card">
                                                        <table id="gridbulkUploadError" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                            width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <!-- <th>
                                                                        <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                            <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                            <label class="custom-control-label" for="customCheckBox0">
                                                                            </label>
                                                                        </div>
                                                                    </th>  -->
                                                                    <!-- <th>Sector</th> -->
                                                                    <th>File Name</th>
                                                                    <th>Number of Errors</th>
                                                                    <th>Module Name </th>
                                                                    <th>Download</th>
                                                                    <th>Date</th>
                                                                     <!-- <%if (canAdd == 1 || canEdit == 1) { %>
                                                                        <th>Status</th>
                                                                        <th>Actions</th>
                                                                        <% } %>
                                                            </thead> -->
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- section content end -->

                                                </div>
                                            </section>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                    <% include  ../../partials/footer %>
        </section>
        <!-- <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script> -->
        <script type="text/javascript" src="../pages/bulkuploadstatus/bulkuploadstatus.js"></script>
</body>

</html>