<!-- Regular Input -->
<div class="form-group pmd-textfield">
    <label for="regular1">Regular Input</label>
    <input type="text" id="regular1" class="form-control">
</div>

<!-- Help Text Regular Input -->
<div class="form-group pmd-textfield">
    <label for="help1">Input with help text</label>
    <input type="text" id="help1" class="form-control">
    <small id="inputhelptext" class="form-text text-muted">Help Text.</small>
</div>

<!-- Regular Select -->
<div class="form-group pmd-textfield">
    <label for="propeller-select">Regular select</label>
    <select id="propeller-select" class="form-control">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<!-- Regular Textarea -->
<div class="form-group pmd-textfield">
    <label>Regular Text Area</label>
    <textarea required class="form-control"></textarea>
</div>