<div class="card pmd-card">
    <!-- validation state example -->
    <div class="card-body">
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3 pmd-textfield pmd-textfield-floating-label">
                    <label for="validationCustom25">First name</label>
                    <input type="text" class="form-control" id="validationCustom25" value="Mark" required>
                    <div class="valid-feedback"> Looks good! </div>
                </div>
                <div class="col-md-4 mb-3 pmd-textfield pmd-textfield-floating-label">
                    <label for="validationCustom29">Last name</label>
                    <input type="text" class="form-control" id="validationCustom29" value="Otto" required>
                    <div class="valid-feedback"> Looks good! </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="input-group pmd-input-group">
                          <div class="input-group-prepend"> 
                              <span class="input-group-text" id="basic-addon1">@</span> 
                          </div>
                          <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
                              <label for="validationCustom56">Username</label>
                              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required id="validationCustom56">
                              <div class="invalid-feedback"> Please provide a valid username. </div>
                          </div>	  
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3 pmd-textfield pmd-textfield-floating-label">
                    <label for="validationCustom58">City</label>
                    <select class="custom-select" required>
                      <option value=""></option>
                      <option value="1">Ahmedabad</option>
                      <option value="2">Delhi</option>
                      <option value="3">Mumbai</option>
                    </select>
                    <div class="invalid-feedback"> Please provide a valid city. </div>
                </div>
                <div class="col-md-3 mb-3 pmd-textfield pmd-textfield-floating-label">
                    <label for="validationCustom85">State</label>
                    <select class="form-control" required>
                      <option value=""></option>
                      <option value="1">Gujarat</option>
                      <option value="2">Maharashtra</option>
                      <option value="3">Jammu and Kashmir</option>
                    </select>
                    <div class="invalid-feedback"> Please provide a valid state. </div>
                </div>
                <div class="col-md-3 mb-3 pmd-textfield pmd-textfield-floating-label">
                    <label for="validationCustom86">Zip</label>
                    <input type="text" class="form-control" id="validationCustom86" required>
                    <div class="invalid-feedback"> Please provide a valid zip. </div>
                </div>
            </div>
            <div class="form-row mb-5">
                <div class="custom-file pmd-custom-file col-md-12">
                  <input type="file" class="custom-file-input" id="validationCustom87" required>
                  <label class="custom-file-label" for="validationCustom87">Choose file...</label>
                  <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
            </div>
            <div class="form-row">
                <div class="custom-control custom-checkbox pmd-checkbox mb-3 col-md-12">
                  <input type="checkbox" class="custom-control-input" id="validationCustom88" required>
                  <label class="custom-control-label" for="validationCustom88">Agree to Terms and Conditions</label>
                  <div class="invalid-feedback">Example invalid feedback text</div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div><!-- validation state example end -->
</div>