<!-- Large Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="Large" class="col-form-label-lg">Large input</label>
    <input type="text" id="regular1" class="form-control form-control-lg">
</div>
<!-- Default Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="Default" class="control-label">Default input</label>
    <input id="Default" class="form-control" type="text">
</div>
<!-- Small Input -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="Small" class="col-form-label-sm">Small input</label>
    <input type="text" id="Small" class="form-control form-control-sm" >
</div>