<!-- Large Select with Floating Label-->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="propeller-select" class="col-form-label-lg">Large Select</label>
    <select id="propeller-select" class="form-control form-control-lg">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<!-- Default Select with Floating Label -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="propeller-select">Default Select</label>
    <select id="propeller-select" class="form-control">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<!-- Small Select with Floating Label -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="propeller-select" class="col-form-label-sm">Small Select</label>
    <select id="propeller-select" class="form-control form-control-sm">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>