<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <select class="custom-select">
      <option selected>Country</option>
      <option value="usa">United States of America</option>
      <option value="india">India</option>
      <option value="africa">Africa</option>
    </select>
</div>