<!-- Disabled Input -->
<div class="form-group pmd-textfield">
  <label for="first-name" class="control-label">
    Disabled state
  </label>
  <input type="text" disabled value="Disabled value" id="disabled" class="form-control">
</div>