<!-- Input With Floating Label -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="regularfloating">Regular Input With Floating Label</label>
    <input id="regularfloating" class="form-control" type="text">
</div>

<!--Help Text Input with Floating Label -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="help1">Input with help text</label>
    <input type="text" id="help1" class="form-control">
    <small id="inputhelptext" class="form-text text-muted">Help Text.</small>
</div>

<!-- Select with Floating Label -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label for="propeller-select">Select with Floating Label</label>
    <select id="propeller-select" class="form-control">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>

<!-- Textarea with Floating Label-->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
    <label>Text Area with Floating Label</label>
    <textarea required class="form-control"></textarea>
</div>