<!-- Inverse Form Fields -->
<div class="card pmd-card bg-dark text-white">
    <div class="card-body"> 
        <!-- Regulat Input With Floating Label -->
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inverse_regularfloating">Regular Input With Floating Label</label>
            <input id="inverse_regularfloating" class="form-control" type="text">
        </div>
        <!--Help Text Input with Floating Label -->
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inverse_help1">Input with help text</label>
            <input type="text" id="inverse_help1" class="form-control">
            <small id="inputhelptext" class="form-text text-muted">Help Text.</small>
        </div>
        <!-- Select with Floating Label -->
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inverse_propeller-select">Select with Floating Label</label>
            <select id="inverse_propeller-select" class="form-control">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <!-- Floating Textarea -->
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label>Text Area</label>
            <textarea required class="form-control"></textarea>
        </div>
        <!-- Readonly State -->
        <div class="form-group pmd-textfield">
            <label for="inverse_first-name">Readonly input</label>
            <input type="text" readonly value="Readonly input" id="inverse_first-name" class="form-control">
        </div>
        <!-- Readonly Plain Text -->
        <div class="form-group pmd-textfield row">
            <label for="inverse_inputEmail3" class="col-sm-2 col-form-label control-label">Readonly Plain Text</label>
            <div class="col-sm-10">
                <input type="email" readonly class="form-control-plaintext" value="email@example.com" id="inverse_inputEmail3" >
            </div>
        </div>
        <!-- File Input -->
        <div class="custom-file pmd-custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <div class="form-group pmd-textfield">
            <select class="custom-select">
              <option selected>Country</option>
              <option value="usa">United States of America</option>
              <option value="india">India</option>
              <option value="africa">Africa</option>
            </select>
        </div>
    </div>
</div>