<!-- Readonly with Plain Text -->
<div class="form-group pmd-textfield row">
    <label for="inputEmail3" class="col-sm-2 col-form-label control-label">Readonly Plain Text</label>
    <div class="col-sm-10">
        <input type="email" readonly class="form-control-plaintext" value="email@example.com" id="inputEmail3" >
    </div>
</div>