<!-- Readonly Input -->
<div class="form-group pmd-textfield">
  <label for="first-name" class="control-label">
    Readonly input
  </label>
  <input type="text" readonly value="Readonly input" id="first-name" class="form-control">
</div>