<form>
    <div class="form-row">
        <div class="col-md-4 mb-3 pmd-textfield pmd-textfield-floating-label">
            <label for="validationCustom01" class="is-valid">First name</label>
            <input type="text" class="form-control is-valid" id="validationCustom01" value="Mark" required>
            <div class="valid-feedback"> Looks good! </div>
        </div>
        <div class="col-md-4 mb-3 pmd-textfield pmd-textfield-floating-label">
            <label for="validationCustom02" class="is-valid">Last name</label>
            <input type="text" class="form-control is-valid" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback"> Looks good! </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="input-group pmd-input-group">
                  <div class="input-group-prepend"> 
                      <span class="input-group-text" id="basic-addon1">@</span> 
                  </div>
                  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
                      <label for="validationCustom11" class="is-invalid">Username</label>
                      <input type="text" class="form-control is-invalid" aria-label="Username" aria-describedby="basic-addon1" required id="validationCustom11">
                      <div class="invalid-feedback"> Please provide a valid username. </div>
                  </div>	  
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3 pmd-textfield pmd-textfield-floating-label">
            <label for="validationCustom03" class="is-invalid">City</label>
            <select class="custom-select is-invalid">
              <option selected="">Select</option>
              <option value="1">Ahmedabad</option>
              <option value="2">Delhi</option>
              <option value="3">Mumbai</option>
            </select>
            <div class="invalid-feedback"> Please provide a valid city. </div>
        </div>
        <div class="col-md-3 mb-3 pmd-textfield pmd-textfield-floating-label">
            <label for="validationServer03" class="is-invalid">State</label>
            <select class="form-control is-invalid">
              <option selected="">Select</option>
              <option value="1">Gujarat</option>
              <option value="2">Maharashtra</option>
              <option value="3">Jammu and Kashmir</option>
            </select>
            <div class="invalid-feedback"> Please provide a valid state. </div>
        </div>
        <div class="col-md-3 mb-3 pmd-textfield pmd-textfield-floating-label">
            <label for="validationCustom05" class="is-invalid">Zip</label>
            <input type="text" class="form-control is-invalid" id="validationCustom05" required>
            <div class="invalid-feedback"> Please provide a valid zip. </div>
        </div>
    </div>
    <div class="form-row mb-5">
        <div class="custom-file pmd-custom-file col-md-12">
          <input type="file" class="custom-file-input is-invalid" id="validatedCustomFile" required>
          <label class="custom-file-label is-invalid" for="validatedCustomFile">Choose file...</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
    </div>
    <div class="form-row">
        <div class="custom-control custom-checkbox pmd-checkbox mb-3 col-md-12">
          <input type="checkbox" class="custom-control-input is-invalid" id="customControlValidation1" required>
          <label class="custom-control-label is-invalid" for="customControlValidation1">Agree to Terms and Conditions</label>
          <div class="invalid-feedback">Example invalid feedback text</div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>