<form class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3 pmd-textfield pmd-textfield-floating-label">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
            <div class="valid-tooltip"> Looks good! </div>
        </div>
        <div class="col-md-4 mb-3 pmd-textfield pmd-textfield-floating-label">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-tooltip"> Looks good! </div>
        </div>
        <div class="col-md-4 mb-3 pmd-textfield">
        	<label for="validationTooltipUsername">Username</label>
        	<div class="input-group">
        		<div class="input-group-prepend"> <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span> </div>
        		<input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required=""><span class="pmd-textfield-focused"></span>
        		<div class="invalid-tooltip"> Please choose a unique and valid username. </div>
        	</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-6 mb-3 pmd-textfield pmd-textfield-floating-label">
			<label for="validationCustom03">City</label>
			<input type="text" class="form-control" id="validationCustom03" required>
			<div class="invalid-tooltip"> Please provide a valid city. </div>
		</div>
		<div class="col-md-3 mb-3 pmd-textfield pmd-textfield-floating-label">
			<label for="validationCustom04">State</label>
			<input type="text" class="form-control" id="validationCustom04" required>
			<div class="invalid-tooltip"> Please provide a valid state. </div>
		</div>
		<div class="col-md-3 mb-3 pmd-textfield pmd-textfield-floating-label">
			<label for="validationCustom05">Zip</label>
			<input type="text" class="form-control" id="validationCustom05" required>
			<div class="invalid-tooltip"> Please provide a valid zip. </div>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Submit form</button>
</form>