<!-- Blog Card -->
<div class="card pmd-card">
	<!-- Card media --> 
	<div class="pmd-card-media">
		<img alt="Profile-pic" src="images/profile-pic.jpg" class="img-fluid">
	</div>
	<!-- Card body --> 
	<div class="card-body"> 	 
		<h2 class="card-title pb-2">Why Maternal Mental Health Matters...</h2>
		<p class="pmd-card-info mb-3">
			<span>April 26, 2017 | </span>
			<span>0 Comments</span>
		</p> 
		<p class="card-text">The first week in May is World Maternal Mental Health Awareness Week. Did you know Antenatal (or Prenatal) Depression is depression during pregnancy? Not only is it common, it may...</p>
	</div>
</div>