<!-- Bootstrap card -->
<div class="card" style="width: 22.5rem;">
	<img class="card-img-top" src="http://propeller.in/assets/images/profile-pic.png" alt="Card image cap">
	
    <!-- Card Body -->
    <div class="card-body">
    	<!-- Card Title -->
		<h2 class="card-title">Card title</h2>
        
        <!-- Card Text -->
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <!-- Card Action -->
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div>