<!-- Bordered Card -->
<div class="card pmd-card">
	<div class="card-header d-flex flex-row pmd-card-border">
	  <a class="avatar-list-img" href="javascript:void(0);">
		<img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
	  </a>
	  <div class="media-body">
		<h3 class="card-title">Two-line item</h3>
		<p class="card-subtitle">Secondary text</p>
	  </div>
	</div>
	<div class="card-body">
		<p>Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
	</div>
	<div class="card-footer pmd-card-border">
		<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
		<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
		<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
	</div>
</div>