<!-- Card header -->
<div class="card pmd-card">
    <div class="card-header">
        <h2 class="card-title">Title goes here</h2>
        <p class="card-subtitle">Secondary text</p> 
    </div>
</div>

<!-- Card body -->
<div class="card pmd-card">
    <div class="card-body"> Card provide context and an entry point to more robust information and views. Don't overload card with extraneous information or actions. </div>
</div>
                      
<!-- Card media -->
<div class="card pmd-card">
    <div class="pmd-card-media"><img width="1184" height="666" class="img-fluid" src="http://propeller.in/assets/images/profile-pic.png"></div>
</div>

<!-- Card action -->
<div class="card pmd-card">
    <div class="card-footer">
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Primary</button>
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-light">Action</button>
    </div>
</div>

<!-- Card media actions -->
<div class="card pmd-card">
    <div class="card-footer">
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
    </div>
</div>

<!-- Card Footer -->
<div class="card pmd-card">
    <div class="card-footer"> 15 days ago </div>
</div>