<!-- Card with Overlay Effect -->
<div class="card pmd-card text-center pmd-card-overlay">
	<!-- Card media -->
	<img alt="Telecommunication" class="card-img img-fluid" src="images/telecommunication.jpg">
	<div class="card-img-overlay">
		<h2 class="card-title pmd-headline">Telecommunication</h2>
		<div class="pmd-view-details">
			<p class="card-text">Our drone solution for telecom helps operators and service providers safely operate drones, meet compliance requirements, and integrate aerial data with GIS and other business systems.</p>	
			<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" title="ReadMore"><i class="material-icons pmd-sm">arrow_forward</i></a>
		</div>
	</div>
</div>