<!-- Card Deck -->
<div class="card-columns">

    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
        </div>
    </div>
    
    <div class="card pmd-card">
        <div class="card-header">
            <h2 class="card-title">Listing Card</h2>
        </div>
        <ul class="list-group pmd-list pmd-card-list">
            <li class="list-group-item d-flex flex-row">
                <i class="material-icons pmd-list-icon pmd-sm">mood</i> 
                <span class="media-body">Single-line item with icon</span>
            </li>
            <li class="list-group-item d-flex flex-row">
                <i class="material-icons pmd-list-icon align-middle">notifications</i>
                <div class="media-body">Single-line item with icon</div>
            </li>
            <li class="list-group-item d-flex flex-row"> 
                <i class="material-icons pmd-list-icon">person_add</i>
                <div class="media-body">Single-line item with icon</div>
            </li>
            <li class="list-group-item d-flex flex-row">
                <i class="material-icons pmd-list-icon">share</i>
                <div class="media-body">Single-line item with icon</div>
            </li>
            <li class="list-group-item d-flex flex-row"> 
                <i class="material-icons pmd-list-icon">drive_eta</i>
                <div class="media-body">Single-line item with icon</div>
            </li>
        </ul>
    </div>
    
    <div class="card pmd-card text-center">
        <div class="card-body">
            <img src="https://propeller.in/assets/images/Keith-Dowd.png" class="rounded-circle img-fluid mb-3" title="" alt="">
            <h2 class="card-title">Keith Dowd</h2>
            <p class="card-subtitle mb-3">Peach &amp; Pie</p>
            <p class="card-text">Amorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras etitikis mauris eget lorem ultricies ferme ntum a inti diam.</p>
        </div>
    </div>
    
    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-footer">
            <span>
                <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
                <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
                <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
            </span>
        </div>
    </div>
    
    <div class="card pmd-card">
        <div class="card-header d-flex flex-row">
          <a class="avatar-list-img" href="javascript:void(0);">
            <img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
          </a>
          <div class="media-body">
            <h3 class="card-title">Two-line item</h3>
            <p class="card-subtitle">Secondary text</p>
          </div>
        </div>
        <div class="pmd-card-media">
            <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Title goes here</h2>
            <p class="card-subtitle mb-3">Secondary text</p>
            <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
            <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
        </div>
    </div>
</div>