<!-- Card Deck -->
<div class="card-deck">
    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
        </div>
    </div>
    
    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">This card has even less content than the first and last card.</p>
        </div>
    </div>
    
    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
        </div>
    </div>
</div>