<!-- Contact Card -->
<div class="card pmd-card"> 
	<!-- Card header -->
	<div class="card-header d-flex flex-row pmd-card-border bg-light"> 
		<div class="media-body">
			<h5 class="card-title mb-0">Elizabeth I Mack</h5>
			<span class="card-subtitle">715-697-9795</span>
		</div>
		<div class="media-right">
			<ul class="list-inline text-right">
				<li class="list-inline-item">
					<a href="javascript:void(0);" title="Edit" class="hide-icon"><i class="material-icons pmd-sm align-top">mode_edit</i></a> 
				</li>
				<li class="list-inline-item">
					<a href="javascript:void(0);" title="Delete" class="hide-icon pl-2"><i class="material-icons pmd-sm align-top">delete</i></a>
				</li>
				<li class="list-inline-item">
					<div class="radio pl-2">
						<label class="pmd-radio pmd-radio-ripple-effect mb-0">
							<input type="radio" name="optionsRadios" id="click" value="option1">
							<span for="click"></span>
						</label>
					</div>
			   </li>
			</ul>
		</div>
	</div>
	<!-- Card body -->
	<div class="card-body">
		<h5 class="card-subtitle">Address</h5>
		<address class="mb-4">4424 Bassell Avenue,<br/>MADISON, Wisconsin - 53701</address>
		<h5 class="card-subtitle">Email</h5>
		<address><a href="mailto:elizabeth-mack@gmail.com" class="text-dark">elizabeth-mack@gmail.com</a></address>
	</div>
</div>