<!-- Card with Contact Form -->
<div class="card pmd-card card-custom-view" style="width:50%">
	<!-- Card Header -->
	<div class="card-header">
		<h2 class="card-title">Contact Form</h2>
	</div>
	<!-- Card body --> 
	<div class="card-body">  
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12">
				<div class="form-group pmd-textfield pmd-textfield-floating-label">
					<label> Name<span class="required">*</span> </label>
					<input type="text" class="form-control" id="Name">
					<span class="pmd-textfield-focused"></span>
				</div>
				<div class="form-group pmd-textfield pmd-textfield-floating-label">
					<label> Organization Name<span class="required">*</span> </label>
					<input type="text" class="form-control" id="organizationname">
					<span class="pmd-textfield-focused"></span>
				</div>
				<div class="form-group pmd-textfield pmd-textfield-floating-label">
					<label> Contact Number<span class="required">*</span> </label>
					<input type="tel" class="form-control" id="Contactnumber">
					<span class="pmd-textfield-focused"></span>
				</div> 
			</div>
			<div class="col-md-6 col-sm-6 col-12">
				<div class="form-group pmd-textfield pmd-textfield-floating-label">
					<label> Job Title<span class="required">*</span> </label>
					<input type="text" class="form-control" id="Jobtitle">
					<span class="pmd-textfield-focused"></span>
				</div>
				<div class="form-group pmd-textfield pmd-textfield-floating-label">
					<label> Organization Website<span class="required">*</span> </label>
					<input type="text" class="form-control" id="organizationwebsite">
					<span class="pmd-textfield-focused"></span>
				</div>
				<div class="form-group pmd-textfield pmd-textfield-floating-label">
					<label> Email<span class="required">*</span> </label>
					<input type="email" class="form-control" id="email">
					<span class="pmd-textfield-focused"></span>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-12">
				<div class="form-group pmd-textfield pmd-textfield-floating-label">
				  <label class="control-label">Message</label>
				  <textarea class="form-control"></textarea>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-12 text-center">
				 <input type="submit" value="Send Message" class="btn btn-primary pmd-btn-raised pmd-ripple-effect pmd-btn" id="submit">&nbsp;
				 <input type="reset" value="Reset" class="btn pmd-btn-raised pmd-ripple-effect btn-outline-primary" id="submit">
			</div>
		</div>
	</div> 
</div>