<!-- Card with Description, Avatar and Title -->
<div class="card pmd-card card-custom-view"> 
	<!-- card body -->
	<div class="card-body">
		<p class="card-text">More recently, we have described ourselves as a “devices and services” company. While the devices and services description was helpful in starting our transformation, we now need to hone in on our unique strategy. At our core, Microsoft is the productivity and platform company for the mobile-first and cloud-first world. We will reinvent productivity to empower every person and every organization on the planet to do more and achieve more.</p>
		<div class="d-flex flex-row mb-3">
			<i class="avatar-list-img">
				<img alt="40x40" class="img-fluid" src="images/profile-1.png">
			</i>
			<div class="media-body">
				<p class="card-subtitle">abhishekdesai started this conversation with following comment.</p>
				<p><i>think this is a very interesting outlook from the new CEO of Microsoft. @Founders #technology</i></p>
			</div>                            
		</div>
		<div class="border-top pt-3">
			<p class="card-subtitle">People in this conversation</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="javascript:void(0);" class="avatar-list-img mr-0" title="profile-link"> 
						<img alt="40x40" class="img-fluid" src="images/profile-2.png">
					</a>
				</li>
				<li class="list-inline-item">
					<a href="javascript:void(0);" class="avatar-list-img mr-0" title="profile-link"> 
						<img alt="40x40" class="img-fluid" src="images/profile-3.png">
					</a>
				</li>
				<li class="list-inline-item">
					<a href="javascript:void(0);" class="avatar-list-img mr-0" title="profile-link"> 
						<img alt="40x40" class="img-fluid" src="images/profile-1.png">
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="card-footer pmd-card-border">
		<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
		<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
		<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
	</div>
</div>