<!-- Events Card -->
<div class="card pmd-card">  
	<!-- Card media -->
	<div class="pmd-card-media">
		<img alt="Cricket" class="img-fluid" src="images/cricket.jpg" height="300" width="350"/>
	</div>
	<!-- Card header -->
	<div class="card-header mb-0">
	   <h2 class="card-title pmd-headline">Burhani Cricket Cup 2018</h2> 
	</div> 
	<ul class="list-group pmd-list pmd-card-list">
		<li class="list-group-item d-flex flex-row">
			<i class="material-icons pmd-list-icon pmd-sm">today</i> 
			<span class="media-body">18-Feb-18 <strong>to</strong> 12-March-18</span>
		</li>
		<li class="list-group-item d-flex flex-row">
			<i class="material-icons pmd-list-icon align-middle">location_on</i>
			<div class="media-body">Hyderabad</div>
		</li>
		<li class="list-group-item d-flex flex-row"> 
			<i class="material-icons pmd-list-icon">directions</i>
			<div class="media-body">KRR cricket Ground</div>
		</li> 
	</ul>
</div>