<!-- Form Card -->
<div class="card pmd-card">
	
    <!-- Card Header -->
    <div class="card-header">
        <h2 class="card-title">Enquiry Form</h2>
    </div>
    
    <!-- Card Body -->
    <div class="card-body">
        <form>
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="fullname">Full Name</label>
                <input id="fullname" class="form-control" type="text">
            </div>
            
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="email">Email Address</label>
                <input id="email" class="form-control" type="email">
            </div>
            
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="phone">Contact No</label>
                <input id="phone" class="form-control" type="tel">
            </div>
            
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label>Message</label>
                <textarea required class="form-control"></textarea>
            </div>
        </form>
    </div>
    
    <!-- Card Actions -->
    <div class="card-footer">
        <button class="btn pmd-ripple-effect btn-default" type="button">Reset</button>
        <button class="btn pmd-ripple-effect btn-primary" type="button">Submit</button>
    </div>
</div>