<!-- Icon, Title and Subtitle Card -->
<div class="card pmd-card text-center"> 
	<!-- Card body --> 
	<div class="card-body pmd-fab-top-center"> 
		<i class="pmd-icon-circle bg-primary">
			<svg version="1.1" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve" class="svg replaced-svg svg-replaced-15">
				<g>
					<path fill="#ffffff" d="M39.032,33.063h-2.869c-0.165-0.001-0.329-0.044-0.473-0.126   c-0.465-0.264-0.628-0.855-0.363-1.32l1.114-1.928v-5.645c0-0.072,0.006-0.145,0.02-0.216c0.119-0.628,0.726-1.04,1.354-0.921   c0.559,0.122,0.953,0.623,0.94,1.195v5.587l1.114,1.92c0.085,0.148,0.13,0.316,0.131,0.486C40,32.629,39.566,33.063,39.032,33.063z    M37.93,20.697l-14.444,4.242c-0.15,0.044-0.309,0.044-0.46,0L8.583,20.697c-0.263-0.079-0.469-0.284-0.548-0.547   c-0.13-0.432,0.115-0.888,0.548-1.018l14.443-4.242c0.151-0.044,0.31-0.044,0.46,0l14.444,4.242   c0.263,0.079,0.468,0.284,0.547,0.547C38.606,20.111,38.361,20.567,37.93,20.697z M14.177,24.904l8.098,2.374   c0.566,0.166,1.166,0.166,1.732,0l8.084-2.397c0.041-0.012,0.083-0.018,0.124-0.015c0.214,0.008,0.378,0.187,0.37,0.399v4.979   c-0.002,0.297-0.172,0.566-0.439,0.693c-6.012,2.928-12.022,2.954-18.034,0c-0.264-0.13-0.43-0.399-0.429-0.693v-4.955   c-0.001-0.042,0.004-0.083,0.016-0.124C13.759,24.961,13.973,24.844,14.177,24.904z"></path>
				</g>
			</svg>
		</i>	 
		<h2 class="card-title display-4"><strong>170+</strong></h2> 
		<p class="card-subtitle">Calls from IIFT for the 2017-19 batch</p>  
	</div>
</div>