<!-- Icon, Title, Subtitle and Description Card -->
<div class="card pmd-card text-center"> 
	<!-- Card body --> 
	<div class="card-body"> 
		<div class="pmd-card-icon"> 
			<i class="pmd-icon-xl md-dark">
			  <svg version="1.1" width="80px" x="0px" y="0px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
				<path class="st0" d="M89.9,45c0-5.5-5.8-9.8-14.2-12.7c4-8,4.9-15.1,1.1-19.1c-1.7-1.7-4-2.5-6.8-2.5c-3.4,0-7.6,1.2-12.2,3.5
					C54.9,5.8,50.6,0,45.1,0c-5.5,0-9.8,5.8-12.7,14.2c-4.6-2.3-8.8-3.5-12.2-3.5c-2.9,0-5.2,0.8-6.8,2.5c-2.5,2.5-4.4,7.9,1,19.1
					C5.8,35.2,0.1,39.5,0.1,45s5.8,9.8,14.2,12.7c-4,8-4.9,15.1-1.1,19.1c1.7,1.7,4,2.5,6.8,2.5c3.5,0,7.6-1.2,12.2-3.5
					C35.1,84.2,39.4,90,44.9,90s9.8-5.8,12.7-14.2c4.6,2.3,8.8,3.5,12.2,3.5c2.9,0,5.2-0.8,6.8-2.5c2.5-2.5,4.4-7.9-1-19.1l0,0
					C84.2,54.8,89.9,50.5,89.9,45z M69.9,16.1c1.4,0,2.4,0.4,3.1,1c1.8,1.8,1.1,7-2.4,13.8c-3-0.7-6.2-1.4-9.6-1.9
					c-0.5-3.4-1.1-6.5-1.8-9.5C63.7,17.2,67.4,16.1,69.9,16.1z M56.9,45c0,1.7,0,3.2-0.1,4.9c-1.1,1.2-2.2,2.4-3.4,3.5
					c-1.2,1.2-2.4,2.3-3.5,3.4c-1.6,0.1-3.2,0.1-4.9,0.1c-1.7,0-3.2,0-4.9-0.1c-1.2-1.1-2.4-2.2-3.5-3.4c-1.2-1.2-2.3-2.4-3.4-3.5
					c0-1.6-0.1-3.2-0.1-4.9c0-1.7,0-3.2,0.1-4.9c1.1-1.2,2.2-2.3,3.4-3.5c1.2-1.2,2.4-2.3,3.5-3.4c1.6,0,3.2-0.1,4.9-0.1
					c1.7,0,3.2,0,4.9,0.1c1.2,1.1,2.4,2.2,3.5,3.4c1.2,1.2,2.3,2.4,3.4,3.5C56.8,41.8,56.9,43.3,56.9,45z M52,28.1
					c-1-0.8-1.9-1.7-2.8-2.4c1.8-1.3,3.6-2.5,5.3-3.6c0.5,1.9,0.8,4.1,1.2,6.2C54.5,28.2,53.3,28.2,52,28.1z M38,28.1
					c-1.2,0.1-2.4,0.1-3.6,0.2c0.4-2.3,0.7-4.3,1.2-6.2c1.7,1.1,3.5,2.3,5.3,3.6C39.8,26.4,38.8,27.2,38,28.1z M28,38
					c-0.8,1-1.6,1.8-2.4,2.8c-1.3-1.8-2.5-3.6-3.6-5.3c1.9-0.5,4.1-0.8,6.2-1.2C28.3,35.5,28.1,36.7,28,38z M28,52.1
					c0.1,1.2,0.1,2.4,0.2,3.7c-2.3-0.4-4.3-0.7-6.2-1.2c1.1-1.7,2.3-3.5,3.6-5.3C26.5,50.2,27.2,51.1,28,52.1z M38,62
					c1,0.8,1.9,1.7,2.8,2.4c-1.8,1.3-3.6,2.5-5.3,3.6c-0.5-1.9-0.8-4-1.2-6.2C35.5,61.8,36.7,61.9,38,62z M52,62
					c1.2-0.1,2.4-0.1,3.6-0.2c-0.4,2.3-0.7,4.3-1.2,6.2c-1.7-1.1-3.5-2.2-5.3-3.6C50.2,63.6,51.2,62.8,52,62z M62,52.1
					c0.8-1,1.6-1.8,2.4-2.8c1.3,1.8,2.5,3.6,3.6,5.3c-1.9,0.5-4.1,0.8-6.2,1.2C61.7,54.5,61.9,53.3,62,52.1z M62,38
					c-0.1-1.3-0.2-2.5-0.2-3.7c2.3,0.4,4.3,0.7,6.2,1.2c-1.1,1.7-2.3,3.5-3.6,5.3C63.5,39.8,62.8,38.9,62,38z M45.1,5.4
					c2.5,0,5.6,4.1,8,11.4c-2.6,1.6-5.3,3.4-8,5.5c-2.8-2-5.4-4-8-5.5C39.3,9.5,42.4,5.4,45.1,5.4z M19,30c-3.6-7.4-3.4-11.5-2-13
					c0.6-0.6,1.7-1,3.1-1c2.5,0,6.2,1.1,10.7,3.4c-0.7,3-1.4,6.2-1.8,9.5c-3.4,0.5-6.5,1.1-9.5,1.8C19.3,30.6,19.1,30.2,19,30z M5.3,45
					c0-2.5,4.1-5.6,11.4-8c1.6,2.6,3.4,5.4,5.5,8c-2,2.6-3.8,5.4-5.4,8C9.4,50.8,5.3,47.6,5.3,45z M17,73.1c-1.8-1.8-1.1-7,2.4-13.8
					c3,0.7,6.2,1.4,9.6,1.8c0.5,3.4,1.1,6.5,1.8,9.5C23.8,74.2,18.8,74.8,17,73.1z M45.1,84.7c-2.5,0-5.6-4.1-8-11.4
					c2.6-1.6,5.3-3.4,8-5.5c2.8,2,5.4,4,8,5.5C50.7,80.6,47.6,84.7,45.1,84.7z M71,60.1c3.6,7.4,3.4,11.5,2,13
					c-1.8,1.8-6.8,1.1-13.8-2.4c0.7-3,1.3-6.1,1.8-9.5c3.4-0.5,6.5-1.1,9.5-1.8C70.7,59.5,70.9,59.8,71,60.1z M73.3,53
					c-1.6-2.6-3.4-5.4-5.5-8c2-2.6,3.8-5.4,5.4-8c7.3,2.4,11.4,5.5,11.4,8C84.7,47.6,80.6,50.8,73.3,53z"></path>
				</svg> 
			</i>
		</div>
		<h2 class="card-title display-4"><strong>68</strong></h2> 
		<p class="card-subtitle mb-3 text-uppercase">Components</p>                       
		<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde dolores cupiditate vitae. consectetur adipisicing elit.</p>  
	</div>
</div>