<!-- Icon, Title and Description Card -->
<div class="card pmd-card">
	<div class="card-body">
        <div class="pmd-card-icon mb-3">
            <img src="http://propeller.in/assets/images/icon.svg" />
        </div>
        <h2 class="card-title">Responsive Websites</h4>
        <p class="card-text">As mobile web usage skyrockets, we make sure we code best practice HTML for all types of devices and screen sizes.</p>	
    </div>
</div>