<!-- Image Overlay Card -->
<div class="card pmd-card bg-dark text-white overlay-card">
	<!-- Background Image -->
	<img src="../../assets/images/profile-pic-300.png" class="pmd-card-media" style="width:100%; height:auto;">
	
	<!-- Text Overlay -->
	<div class="card-img-overlay d-flex row justify-content-center text-center">
		<div class="align-self-center col-lg-9">
			<h2 class="card-title pmd-display3">A Developer Library</h2>
			<p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Sed feugiat arcu ut orci porta, eget porttitor felis suscipit.<br> Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. </p>
		</div>
	</div>
	
</div>