<!-- Inverse Card -->
<div class="card pmd-card text-white bg-dark">
    <div class="card-header d-flex flex-row">
      <a class="avatar-list-img" href="javascript:void(0);">
        <img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
      </a>
      <div class="media-body">
        <h3 class="card-title">Two-line item</h3>
        <p class="card-subtitle">Secondary text</p>
      </div>
    </div>
    <div class="pmd-card-media">
        <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    <div class="card-body">
        <h2 class="card-title">Title goes here</h2>
        <p class="card-subtitle mb-3">Secondary text</p>
        <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
    </div>
</div>