<!-- Kitchen Sink -->
<div class="card pmd-card">
    <div class="pmd-card-media">
        <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    <div class="card-header">
        <h2 class="card-title">Title goes here</h2>
        <p class="card-subtitle">Secondary text</p>		
    </div>	
    <div class="card-body">
        <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
        <ul class="list-group pmd-list pmd-card-list">
            <li class="list-group-item d-flex flex-row">
                <i class="material-icons pmd-list-icon pmd-sm">mood</i> 
                <span class="media-body">Single-line item with icon</span>
            </li>
            <li class="list-group-item d-flex flex-row">
                <i class="material-icons pmd-list-icon align-middle">notifications</i>
                <div class="media-body">Single-line item with icon</div>
            </li>
            <li class="list-group-item d-flex flex-row"> 
                <i class="material-icons pmd-list-icon">person_add</i>
                <div class="media-body">Single-line item with icon</div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Primary</button>
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-light" type="button">Action</button>
    </div>
</div>