<!-- List with Avatar Card -->
<div class="card pmd-card">
	
    <!-- List -->
    <ul class="list-group pmd-list pmd-card-list">
        <li class="list-group-item d-flex flex-row">
        
        	<!-- Avatar -->
            <a href="javascript:void(0);" class="avatar-list-img">
                <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true"> 
            </a>
            
            <!-- Body --> 
            <div class="media-body">
                <h3 class="pmd-list-title">Three-line item</h3>
                <p class="pmd-list-subtitle">In a three-line list, each tile contains a maximum of three lines of text.</p> 
            </div>
        </li>
        <li class="list-group-item d-flex flex-row">
        
        	<!-- Avatar -->
            <a href="javascript:void(0);" class="avatar-list-img">
                <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true"> 
            </a>
            
            <!-- Body -->  
            <div class="media-body">
                <h3 class="pmd-list-title">Three-line item</h3>
                <p class="pmd-list-subtitle">In a three-line list, each tile contains a maximum of three lines of text.</p> 
            </div>
        </li>
        <li class="list-group-item d-flex flex-row">
        
        	<!-- Avatar -->
            <a href="javascript:void(0);" class="avatar-list-img">
                <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true"> 
            </a>
            
            <!-- Body --> 
            <div class="media-body">
                <h3 class="pmd-list-title">Three-line item</h3>
                <p class="pmd-list-subtitle">In a three-line list, each tile contains a maximum of three lines of text.</p> 
            </div>
        </li>
    </ul>
</div>
