<!-- List with Icon Card -->
<div class="card pmd-card">
	
    <!-- Card Header -->
	<div class="card-header">
    	<h2 class="card-title">Listing Title</h2>
	</div>
    
    <!-- Listing -->
    <ul class="list-group pmd-list pmd-card-list">
        <li class="list-group-item d-flex flex-row">
            <i class="material-icons pmd-list-icon pmd-sm">mood</i> 
            <span class="media-body">Single-line item with icon</span>
        </li>
        <li class="list-group-item d-flex flex-row">
            <i class="material-icons pmd-list-icon align-middle">notifications</i>
            <div class="media-body">Single-line item with icon</div>
        </li>
        <li class="list-group-item d-flex flex-row"> 
            <i class="material-icons pmd-list-icon">person_add</i>
            <div class="media-body">Single-line item with icon</div>
        </li>
        <li class="list-group-item d-flex flex-row">
            <i class="material-icons pmd-list-icon">share</i>
            <div class="media-body">Single-line item with icon</div>
        </li>
        <li class="list-group-item d-flex flex-row"> 
            <i class="material-icons pmd-list-icon">drive_eta</i>
            <div class="media-body">Single-line item with icon</div>
        </li>
    </ul>
    
</div>