<!-- Locations Card -->
<div class="card pmd-card">  
	<!-- Card header -->
	<div class="card-header bg-primary d-flex flex-row pb-2 text-white pmd-fab-bottom-right">
		<i class="material-icons pr-2">
			<svg x="0px" y="0px"
				 width="36px" height="36px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
			<path id="XMLID_37_" fill="#FFFFFF" d="M28.042,6.041c-2.606-2.606-6.022-3.91-9.438-3.91s-6.832,1.303-9.438,3.91
				C8.557,6.65,8.019,7.304,7.552,7.991c1.858-2.708,4.974-4.485,8.506-4.485c5.694,0,10.311,4.616,10.311,10.311
				c0,1.83-0.479,3.546-1.313,5.036c-0.2,0.382-0.439,0.75-0.712,1.1c-0.514,0.694-1.114,1.32-1.784,1.865l-3.956,3.956l-4.29,4.29
				l4.29,4.29l9.438-9.438C33.254,19.703,33.254,11.253,28.042,6.041z"/>
			<path id="XMLID_34_" fill="#FFFFFF" d="M26.369,13.817c0-5.695-4.616-10.311-10.311-10.311c-3.532,0-6.648,1.777-8.506,4.485
				C7.526,8.029,7.5,8.067,7.475,8.105C7.397,8.221,7.322,8.338,7.249,8.457C7.243,8.466,7.238,8.475,7.232,8.484
				c-3.17,5.144-2.526,11.973,1.933,16.432l2.979,2.979l4.29-4.29l-2.979-2.979c-2.838-2.839-2.838-7.458,0-10.296
				c1.375-1.375,3.204-2.132,5.148-2.132s3.773,0.757,5.147,2.132c2.303,2.303,2.737,5.777,1.305,8.522
				C25.891,17.363,26.369,15.646,26.369,13.817z"/>
			<path id="XMLID_13_" fill="#FFFFFF" d="M23.337,15.662c0,2.512-2.038,4.546-4.551,4.546c-2.512,0-4.551-2.034-4.551-4.546
				c0-0.735,0.175-1.429,0.485-2.042c0.746-1.489,2.289-2.508,4.065-2.508c1.777,0,3.316,1.016,4.062,2.501
				C23.163,14.23,23.337,14.923,23.337,15.662z"/>
			</svg>
		</i>
		<div class="media-body"><h2 class="card-title pmd-headline">Denison</h2></div> 
		<div><a href="javascript:void(0);" class="btn pmd-btn-fab btn-sm pmd-btn-raised pmd-ripple-effect bg-success pmd-icon-bottom"><i class="material-icons text-white">directions</i></a></div> 
	</div>
	<!-- Card body -->
	<div class="card-body">
		<h5 class="card-subtitle">Address</h5>
		<address class="mb-4">2432 Florence Street, Denison, Texas - 75020</address>
		<h5 class="card-subtitle">Contact</h5>
		<address>903-463-5341/903-620-6754</address>
	</div> 
	<!-- Card buttons -->
	<div class="card-footer d-flex flex-row pmd-card-border text-center p-0">
		<div class="media-body p-2 border-right">
			<a href="javascript:void(0);"  title="Inquiry" class="text-dark">
				<i class="material-icons align-middle">
					<svg width="32px" height="32px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"> <path d="M29.216,28.354c1.146-1.703,1.742-3.93,1.742-6.093c0-4.435-2.926-7.652-6.958-7.652
					c-4.031,0-6.956,3.218-6.956,7.652c0,2.163,0.596,4.39,1.74,6.093c-3.606,1.186-6.61,3.454-6.61,6.079
					c0,0.176,0.067,0.347,0.188,0.474C15.424,38.191,19.557,40,24,40s8.576-1.809,11.641-5.093c0.119-0.127,0.185-0.298,0.185-0.474
					C35.825,31.809,32.824,29.54,29.216,28.354z M18.436,22.262C18.436,19.15,20.347,16,24,16c3.654,0,5.565,3.15,5.565,6.262
					c0,3.177-1.727,7.652-5.565,7.652C20.162,29.914,18.436,25.438,18.436,22.262z M24,38.607c-3.956,0-7.645-1.572-10.419-4.436
					c0.229-1.962,2.993-3.745,6.151-4.659c1.103,1.099,2.53,1.792,4.268,1.792c1.738,0,3.165-0.693,4.269-1.792
					c3.16,0.914,5.922,2.697,6.153,4.659C31.645,37.035,27.956,38.607,24,38.607z M24,8C15.179,8,8,15.178,8,24
					c0,2.28,0.471,4.482,1.396,6.547c0.116,0.257,0.369,0.411,0.635,0.411c0.096,0,0.191-0.021,0.284-0.063
					c0.352-0.156,0.508-0.567,0.35-0.919C9.82,28.093,9.393,26.082,9.393,24c0-8.055,6.553-14.608,14.607-14.608
					c8.054,0,14.61,6.554,14.61,14.608c0,2.081-0.43,4.093-1.275,5.977c-0.156,0.352,0,0.763,0.349,0.919
					c0.352,0.158,0.763,0.002,0.919-0.349C39.531,28.482,40,26.28,40,24C40,15.178,32.821,8,24,8z"></path> </svg>
				 </i>
				 Inquiry 
			</a>
		</div>
		<div class="media-body p-2">
			<a href="javascript:void(0);" title="Visit Center Page" class="text-dark">
				Visit Center Page<i class="material-icons align-middle pl-2">
					<svg width="24px" height="24px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"> <g> <g> <polygon points="24,9.6 23.001,10.637 35.674,23.309 9.6,23.309 9.6,24.729 35.638,24.729 23.001,37.402 24,38.4
	38.4,24 		"></polygon> </g> </g> </svg></i>
			</a>
		</div> 
	</div> 
</div>