<!-- Media, Title, Action and Description Card -->
<div class="card pmd-card">

	<!-- Card Media -->
	<div class="pmd-card-media">
        <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    
    <!-- Card Header -->
    <div class="card-header">
        <h2 class="card-title">Title goes here</h2>
        <p class="card-subtitle">Secondary text</p>		
    </div>
    
    <!-- Card Actions -->
    <div class="card-footer">
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Primary</button>
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-light" type="button">Action</button>
    </div>
    
    <!-- Card Body -->
    <div class="card-body">
        <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
    </div>
</div>