<!-- Media and Description Card -->
<div class="card pmd-card">
	
    <!-- Card Media -->
    <div class="pmd-card-media">
        <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    
    <!-- Card Body -->
    <div class="card-body">
        <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
    </div>
    
    <!-- Card Footer -->
    <div class="card-footer text-muted"> 15 days ago </div>
    
</div>