<!-- Media, Title and Actions Card -->
<div class="card pmd-card" style="width:22.5rem;">

	<!-- Card Media -->
    <div class="pmd-card-media">
        <img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    
    <!-- Card Header -->
    <div class="card-header">
        <h2 class="card-title">Title goes here</h2>
        <p class="card-subtitle">Secondary text</p>		
    </div>
    
    <!-- Card Actions -->
    <div class="card-footer">
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Primary</button>
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-light" type="button">Action</button>
    </div>
</div>