<!-- Media and Actions Card -->
<div class="card pmd-card">
	<div class="card-body d-flex flex-row">
    
    	<!-- Card Media -->
        <div class="media-body">
            <img src="http://propeller.in/assets/images/profile-pic.png" class="img-fluid">
        </div>
        
        <!-- Card Actions -->
        <div class="d-flex flex-column ml-3">
            <button type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"><i class="material-icons pmd-sm">share</i></button>
            <button type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"><i class="material-icons pmd-sm">thumb_up</i></button>
            <button type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"><i class="material-icons pmd-sm">drafts</i></button>
        </div>
        
    </div>
</div>