<!-- Media and Actions Card -->
<div class="card pmd-card">
	
    <!-- Card Media -->
    <div class="pmd-card-media">
    	<img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    
    <!-- Card Actions -->
    <div class="card-footer">
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
    </div>
</div>