<!-- Card with Media and Title -->
<div class="card pmd-card">   
	<!-- Card body --> 
	<div class="card-body text-center">  
		 <div class="pmd-card-icon">
			<div class="icon-wrap">
				<svg version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve"> 
				<path fill="#2E343D" d="M42.1,12c-10.1,0-18.4,2.4-18.4,5.4c0,0.1,0,0.3,0.1,0.4c3.9,0,7.4,1.7,10.1,4.4c2.5,0.4,5.3,0.6,8.2,0.6  c10.1,0,18.4-2.4,18.4-5.4S52.2,12,42.1,12L42.1,12z M60.5,20.5c0,3-8.2,5.4-18.4,5.4c-2,0-3.9-0.1-5.7-0.3c0.8,1.4,1.5,2.9,2,4.5  c1.4,0.1,2.7,0.1,3.7,0.1c4.6,0,13.4-0.5,18.4-3.6V20.5z M60.5,27.3c0,3-8.2,5.4-18.4,5.4c-1.1,0-2.1,0-3.1-0.1  c0.2,1.1,0.3,2.1,0.3,3.3c0,0.4,0,0.7,0,1.1c1.1,0,2.1,0.1,2.9,0.1c4.6,0,13.4-0.5,18.4-3.6V27.3L60.5,27.3z M60.5,34.2  c0,3-8.2,5.4-18.4,5.4c-1.1,0-2.2,0-3.2-0.1c-0.2,1.5-0.7,3-1.2,4.3c1.7,0.1,3.2,0.1,4.4,0.1c4.6,0,13.4-0.5,18.4-3.6V34.2  L60.5,34.2z M60.5,41.1c0,3-8.2,5.4-18.4,5.4c-2,0-3.9-0.1-5.6-0.3c-0.9,1.5-2,2.9-3.2,4c3.3,0.5,6.6,0.6,8.9,0.6  c4.6,0,13.4-0.5,18.4-3.6V41.1L60.5,41.1z"></path>
				<path fill="#E1112E" d="M19.6,52c-8.9,0-16.1-7.2-16.1-16c0-8.8,7.2-16,16.1-16c8.9,0,16.1,7.2,16.1,16C35.7,44.8,28.5,52,19.6,52z   M19.6,21.7c-7.9,0-14.3,6.4-14.3,14.3s6.4,14.3,14.3,14.3S33.8,43.9,33.8,36S27.5,21.7,19.6,21.7z"></path>
				<path fill="#E1112E" d="M19.5,47.8c-6.6,0-11.9-5.3-11.9-11.9S13,23.9,19.5,23.9c6.6,0,11.9,5.3,11.9,11.9S26.1,47.8,19.5,47.8z   M25.5,32.7h-2.6c-0.2-0.9-0.6-1.8-1.3-2.4h3.9v-1.6H13.6v1.6h4.1c1.7,0,3.2,1,3.6,2.4h-7.7v1.6h7.7c-0.4,1.4-1.9,2.4-3.6,2.4h-4.1  v1.6h3.6l3.7,7.1l1.5-0.8L19,38.2c2-0.5,3.6-2,3.9-3.9h2.6V32.7z"></path>
				</svg>
			</div>
		 </div>
		 <h5>Cost Effective</h5>
	</div> 
</div>