<!-- Media and Title Card -->
<div class="card pmd-card text-center"> 
	<!-- Card media -->  
	<div class="pmd-card-media">
		<img alt="birthday-picture" class="img-fluid" src="images/birthday-picture.jpg">
	</div>
	<!-- Card header -->
	<div class="card-header">
		<h2 class="card-title pmd-headline mb-0">Birthday</h2>
	</div>
</div>