<!-- Recent Posts Card -->
<div class="card pmd-card"> 
	<!-- Card hedaer --> 
	<div class="card-header d-flex flex-row pmd-card-border">
	  <a class="pmd-icon-circle pmd-icon-sm bg-primary mr-3" href="javascript:void(0);"> 
		<svg version="1.1" id="XMLID_1_" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
			<path fill="#FFFFFF" d="M10,22h6L32,6l-6-6L10,16V22z M13,17L25,5l2,2L15,19h-2V17z M22,28H4V10h8l4-4H0v26h26V16l-4,4V28z"></path>
		</svg>
	  </a>
	  <div class="media-body my-auto">
		<h3 class="card-title pmd-headline mb-0">Recent Posts</h3>
	  </div> 
	</div> 
	<!-- Card list -->
	<ul class="list-group pmd-list pmd-card-list">
		<li class="list-group-item d-flex flex-row"> 
			<a href="javascript:void(0);" class="avatar-list-img" title="profile-link"> 
				<img alt="40x40" class="img-fluid" src="images/profile-1.png"> 
			</a>
			<div class="media-body">
				<h3 class="pmd-list-title">Christopher Columbus</h3>
				<p class="pmd-list-subtitle">This theme is Awesome!!</p> 
			</div>
			<p class="card-subtitle pt-2">5 mins ago</p> 
		</li>
		<li class="list-group-item d-flex flex-row"> 
			<a href="javascript:void(0);" class="avatar-list-img" title="profile-link"> 
				<img alt="40x40" class="img-fluid" src="images/profile-2.png"> 
			</a>
			<div class="media-body">
				<h3 class="pmd-list-title">Sandra Smith</h3>
				<p class="pmd-list-subtitle">Hey! I'm thankful to you</p> 
			</div>
			<p class="card-subtitle pt-2">6 hours ago</p> 
		</li>
	   
		<li class="list-group-item d-flex flex-row"> 
			<a href="javascript:void(0);" class="avatar-list-img" title="profile-link"> 
				<img alt="40x40" class="img-fluid" src="images/profile-3.png"> 
			</a>
			<div class="media-body">
				<h3 class="pmd-list-title">Paul Andrew</h3>
				<p class="pmd-list-subtitle">Nice Work!</p> 
			</div>
			<p class="card-subtitle pt-2">13:40 PM</p> 
		</li>
	</ul> 
</div>