<!-- Social Media Card -->
<div class="card pmd-card bg-primary text-center">
	<!-- Card Icon -->
	<div class="pmd-card-icon mt-3"> 
		<i class="material-icons pmd-icon-border"> 
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="60px" height="60px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve" style="padding:12px">
			<g id="XMLID_834_">
				<path id="XMLID_835_" fill="#ffffff" d="M21.448,42.558h8.601v35.405c0,0.7,0.566,1.266,1.266,1.266h14.58
					c0.7,0,1.267-0.565,1.267-1.266V42.726h9.887c0.643,0,1.184-0.483,1.257-1.122l1.502-13.034c0.041-0.359-0.073-0.718-0.313-0.987
					c-0.239-0.27-0.583-0.424-0.944-0.424H47.161v-8.17c0-2.463,1.327-3.712,3.942-3.712c0.374,0,7.446,0,7.446,0
					c0.699,0,1.267-0.566,1.267-1.265V2.046c0-0.699-0.567-1.266-1.267-1.266H48.288c-0.072-0.003-0.233-0.009-0.47-0.009
					c-1.78,0-7.969,0.35-12.857,4.847c-5.417,4.983-4.664,10.951-4.483,11.985v9.555h-9.029c-0.698,0-1.265,0.566-1.265,1.266v12.868
					C20.184,41.991,20.75,42.558,21.448,42.558z"/>
			</g>
			</svg> 
		</i>
	</div>   
	<!-- Card body -->
	<div class="card-body">
		<div class="d-flex flex-row text-white">
			<div class="media-body border-right p-1">
				<p class="card-subtitle text-white">Posts</p>
				<h3 class="card-title mb-0">65</h3>
			</div>
			<div class="media-body border-right p-1">
				<p class="card-subtitle text-white">Followers</p>
				<h3 class="card-title mb-0">306</h3> 
			</div>
			<div class="media-body p-1">
				<p class="card-subtitle text-white">Likes</p>
				<h3 class="card-title mb-0">286</h3> 
			</div>
		</div>
		<hr class="bg-white"/>
		<h5 class="card-title text-white mb-3">Most Popular Post</h5>
		<div class="d-flex flex-row bg-white p-2 text-left">
			<img alt="D-Fair" class="img-fluid pr-3" src="images/d-fair.jpg" />
			<div class="media-body">
				<h5 class="card-title">D'Fair</h5>
				<p class="card-subtitle">An event of the people, for the people & by the people of Digicorp!</p>
			</div>
		</div>
	</div> 
</div>