<!-- Team Card -->
<div class="card pmd-card text-center">
    <div class="card-body">
        <img src="https://propeller.in/assets/images/Keith-Dowd.png" class="rounded-circle img-fluid mb-3" title="" alt="">
        <h2 class="card-title">Keith Dowd</h2>
        <p class="card-subtitle mb-3">Peach &amp; Pie</p>
        <p class="card-text">Amorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras etitikis mauris eget lorem ultricies ferme ntum a inti diam.</p>
    </div>
</div>