<!-- Testimonial Card -->
<div class="card pmd-card"> 
	<!-- Card body --> 
	<div class="card-body">
		<h2 class="card-title pmd-headline">Great service</h2>
		<p class="card-text">I have been ordering since two years and midnight has never disappointed me.On time services and great quality cake, which is making them reliable.</p>
	</div>
	<!-- Card header --> 
	<div class="card-footer d-flex flex-row pmd-card-border">
		<a class="avatar-list-img" href="javascript:void(0);">
			<img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
		</a>
		<div class="media-body">
			<h6 class="card-title">Mitali Patel, Mumbai</h6>
			<p class="card-subtitle">Sep 24 2017</p>
		</div>
	</div>
</div>