<!-- Card with Timeline-->
<div class="card pmd-card"> 
	<!-- Card hedaer --> 
	<div class="card-header d-flex flex-row pmd-card-border">
	  <a class="pmd-icon-circle bg-primary pmd-icon-sm mr-3" href="javascript:void(0);"> 
	   <svg version="1.1" id="Layer_1" x="0px" y="0px"
			 width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
		<g>
			<path fill="#FFFFFF" d="M5.405,10.858L5.405,10.858L5.405,10.858z"/>
			<rect x="0.583" y="14.349" fill="#FFFFFF" width="2.964" height="5.276"/>
			<rect x="4.588" y="10.854" fill="#FFFFFF" width="2.965" height="8.771"/>
			<rect x="8.594" y="7.363" fill="#FFFFFF" width="2.964" height="12.262"/>
			<rect x="12.65" y="3.869" fill="#FFFFFF" width="2.965" height="15.756"/>
			<rect x="16.453" y="0.375" fill="#FFFFFF" width="2.964" height="19.25"/>
		</g>
		</svg>
	  </a>
	  <div class="media-body my-auto">
		<h3 class="card-title pmd-headline mb-0">Project Progress</h3>
	  </div> 
	</div> 
	<!-- Card list -->
	<ul class="list-group pmd-list pmd-list-border pmd-list-progress">
		<li class="list-group-item list-group-item-success"> 
			<h2 class="pmd-list-title">Graphics changes. Need to change icons for few sections.</h2>
			<p class="pmd-list-subtitle">Low Priority</p>
		</li> 
		<li class="list-group-item list-group-item-danger"> 
			<h2 class="pmd-list-title">Clean html/css/js code. Remove commented code from all the files. Also, enhance the code.</h2>
			<p class="pmd-list-subtitle">High Priority</p>
		</li> 
		<li class="list-group-item list-group-item-danger"> 
			<h2 class="pmd-list-title">Make website responsive. Need to check the website in devices like Mobile and Ipad.</h2>
			<p class="pmd-list-subtitle">High Priority</p>
		</li> 
	</ul>
</div>