<!-- Title, Description and Action Area Card -->
<div class="card pmd-card">
	
    <!-- Card Header -->
    <div class="card-header">
        <h2 class="card-title">Title goes here</h2>
        <p class="card-subtitle">Secondary text</p>	
    </div>
    
    <!-- Card Body -->
    <div class="card-body">
        <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
    </div>
    
    <!-- Card Actions -->
    <div class="card-footer">
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Primary</button>
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-light" type="button">Action</button>
    </div>
</div>