<!-- Title, Media, Description and Action Card -->
<div class="card pmd-card">
	
    <!-- Card Header -->
    <div class="card-header d-flex flex-row">
        <a class="avatar-list-img" href="javascript:void(0);">
        	<img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
        </a>
        <div class="media-body">
            <h3 class="card-title">Two-line item</h3>
            <p class="card-subtitle">Secondary text</p>
        </div>
    </div>
    
    <!-- Card Media -->
    <div class="pmd-card-media">
    	<img src="http://propeller.in/assets/images/profile-pic.png" width="1184" height="666" class="img-fluid">
    </div>
    
    <!-- Card Body -->
    <div class="card-body">
    	<p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
    </div>
    
    <!-- Card Actions -->
    <div class="card-footer">
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Primary</button>
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-light" type="button">Action</button>
    </div>
    
</div>