<!--Animated progressbar --> 

<!-- Animated progressbar of green color -->  
<div class="progress pmd-progress mb-3" style="height:10px">
    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated active" style="width: 34%;"></div>
</div>

<!-- Animated progressbar of red color -->
<div class="progress pmd-progress mb-3" style="height:10px">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 68%;"></div>
</div>