<!-- Propeller progressbar of varying colors -->

<!-- Progress Bar in Green -->
<div class=" progress pmd-progress mb-3">
    <div class="progress-bar bg-success" style="width: 34%;"></div>
</div>

<!-- Progress Bar in Yellow -->
<div class=" progress pmd-progress mb-3">
    <div class="progress-bar bg-warning" style="width: 68%;"></div>
</div>

<!-- Progress Bar in Red -->
<div class=" progress pmd-progress mb-3">
    <div class="progress-bar bg-danger" style="width: 52%;"></div>
</div>

<!-- Progress Bar in Primary Colour -->
<div class=" progress pmd-progress mb-3">
    <div class="progress-bar bg-primary" style="width: 77%;"></div>
</div>