<!--stacked progressbar -->   
<div class=" progress progress-bar-striped pmd-progress">
    <div style="width: 35%" class="progress-bar bg-success"></div>
    <div style="width: 20%" class="progress-bar bg-danger"></div>
    <div style="width: 10%" class="progress-bar bg-warning"></div>
</div>