<!-- Progressbar with Height 2px -->
<div class=" progress pmd-progress" style="height:2px;">
    <div class="progress-bar bg-primary" style="width: 77%;"></div>
</div>

<!-- Progressbar with Height 10px -->
<div class=" progress pmd-progress" style="height:10px;">
    <div class="progress-bar bg-primary" style="width: 77%;"></div>
</div>