<!--Striped progressbar of varying colors -->   

<!-- Striped progressbar of red color -->   
<div class="progress pmd-progress mb-3">
    <div class="progress-bar progress-bar-striped bg-danger" style="width: 34%;"></div>
</div>

<!-- Striped progressbar of dark color -->
<div class="progress pmd-progress mb-3">
    <div class="progress-bar progress-bar-striped bg-dark" style="width: 68%;"></div>
</div>

<!-- Striped progressbar of yellow color -->
<div class="progress pmd-progress mb-3">
    <div class="progress-bar progress-bar-striped bg-warning" style="width: 52%;"></div>
</div>

<!-- Striped progressbar of green color -->
<div class="progress pmd-progress mb-3">
    <div class="progress-bar progress-bar-striped bg-success" style="width: 77%;"></div>
</div>