<html>

<head>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">
                                <%if (canAdd == 1 || canEdit == 1) { %>
                                    <% var rootPath = '../'; %>
                                        <button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" id="importSectorJobRole" type="button" onclick="sectorJobRole.import()"
                                            title="Import Sector / Job Role">
                                            <i class="material-icons md-dark pmd-icon-md">file_upload</i>
                                        </button>
                                        <div id="divImportSectorJobRole" style="display: none;">
                                            <h1 class="section-title" id="services">
                                                <span>Import Sector / Job Role</span>
                                            </h1>
                                            <!--Use dismissing alerts-->
                                            <div role="alert" class="alert alert-danger alert-dismissible customerrorsuccess hidden">
                                                <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                                <h2 class="alert-heading">Records which are failed to import</h2>
                                                <hr>
                                                <p class="customErrorRecords"></p>
                                            </div>


                                            <div class="pmd-card pmd-z-depth">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <form method="post" accept-charset="utf-8" id="frmUploadSectorJobRole" enctype="multipart/form-data">
                                                            <div style="display:none;">
                                                                <input type="hidden" name="_method" value="POST">
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input type="file" name="fileupload" id="fileupload" class=" ">
                                                                <div class="clearfix"></div>
                                                                <br/>
                                                                <span class="small">
                                                                    <p>
                                                                        <strong>Allowed file types: </strong>csv</p>
                                                                    <p>
                                                                        <strong>Max. File size: </strong>2 MB</p>
                                                                    <p class="customlink">
                                                                        <a href="sectorjobroles_sample_csv/">Download sample CSV from here.</a>
                                                                    </p>
                                                                </span>
                                                                <input type="hidden" name="import_user_file_name"> </div>
                                                            <div class="col-lg-12">
                                                                <button class="btn btn-primary ripple-effect" type="button" onclick="sectorJobRole.importCSV()">Submit</button>
                                                                <button type="button" class="btn pmd-ripple-effect btn-light" onclick="sectorJobRole.cancel()">Cancel</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <% } %>

                                            <section class="component-section">
                                                <div id="divSectorJobRole">
                                                    <h2 class="card-title d-flex">
                                                        Sector/Job Role
                                                        <!-- <div class="dropdown pmd-dropdown ml-auto">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="selectAction" data-toggle="dropdown" aria-expanded="true">Select Action</button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingPartner.mutipleaction('active')">Mark as Approved</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingPartner.mutipleaction('delete')">Delete</a>
                                                            </div>
                                                        </div> -->
                                                    </h2>
                                                    <div class="card pmd-card">
                                                        <table id="gridSectorJobRole" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                            width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <!-- <th>
                                                                        <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                            <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                            <label class="custom-control-label" for="customCheckBox0">
                                                                            </label>
                                                                        </div>
                                                                    </th> -->
                                                                    <th>Sector</th>
                                                                    <!-- <th>Sector Skill Council</th> -->
                                                                    <th>Job Role</th>
                                                                    <!-- <th>Code</th> -->
                                                                    <!-- <%if (canAdd == 1 || canEdit == 1) { %>
                                                                        <th>Status</th>
                                                                        <th>Actions</th>
                                                                        <% } %> -->
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- section content end -->

                                                </div>
                                            </section>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                    <% include  ../../partials/footer %>
        </section>
        <!-- <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script> -->
        <script type="text/javascript" src="../pages/sectorjobrole/sectorjobrole.js"></script>
</body>

</html>