<!-- Icon with Filled Circle -->
<i class="material-icons md-light pmd-icon-circle bg-dark pmd-icon-md">mood</i><br>

<!-- Icon with Circular Border -->
<i class="material-icons md-dark pmd-icon-circle border border-dark pmd-icon-md">mood</i><br>