<!-- Extral Large Propeller  icon -->
<i class="material-icons md-dark pmd-icon-icon-xl">sentiment_dissatisfied</i>

<!-- Large Propeller  icon -->
<i class="material-icons md-dark pmd-icon-lg">sentiment_dissatisfied</i>

<!-- Medium Propeller  icon -->
<i class="material-icons md-dark pmd-icon-md">account_balance</i>

<!-- Small Propeller  icon -->
<i class="material-icons md-dark pmd-icon-sm">supervisor_account</i>

<!-- Extra small Propeller  icon -->
<i class="material-icons md-dark pmd-icon-xs">add_to_queue</i>

<!-- Default Google icon -->
<i class="material-icons md-dark pmd-icon-md">sentiment_dissatisfied</i>

<!-- Default Inactive Google icon -->
<i class="material-icons md-dark pmd-icon-md md-inactive">sentiment_dissatisfied</i>

<!-- Inverse Google icon -->
<i class="material-icons md-light pmd-icon-md">sentiment_dissatisfied</i>

<!-- Inverse Inactive Google icon -->
<i class="material-icons md-light pmd-icon-md md-inactive">sentiment_dissatisfied</i>