<!-- Propeller Navbar -->
<nav class="navbar navbar-expand-xl navbar-dark bg-primary pmd-navbar fixed-top">
    <button class="navbar-toggler pmd-navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>	
    <a class="navbar-brand" href="#">
        <img src="https://propeller.in/website/wp-content/uploads/2017/04/propeller-icon.svg" width="40" height="40" class="d-inline-block align-center" alt="">
        Propeller
    </a>
    <div class="collapse navbar-collapse pmd-navbar-sidebar" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link pmd-ripple-effect" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown pmd-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-sidebar="true" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>  
    </div>
    <div class="pmd-sidebar-overlay"></div>
</nav>