<!-- Nav menu with text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark pmd-navbar pmd-z-depth fixed-top">
  	<a class="navbar-brand" href="#">Navbar w/ text</a>
  	<button class="navbar-toggler pmd-navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarText" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
	</button>
  	<div class="collapse navbar-collapse" id="navbarText">
    	<ul class="navbar-nav mr-auto">
      		<li class="nav-item active">
        		<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="#">Features</a>
      		</li>
      		<li class="nav-item">
       			<a class="nav-link" href="#">Pricing</a>
      		</li>
    	</ul>
    	<span class="navbar-text"> Navbar text with an inline element</span>
  	</div>
</nav>