/*!
 * Propeller v2.0.0-beta (http://propeller.in/): pmd-datatable.css
 * Copyright 2016-2018 Digicorp Information Systems Pvt. Ltd.
 * This software is covered by Propeller Pro Plan 1 License (License.txt)
 * Usage without proper license is prohibited.
 */
table.dataTable {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::after,
table.dataTable thead .sorting_asc_disabled::after,
table.dataTable thead .sorting_desc_disabled::after {
  font-family: 'Material Icons';
  font-size: 18px;
  right: 0;
  bottom: 8px;
  opacity: 0.5;
}
table.dataTable thead .sorting::after {
  content: "";
}
table.dataTable thead .sorting_desc::after {
  content: "\E5C7";
}
table.dataTable thead .sorting_asc::after {
  content: "\E5C5";
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  content: "";
}
table.dataTable.dtr-column > tbody > tr > td.control::before,
table.dataTable.dtr-column > tbody > tr > th.control::before {
  border: medium none;
  box-shadow: none;
  font-size: 18px;
  left: inherit;
  right: 10px;
  background-color: #fff;
  color: #31b131;
  height: 22px;
  line-height: 21px;
  width: 22px;
  top: 44%;
}
table.dataTable.dtr-column > tbody > tr.parent td.control::before,
table.dataTable.dtr-column > tbody > tr.parent th.control::before {
  background-color: #fff;
}
table.dataTable > tbody > tr.child {
  background-color: #fff;
}
table.dataTable > tbody > tr.child ul {
  display: block;
}
table.dataTable td.select-checkbox {
  width: 24px;
}
table.dataTable td.select-checkbox::before, table.dataTable td.select-checkbox::after {
  box-sizing: border-box;
  display: block;
  top: 50%;
  position: absolute;
  left: 50%;
}
table.dataTable td.select-checkbox::before {
  border-color: rgba(0, 0, 0, 0.54);
  border-radius: 0.125rem;
  border-style: solid;
  border-width: 0.125rem;
  content: "";
  height: 18px;
  width: 18px;
  margin-left: -9px;
  margin-top: -10px;
}
table.dataTable tr.selected td.select-checkbox::after {
  opacity: 1;
  transform: rotate(45deg);
  border-image: none;
  border-style: none solid solid none;
  border-width: 0 0.125rem 0.125rem 0;
  color: #fff;
  content: "";
  display: table;
  height: 12px;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 6px;
  margin: -9px 0 0 -3px;
}
table.dataTable tr.selected td.select-checkbox::before {
  background-color: #4285f4;
  border-color: #4285f4;
}
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected, table.dataTable.stripe tbody > tr.odd.selected,
table.dataTable.stripe tbody > tr.odd > .selected, table.dataTable.display tbody > tr.odd.selected,
table.dataTable.display tbody > tr.odd > .selected, table.dataTable.hover tbody > tr.selected,
table.dataTable.hover tbody > tr > .selected, table.dataTable.display tbody > tr.selected,
table.dataTable.display tbody > tr > .selected {
  background-color: #edf4fd;
}
table.dataTable tbody > tr.selected:hover,
table.dataTable tbody > tr > .selected:hover, table.dataTable.stripe tbody > tr.odd.selected:hover,
table.dataTable.stripe tbody > tr.odd > .selected:hover, table.dataTable.display tbody > tr.odd.selected:hover,
table.dataTable.display tbody > tr.odd > .selected:hover, table.dataTable.hover tbody > tr.selected:hover,
table.dataTable.hover tbody > tr > .selected:hover, table.dataTable.display tbody > tr.selected:hover,
table.dataTable.display tbody > tr > .selected:hover {
  background-color: #edf4fd;
}
table.dataTable.display tbody > tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1, table.dataTable.display tbody > tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
  background-color: #edf4fd;
}
table.dataTable.table-dark tbody > tr.selected,
table.dataTable.table-dark tbody > tr > .selected, table.dataTable.table-dark.stripe tbody > tr.odd.selected,
table.dataTable.table-dark.stripe tbody > tr.odd > .selected, table.dataTable.table-dark.display tbody > tr.odd.selected,
table.dataTable.table-dark.display tbody > tr.odd > .selected, table.dataTable.table-dark.hover tbody > tr.selected,
table.dataTable.table-dark.hover tbody > tr > .selected, table.dataTable.table-dark.display tbody > tr.selected,
table.dataTable.table-dark.display tbody > tr > .selected {
  background-color: #313131;
}
table.dataTable.table-dark.display tbody > tr.even.selected > .sorting_1, table.dataTable.table-dark.order-column.stripe tbody > tr.even.selected > .sorting_1, table.dataTable.table-dark.display tbody > tr.odd.selected > .sorting_1, table.dataTable.table-dark.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
  background-color: #313131;
}
table.dataTable.table-dark td.select-checkbox::before {
  border-color: rgba(255, 255, 255, 0.7);
}

/*Propeller DataTable pagination*/
div.dataTables_wrapper .pmd-datatable-pagination {
  text-align: right;
  line-height: 40px;
  margin: -8px -16px;
}
div.dataTables_wrapper .pmd-datatable-pagination > div {
  display: inline-block;
  vertical-align: middle;
}
div.dataTables_wrapper .pmd-datatable-pagination div.dataTables_info {
  padding: 0;
  margin-left: 32px;
}
div.dataTables_wrapper .pmd-datatable-pagination div.dataTables_length select {
  width: 48px;
  border-width: 0;
  border-bottom-width: 1px;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  height: 24px;
  line-height: 24px;
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination {
  margin: 0;
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination li a,
div.dataTables_wrapper .pmd-datatable-pagination .pagination li span, div.dataTables_wrapper .pmd-datatable-pagination .pagination li.disabled a, div.dataTables_wrapper .pmd-datatable-pagination .pagination li.disabled span {
  background: none;
  border: none;
  margin-right: 4px;
  border-radius: 3px;
  min-width: 24px;
  text-align: center;
  padding: 4px 4px;
  border: 1px solid;
  border-color: transparent;
  line-height: 22px;
  padding-top: 0;
  padding-bottom: 0;
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination li.active a, div.dataTables_wrapper .pmd-datatable-pagination .pagination li.active span {
  background: #fff;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination li.previous, div.dataTables_wrapper .pmd-datatable-pagination .pagination li.next {
  margin: 0 12px;
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination li.previous a, div.dataTables_wrapper .pmd-datatable-pagination .pagination li.next a {
  font-family: 'Material Icons';
  font-size: 24px;
  height: auto;
  line-height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0;
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination li.previous a:before {
  content: "\e5cb";
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination li.next a:before {
  content: "\e5cc";
}
div.dataTables_wrapper .pmd-datatable-pagination .pagination > li {
  display: inline-block;
  vertical-align: middle;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin-left: 20px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  vertical-align: middle;
}
div.dataTables_wrapper div.dataTables_length label {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .search-paper {
    float: none;
  }
}

.data-table-title {
  display: inline-block;
}

.pmd-custom-select {
  margin: 0;
  border-bottom: 1px solid #ccc;
  width: 120px;
  overflow: hidden;
  background-color: #fff;
  padding: 2px 0 2px 0;
  margin-left: 32px;
  position: relative;
}
.pmd-custom-select:after {
  content: "\E5C5";
  font-family: 'Material Icons';
  font-size: 18px;
  position: absolute;
  right: 0;
  top: -6px;
  color: rgba(0, 0, 0, 0.54);
}
.pmd-custom-select select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pmd-custom-select select::after {
  position: absolute;
  right: 8px;
  font-size: 18px;
  top: -3px;
}
.pmd-custom-select select:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  div.dataTables_wrapper div.dataTables_length label {
    position: relative;
  }
  div.dataTables_wrapper .pmd-datatable-pagination div.dataTables_info {
    margin-left: 0;
    word-wrap: break-word;
  }
  div.dataTables_wrapper div.dataTables_paginate {
    margin-left: 0;
  }
  div.dataTables_wrapper div.dataTables_filter input {
    width: 100%;
    margin-left: 0;
  }
  div.dataTables_wrapper div.dataTables_info {
    white-space: inherit;
  }

  .custom-select-title {
    vertical-align: top;
  }

  .pmd-custom-select {
    margin-left: 0;
  }

  .pmd-datatable-pagination {
    float: none;
  }
  .pmd-datatable-pagination > div {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
  }

  .search-paper {
    width: 100%;
    margin-bottom: -20px;
    margin-top: 20px;
  }
  .search-paper label {
    width: 100%;
  }

  .pagination li.previous,
  .pagination li.next {
    margin: 0 4px;
  }
}
.dataTables_wrapper {
  position: relative;
  padding: 0;
}

.custom-select-info {
  background-color: #edf4fd;
  height: 64px;
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 64px;
  padding: 0 16px;
  font-size: 16px;
}

.custom-select-item {
  float: left;
}

.custom-select-action {
  float: right;
}
.custom-select-action button {
  margin-left: 8px;
}

.pmd-card.bg-dark .pmd-custom-select {
  background: transparent;
}
.pmd-card.bg-dark .pmd-custom-select::after {
  color: #fff;
}
.pmd-card.bg-dark div.dataTables_length select {
  color: #fff;
}
.pmd-card.bg-dark div.dataTables_length select option {
  color: rgba(0, 0, 0, 0.87);
}
.pmd-card.bg-dark .custom-select-info {
  background-color: rgba(0, 0, 0, 0.87);
  height: 64px;
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 64px;
  padding: 0 16px;
  font-size: 16px;
}
.pmd-card.bg-dark table.dataTable > tbody > tr.child {
  background-color: rgba(0, 0, 0, 0.87);
}
.pmd-card.bg-dark table.dataTable > tbody > tr.child::hover {
  background-color: rgba(0, 0, 0, 0.87);
}

/*# sourceMappingURL=pmd-datatable.css.map */
