<!-- Tooltip on Top -->
<button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>

<!-- Tooltip on Right -->
<button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
  Tooltip on right
</button>

<!-- Tooltip on Bottom -->
<button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
  Tooltip on bottom
</button>

<!-- Tooltip on Left -->
<button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
  Tooltip on left
</button>

<!-- Tooltip with HTML -->
<button type="button" class="btn btn-dark" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
  Tooltip with HTML
</button>
