<p style="color:rgba(0,0,0,0.54)">Propeller is the combination of 
<a href="javascript:void(0);" class="pmd-tooltip" data-toggle="tooltip" data-placement="top" title="Material design is a visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science."><strong>Material Design</strong></a> 
and 
<a href="javascript:void(0);" class="pmd-tooltip" data-toggle="tooltip" data-placement="bottom" title="Bootstrap is the most popular HTML, CSS, and JS framework in the world for building responsive, mobile-first projects on the web."><strong>Bootstrap</strong></a> 
that makes your website more attractive, consistent, and functionally powerful. The Propeller components are created with CSS, JavaScript, and HTML. You can use the components to construct web pages and web apps that are attractive, consistent, and functional. By using Propeller components, you can get basic structure of your design and also customise it easily.</p>
