<!--Tooltip on left -->
<button type="button" class="btn pmd-btn-raised pmd-tooltip btn-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

<!--Tooltip on right -->
<button type="button" class="btn pmd-btn-raised pmd-tooltip btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>

<!--Tooltip on top -->
<button type="button" class="btn pmd-btn-raised pmd-tooltip btn-info" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

<!--Tooltip on bottom -->
<button type="button" class="btn pmd-btn-raised pmd-tooltip btn-danger" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>
