<!--Group Items of diffrent types start -->
<ul class="list-group pmd-list pmd-card-list">
    <li class="list-group-item list-group-item-success">List group item with <code>success</code> class.</li>
    <li class="list-group-item list-group-item-info">List group item with <code>info</code> class.</li>
    <li class="list-group-item list-group-item-warning">List group item with <code>warning</code> class.</li>
    <li class="list-group-item list-group-item-danger">List group item with <code>danger</code> class.</li>
</ul>