<!-- Contextual Linked Items -->
<div class="list-group pmd-list pmd-card-list"> 
    <a class="list-group-item list-group-item-action list-group-item-success" href="javascript:void()0;">Linked List group item with <code>success</code> class.</a>
    <a class="list-group-item list-group-item-action list-group-item-info" href="javascript:void()0;">Linked List group item with <code>info</code> class.</a>
    <a class="list-group-item list-group-item-action list-group-item-warning" href="javascript:void()0;">Linked List group item with <code>warning</code> class.</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" href="javascript:void()0;">Linked List group item with <code>danger</code> class.</a>
</div>