<!-- Description list -->
<dl> 
	<dt>Description lists</dt> 
	<dd>A description list is perfect for defining terms.</dd> 
	<dt>Euismod</dt> 
	<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd> 
	<dd>Donec id elit non mi porta gravida at eget metus.</dd> 
	<dt>Malesuada porta</dt> 
	<dd>Etiam porta sem malesuada magna mollis euismod.</dd> 
	<dt>Felis euismod semper eget lacinia</dt> 
	<dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd> 
</dl>