<!-- List containing disabled link -->
<div class="list-group pmd-list pmd-card-list">
    <a class="list-group-item disabled list-group-item-action" href="javascript:void(0);">Disabled List item</a>
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">List item</a>
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">List item</a>
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">List item</a>
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">List item</a>
</div>