<!-- Flush List -->
<ul class="list-group list-group-flush pmd-card-list">
	<li class="list-group-item">List Item</li>
	<li class="list-group-item">List Item</li>
	<li class="list-group-item">List Item</li>
	<li class="list-group-item">List Item</li>
	<li class="list-group-item">List Item</li>
</ul>