<!--List with title and linked content -->
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="pmd-list-title">Three-line item</h3>
            <small>3 days ago</small>
        </div>
        <p class="mb-1 pmd-list-subtitle">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="pmd-list-title">List group item heading</h3>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1 pmd-list-subtitle">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="pmd-list-title">List group item heading</h3>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1 pmd-list-subtitle">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
</div>