<!--List containing links -->
<div class="list-group pmd-list pmd-card-list"> 
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">Single-line item</a> 
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">Single-line item</a> 
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">Single-line item</a> 
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">Single-line item</a> 
    <a class="list-group-item list-group-item-action" href="javascript:void(0);">Single-line item</a> 
</div>