<!-- Simple single line list -->
<ul class="list-group pmd-list pmd-card-list">
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
    <li class="list-group-item">Single-line item</li>
</ul>