<!-- Single line list with Badge-->
<ul class="list-group pmd-list pmd-card-list">
    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <div class="media-body">
            Single-line item with badge
        </div>
        <span class="badge badge-primary badge-pill">1</span>
    </li>
    
    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <div class="media-body">
            Single-line item with badge
        </div>
        <span class="badge badge-primary badge-pill">5</span>
    </li>
    
    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <div class="media-body">
            Single-line item with badge
        </div>
        <span class="badge badge-primary badge-pill">8</span>
    </li>
    
    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <div class="media-body">
            Single-line item with badge
        </div>
        <span class="badge badge-primary badge-pill">7</span>
    </li>
    
    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
        <div class="media-body">
            Single-line item with badge
        </div>
        <span class="badge badge-primary badge-pill">8</span>
    </li>
</ul>