<!--single line list with avtar --> 
<ul class="list-group pmd-list pmd-card-list pmd-list-avatar">
    <li class="list-group-item d-flex flex-row">
        <a href="javascript:void(0);" class="avatar-list-img"> 
            <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
        </a>
        <div class="media-body align-self-center"> Single-line item with avatar </div>
    </li>
    <li class="list-group-item d-flex flex-row">
        <a href="javascript:void(0);" class="avatar-list-img"> 
            <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
        </a>
        <div class="media-body align-self-center"> Single-line item with avatar </div>
    </li>
    <li class="list-group-item d-flex flex-row">
        <a href="javascript:void(0);" class="avatar-list-img"> 
            <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
        </a>
        <div class="media-body align-self-center"> Single-line item with avatar </div>
    </li>
</ul>