<!-- Single line list with Icon-->
<ul class="list-group pmd-list pmd-card-list">
    <li class="list-group-item d-flex flex-row">
        <i class="material-icons pmd-sm pmd-list-icon">mood</i> 
        <span class="media-body">Single-line item with icon</span>
    </li>
    <li class="list-group-item d-flex flex-row">
        <i class="material-icons media-middle pmd-list-icon">notifications</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon">person_add</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon">share</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon">drive_eta</i>
        <div class="media-body">Single-line item with icon</div>
    </li>
</ul>