<!--single line list with avtar --> 
<ul class="list-group pmd-list pmd-card-list pmd-list-avatar">
    <li class="list-group-item d-flex flex-row align-items-center">
        <a href="javascript:void(0);" class="avatar-list-img"> 
            <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
        </a>
        <div class="media-body"> Single-line item with avatar and action </div>
        <div class="custom-control custom-checkbox pmd-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" value="" id="defaultCheck0" checked>
            <label class="custom-control-label" for="defaultCheck0">
            </label>
        </div>
    </li>
    
    <li class="list-group-item d-flex flex-row align-items-center">
        <a href="javascript:void(0);" class="avatar-list-img"> 
            <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
        </a>
        <div class="media-body"> Single-line item with avatar and action </div>
        <div class="custom-control custom-checkbox pmd-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" value="" id="defaultCheck7">
            <label class="custom-control-label" for="defaultCheck7">
            </label>
        </div> 
    </li>
    
    <li class="list-group-item d-flex flex-row align-items-center">
        <a href="javascript:void(0);" class="avatar-list-img"> 
            <img alt="40x40" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
        </a>
        <div class="media-body"> Single-line item with avatar and action </div>
        <div class="custom-control custom-checkbox pmd-checkbox custom-control-inline">
            <input class="custom-control-input" type="checkbox" value="" id="defaultCheck10">
            <label class="custom-control-label" for="defaultCheck10">
            </label>
        </div>
    </li>
</ul>