<!--Simple three-line list with Icon -->
<ul class="list-group pmd-list pmd-card-list pmd-z-depth">
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon md-dark">business</i>
        <div class="media-body">
            <h3 class="pmd-list-title">ABC Company</h3>
            <span class="pmd-list-subtitle">2852 Canis Heights Drive, Los Angeles<br>California</span>
        </div>
    </li>
    
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon md-dark">business</i>
        <div class="media-body">
            <h3 class="pmd-list-title">ABC Company</h3>
            <span class="pmd-list-subtitle">2852 Canis Heights Drive, Los Angeles<br>California</span>
        </div>
    </li>
    
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon md-dark">business</i>
        <div class="media-body">
            <h3 class="pmd-list-title">ABC Company</h3>
            <span class="pmd-list-subtitle">2852 Canis Heights Drive, Los Angeles<br>California</span>
        </div>
    </li>
</ul>