<!--Simple three-line list -->
<ul class="list-group pmd-list pmd-card-list pmd-z-depth">
    <li class="list-group-item">
        <div class="media-body">
            <h3 class="pmd-list-title">Jhon Doe</h3>
            <span class="pmd-list-subtitle">Sales and Sourcing of off price goods, clearances, stock lots and opportunity buys based out of Montreal, Quebec, Canada. <br>Monteral, Canada</span> 
        </div>
    </li>
    
    <li class="list-group-item">
        <div class="media-body">
            <h3 class="pmd-list-title">Jhon Doe</h3>
            <span class="pmd-list-subtitle">Sales and Sourcing of off price goods, clearances, stock lots and opportunity buys based out of Montreal, Quebec, Canada. <br>Monteral, Canada</span> 
        </div>
    </li>
    
    <li class="list-group-item">
        <div class="media-body">
            <h3 class="pmd-list-title">Jhon Doe</h3>
            <span class="pmd-list-subtitle">Sales and Sourcing of off-price goods, clearances, stock-lots and opportunity buys based out of Montreal, Quebec, Canada. <br>Monteral, Canada</span>
        </div>
    </li>
</ul>