<!-- Two Line List with Icon -->
<ul class="list-group pmd-list pmd-card-list pmd-z-depth">
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon align-self-center">mood</i>
        <div class="media-body">
            <h3 class="pmd-list-title">Two-line item</h3>
            <span class="pmd-list-subtitle">Secondary text</span> 
        </div>
    </li>
    
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon align-self-center">notifications</i>
        <div class="media-body">
            <h3 class="pmd-list-title">Two-line item</h3>
            <span class="pmd-list-subtitle">Secondary text</span>
        </div>
    </li>
    
    <li class="list-group-item d-flex flex-row"> 
        <i class="material-icons pmd-list-icon align-self-center">share</i>
        <div class="media-body">
            <h3 class="pmd-list-title">Two-line item</h3>
            <span class="pmd-list-subtitle">Secondary text</span>
        </div>
    </li>
</ul>