<!-- Two Line List with Avatar -->
<ul class="list-group pmd-list pmd-card-list pmd-z-depth">
    <li class="list-group-item d-flex flex-row">
        <a class="avatar-list-img" href="javascript:void(0);"> 
            <img data-holder-rendered="true" src="http://propeller.in/components/list/img/40x40.png" class="img-fluid" data-src="holder.js/40x40" alt="40x40">
        </a>
        <div class="media-body">
            <h3 class="pmd-list-title">Two-line item</h3>
            <span class="pmd-list-subtitle">Secondary text</span> 
        </div>
    </li>
    
    <li class="list-group-item d-flex flex-row">
        <a class="avatar-list-img" href="javascript:void(0);"> 
            <img data-holder-rendered="true" src="http://propeller.in/components/list/img/40x40.png" class="img-fluid" data-src="holder.js/40x40" alt="40x40">
        </a>
        <div class="media-body">
            <h3 class="pmd-list-title">Two-line item</h3>
            <span class="pmd-list-subtitle">Secondary text</span> 
        </div>
    </li>
    
    <li class="list-group-item d-flex flex-row">
        <a class="avatar-list-img" href="javascript:void(0);"> 
            <img data-holder-rendered="true" src="http://propeller.in/components/list/img/40x40.png" class="img-fluid" data-src="holder.js/40x40" alt="40x40">
        </a>
        <div class="media-body">
            <h3 class="pmd-list-title">Two-line item</h3>
            <span class="pmd-list-subtitle">Secondary text</span> 
        </div>
    </li>
</ul>