/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";

/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";

/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";

/* Propeller button */
@import "http://propeller.in/components/button/css/button.css";

/* Propeller input */
@import "http://propeller.in/components/textfield/css/textfield.css";

/* Propeller table */
@import "http://propeller.in/components/table/css/table.css";

/* Propeller card */
@import "http://propeller.in/components/card/css/card.css";

/* Datatable bootstrap */
@import "https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css";

/* Datatable select */
@import "https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css";

/* Propeller Datatable */
@import "http://propeller.in/components/data-table/css/pmd-datatable.css";