<html>

<head>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">
                                <%if (canAdd == 1 || canEdit == 1) { %>
                                    <% var rootPath = '../'; %>
                                    <div id="divAddSector" style="display: none;">

                                            <div class="pmd-card-body">
                                                <div class="row">

                                                    <div class="col-lg-12 custom-col-12">
                                                        <h3>
                                                            <span class="addeditCustom"></span> Sector</h3>
                                                        <div class="card pmd-card">

                                                            <!-- Form Layout example -->
                                                            <div class="card-body">
                                                                <form id="frmSector">
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-email">Sector Name
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="sectorName" name="sectorName" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-email">Sector Skill Council
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="sectorSkillCouncil" name="sectorSkillCouncil" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
                                                                    <button type="button" class="btn pmd-ripple-effect btn-light" onclick="sector.cancel()">Cancel</button>
                                                                </form>
                                                            </div>
                                                            <!-- Form Layout example end -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>

                                            <section class="component-section">
                                                <div id="divSector">
                                                    <h2 class="card-title d-flex">
                                                        Sectors
                                                        <div class="dropdown pmd-dropdown ml-auto">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="selectAction" data-toggle="dropdown" aria-expanded="true">Select Action</button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item cursor-pointer" onclick="sector.mutipleaction('active')">Active</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="sector.mutipleaction('inactive')">Inactive</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="sector.mutipleaction('delete')">Delete</a>
                                                            </div>
                                                        </div>
                                                    </h2>
                                                    <div class="card pmd-card">
                                                        <table id="gridSector" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                            <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                            <label class="custom-control-label" for="customCheckBox0">
                                                                            </label>
                                                                        </div>
                                                                    </th>
                                                                    <th>Sector Name</th>
                                                                   <!--  <th>Sector Skill Council</th> -->
                                                                    <%if (canAdd == 1 || canEdit == 1) { %>
                                                                        <th>Status</th>
                                                                        <th>Actions</th>
                                                                        <% } %>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- section content end -->

                                                </div>
                                            </section>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                    <% include  ../../partials/footer %>
        </section>
        <!-- <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script> -->
        <script type="text/javascript" src="../pages/sectormaster/sectormaster.js"></script>
</body>

</html>