<!-- Simple checkbox with label, checked -->
<div class="custom-control custom-checkbox pmd-checkbox">
  <input class="custom-control-input" type="checkbox" value="" id="inverse_defaultCheck1" checked />
  <label class="custom-control-label" for="inverse_defaultCheck1">
    On
  </label>
</div>
<!-- Simple checkbox with label -->
<div class="custom-control custom-checkbox pmd-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="inverse_checkbox2">
    <label class="custom-control-label pmd-checkbox-ripple-effect" for="inverse_checkbox2">
        Option one is this and that&mdash;be sure to include why it's great
    </label>
</div>
<!-- Simple checkbox with label, Disabled -->
<div class="custom-control custom-checkbox pmd-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="inverse_checkbox3" disabled>
    <label class="custom-control-label pmd-checkbox-ripple-effect" for="inverse_checkbox3">
        Option two is disabled
    </label>
</div>