<!--Inline checkboxes-->
<form>
    <div class="custom-control custom-checkbox custom-control-inline pmd-checkbox">
        <input class="custom-control-input" type="checkbox" value="" id="checkbox1">
        <label class="custom-control-label pmd-checkbox-ripple-effect" for="checkbox1">
            1
        </label>
    </div>

    <!-- Simple checkbox with label -->
    <div class="custom-control custom-checkbox custom-control-inline pmd-checkbox">
        <input class="custom-control-input" type="checkbox" value="" id="checkbox2">
        <label class="custom-control-label pmd-checkbox-ripple-effect" for="checkbox2">
            2
        </label>
    </div>

    <!-- Simple checkbox with label, Disabled -->
    <div class="custom-control custom-checkbox custom-control-inline pmd-checkbox">
        <input class="custom-control-input" type="checkbox" value="" id="checkbox3">
        <label class="custom-control-label pmd-checkbox-ripple-effect" for="checkbox3">
            3
        </label>
    </div>
</form>