<!-- Inverse Checkbox -->
<div class="card pmd-card text-white bg-dark">
    <div class="card-body"> 
        <!-- Simple checkbox with label, checked -->
        <div class="custom-control custom-checkbox pmd-checkbox">
            <input class="custom-control-input" type="checkbox" value="" checked id="customCheckbox1">
            <label class="custom-control-label pmd-checkbox-ripple-effect" for="customCheckbox1">
                On
            </label>
        </div>

        <!-- Simple checkbox with label -->
        <div class="custom-control custom-checkbox pmd-checkbox">
            <input class="custom-control-input" type="checkbox" value="" id="customCheckbox2">
            <label class="custom-control-label pmd-checkbox-ripple-effect" for="customCheckbox2">
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>

        <!-- Simple checkbox with label, Disabled -->
        <div class="custom-control custom-checkbox pmd-checkbox">
            <input class="custom-control-input" type="checkbox" value="" disabled id="customCheckbox3">
            <label class="custom-control-label" for="customCheckbox3">
                Option two is disabled
            </label>
        </div>
    </div>
</div>