<!-- Simple checkbox without label -->
<div class="custom-control custom-checkbox pmd-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="inverse_checkbox4">
    <label class="custom-control-label position-static" for="inverse_checkbox4">
    </label>
</div>

<!-- Radio without Label-->
<div class="custom-control custom-radio pmd-radio">
  	<input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" />
  	<label class="custom-control-label pmd-radio-ripple-effect position-static" for="customRadio4"></label>
</div>