<!--Chips with Icon-->
<div class="pmd-chip">
    <i class="material-icons md-dark pmd-sm">mood</i>
    Example Chip 
    <a class="pmd-chip-action" href="javascript:void(0);"><i class="material-icons">close</i></a>
</div>