<!-- Chips with avatar -->
<div class="pmd-chip"> 
    <img src="../../assets/images/avatar-icon-40x40.png" alt="avatar" class="pmd-chip-contact"> 
    <span>Trevor Hensen</span> 
    <a class="pmd-chip-action" href="javascript:void(0);">
        <i class="material-icons">close</i>
    </a>
</div>