<div data-badge="3" class="material-icons pmd-md pmd-badge pmd-badge-overlap pmd-badge-success">account_box</div>
<div data-badge="3" class="pmd-badge pmd-badge-overlap pmd-badge-danger">Inbox</div>
