<!--tab bar centered -->
<nav class="pmd-tabs pmd-tabs-bg mb20">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Work</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>
<!--tab bar centered -->