<!--Basic Bootstrap Tab start -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a class="nav-link active" href="#bootstrap-home" aria-controls="home" role="tab" data-toggle="tab">Default</a></li>
    <li class="nav-item"><a class="nav-link" href="#bootstrap-about" aria-controls="about" role="tab" data-toggle="tab">Fixed</a></li>
    <li class="nav-item"><a class="nav-link" href="#bootstrap-work" aria-controls="work" role="tab" data-toggle="tab">Scrollable</a></li>
</ul>

<div class="card pmd-card">
    <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tablist" aria-labelledby="home-tab" class="tab-pane fade show active" id="bootstrap-home">A tab provides the affordance for displaying grouped content. A tab label succinctly describes the tab’s associated grouping of content.</div>
            <div role="tablist" aria-labelledby="home-tab" class="tab-pane fade" id="bootstrap-about">Fixed tabs have equal width, calculated either as the view width divided by the number of tabs, or based on the widest tab label. To navigate between fixed tabs, touch the tab or swipe the content area left or right.</div>
            <div role="tablist" aria-labelledby="home-tab" class="tab-pane fade" id="bootstrap-work">To navigate between scrollable tabs, touch the tab or swipe the content area left or right. To scroll the tabs without navigating, swipe the tabs left or right.</div>
        </div>
    </div>
</div>