/* Rate Block */
.pmd-rate-inner {
  min-width: 60px;
  padding: 32px 0;
  font-weight: 500;
  font-style: normal;
}

.rating {
  margin: 4px 0 8px;
}

.rating img {
  height: auto;
  width: 30px;
  display: inline-block;
}

/* Stars */
.starOn, .starOff, .starHalf, .cancelOff, .cancelOn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.starOn:after, .starOff:after, .starHalf:after, .cancelOff:after, .cancelOn:after {
  position: absolute;
  font-size: 30px;
}

.starOn:after {
  content: "\E838";
  color: #ecbd01;
}

.starOff:after {
  content: "\E83A";
  color: #e2dfdf;
}

.starHalf:after {
  content: "\E839";
  color: #ecbd01;
}

.cancelOff:after {
  content: "\E888";
  color: #e2dfdf;
}

.cancelOn:after {
  content: "\E888";
  color: #ff5722;
}

@media (max-width: 767px) {
  .rating img {
    width: 20px;
    height: 20px;
  }
}

/*# sourceMappingURL=rating.css.map */
