<!DOCTYPE html>
<html lang="en">

<head>
    <% include  ../../partials/head %>
</head>

<body class="body-custom">
    <div class="logincard">
        <div class="card pmd-card">
            <div class="login-card">
                <form method="post" id="frmLogin" action="" method="post">
                    <div class="card-title text-center">
                        <div class="loginlogo">
                            <img src="/assets/images/skillconnect-logo.png" alt="Logo">
                        </div>
                        <h3>Sign In
                            <span>with
                                <strong>Skillconnect Admin</strong>
                            </span>
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="alert alert-success" role="alert"> Oh snap! Change a few things up and try submitting again. </div>

                        <div class="input-group pmd-input-group pmd-input-group-icon mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="material-icons md-dark pmd-sm">perm_identity</i>
                                </div>
                            </div>
                            <div class="pmd-textfield pmd-textfield-floating-label">
                                <label for="inputError1">Email</label>
                                <input type="email" class="form-control" aria-describedby="basic-addon3" id="inputEmail" validation="required,email">
                            </div>
                            <span type="text" id="inputEmail_validation" class="validationFormControl" style="display:none;color: #a94442;">Please Enter Valid Email Address</span>
                        </div>
                        <div class="input-group pmd-input-group pmd-input-group-icon mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="material-icons md-dark pmd-sm">lock_outline</i>
                                </div>
                            </div>
                            <div class="pmd-textfield pmd-textfield-floating-label">
                                <label for="inputError1">Password</label>
                                <input type="password" class="form-control" aria-describedby="basic-addon3" id="inputPassword" validation="required,password">
                            </div>
                            <span type="text" id="inputPassword_validation" class="validationFormControl" style="display:none;color: #a94442;">Please Enter Password</span>
                        </div>
                    </div>
            </div>

            <div class="card-footer text-center pt-0">
               <!--  <div class="form-group clearfix">
                    <div class="float-left">
                        <div class="custom-control custom-checkbox pmd-checkbox">
                            <input class="custom-control-input" type="checkbox" checked="" value="" id="inverse_defaultCheck1"/>
                            <label class="custom-control-label" for="inverse_defaultCheck1">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <span class="float-right">
                        <a href="javascript:void(0);" class="forgot-password">Forgot password?</a>
                    </span>
                </div> -->
                <a href="javascript:void(0);" type="button" id="btnLogin" class="btn pmd-ripple-effect btn-primary btn-block ml-0">Login</a>
                <!-- <p class="mt-3">Don't have an account? <a href="javascript:void(0);" class="login-register">Sign Up</a>. </p> -->
            </div>

            </form>
        </div>

        <div class="register-card">
            <div class="pmd-card-title card-header-border text-center">
                <div class="loginlogo">
                    <a href="javascript:void(0);">
                        <img src="/themes/images/Propeller-Logo-Inverse.png" alt="Logo">
                    </a>
                </div>
                <h3>Sign Up
                    <span>with
                        <strong>Nodejs Structure</strong>
                    </span>
                </h3>
            </div>
            <form id="validationForm" action="" method="post">
                <div class="pmd-card-body">

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="control-label pmd-input-group-label">Username</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="material-icons md-dark pmd-sm">perm_identity</i>
                            </div>
                            <input type="text" class="form-control" id="txtUserName" validation="required">
                            <span type="text" id="txtUserName_validation" class="validationFormControl" style="display:none;">UserName Required
                                <span>
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="control-label pmd-input-group-label">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="material-icons md-dark pmd-sm">email</i>
                            </div>
                            <input type="text" class="form-control" id="txtEmail" validation="required,email">
                            <span type="text" id="txtEmail_validation" class="validationFormControl" style="display:none;">Please Enter Valid Email Address
                                <span>
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="control-label pmd-input-group-label">Mobile Number</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="material-icons md-dark pmd-sm">call</i>
                            </div>
                            <input type="text" class="form-control" id="txtNumber" validation="required,onlydigit,size(10)">
                            <span type="text" id="txtNumber_validation" class="validationFormControl" style="display:none;">Please Enter Valid Number
                                <span>
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="control-label pmd-input-group-label">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="material-icons md-dark pmd-sm">lock_outline</i>
                            </div>
                            <input type="password" class="form-control" id="txtPwd1" validation="required">
                            <span type="text" id="txtPwd1_validation" class="validationFormControl" style="display:none;">Password Required
                                <span>
                        </div>
                    </div>

                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="control-label pmd-input-group-label">Confirm Password</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="material-icons md-dark pmd-sm">lock_outline</i>
                            </div>
                            <input type="password" class="form-control" id="txtPwd2" validation="required">
                            <span type="text" id="txtPwd2_validation" class="validationFormControl" style="display:none;">Password Required
                                <span>
                        </div>
                    </div>
                </div>

                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <a href="#" type="button" id="btnSignup" class="btn pmd-ripple-effect btn-primary btn-block">Sign Up</a>
                    <p class="redirection-link">Already have an account?
                        <a href="javascript:void(0);" class="register-login">Sign In</a>. </p>
                </div>
            </form>
        </div>

        <div class="forgot-password-card">
            <form>
                <div class="pmd-card-title card-header-border text-center">
                    <div class="loginlogo">
                        <a href="javascript:void(0);">
                            <img src="/themes/images/Propeller-Logo-Inverse.png" alt="Logo">
                        </a>
                    </div>
                    <h3>Forgot password?
                        <br>
                        <span>Submit your email address and we'll send you a link to reset your password.</span>
                    </h3>
                </div>
                <div class="pmd-card-body">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="inputError1" class="control-label pmd-input-group-label">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="material-icons md-dark pmd-sm">email</i>
                            </div>
                            <input type="text" class="form-control" id="exampleInputAmount">
                        </div>
                    </div>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <a href="index.html" type="button" class="btn pmd-ripple-effect btn-primary btn-block">Submit</a>
                    <p class="redirection-link">Already registered?
                        <a href="javascript:void(0);" class="register-login">Sign In</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    </div>
    <button type="button" id="btnSuccess" style="display:none" data-positionX="right" data-positionY="top" data-effect="fadeInUp"
        data-message="Well done! You successfully read this important alert message." data-type="success" class="btn pmd-ripple-effect btn-success pmd-z-depth pmd-alert-toggle">Alert Success</button>
    <!--Error Alert -->
    <button type="button" id="btnError" style="display:none" data-positionX="right" data-positionY="top" data-effect="fadeInUp"
        data-message="" data-type="danger" class="btn pmd-ripple-effect btn-danger pmd-z-depth pmd-alert-toggle">Alert Error</button>
    <footer>
        <% include  ../../partials/footer %>
            <script src="../pages/user/login.js" charset="utf-8"></script>
    </footer>

</body>

</html>