<html>

<head>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
        <!-- Overlay for sidebar -->
        <div class="pmd-sidebar-overlay"></div>
        <!-- Left sidebar -->
        <% include  ../../partials/leftsidebar %>
            <div id="content" class="pmd-content inner-page admin">
                <div class="container-fluid">
                    <div class="row flex-xl-nowrap flex-lg-nowrap">
                        <div class="col-12">
                            <section class="component-section">
                                <%if (canAdd == 1) { %>

                                    <% } %>

                                        <div id="divAdminUser">

                                            <!-- table card example -->
                                            <div class="card pmd-card">
                                                    <!-- <table id="gridAdminUser" style="width: 100%;" class="table pmd-table table-hover table-striped nowrap"> -->
                                                    <table id="gridAdminUser" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                        width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Mobile</th>
                                                                <th>Email</th>
                                                                <%if (canAdd == 1) { %>
                                                                    <th>Status</th>
                                                                    <th>Actions</th>
                                                                    <% } %>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                
                                            </div>
                                            <!-- section content end -->

                                        </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
            </div>
            <script>
                var canAdd = '<%= canAdd %>';
                var canDelete = '<%= canDelete %>';
            </script>
            <% include  ../../partials/footertext %>
                <% include  ../../partials/footer %>
                    <script src="javascripts/conformation.min.js" charset="utf-8"></script>
                    <script type="text/javascript" src="../pages/user/user.js"></script>
</body>

</html>