<!-- Contextual Chips -->
<div class="pmd-chip pmd-chip-primary">
    Example Chip 
    <a class="pmd-chip-action" href="javascript:void(0);"><i class="material-icons">close</i></a>
</div>
<div class="pmd-chip pmd-chip-secondary">
    <i class="material-icons md-light pmd-sm">mood</i>
    Example Chip 
    <a class="pmd-chip-action" href="javascript:void(0);"><i class="material-icons">close</i></a>
</div>
<div class="pmd-chip pmd-chip-dark"> 
    <img class="pmd-chip-contact" src="http://propeller.in/assets/images/avatar-icon-40x40.png" alt="avatar"> 
    <span>Trevor Hensen</span> 
    <a class="pmd-chip-action" href="javascript:void(0);">
    <i class="material-icons">close</i></a>
</div>