<html>

<head>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">
                                <%if (canAdd == 1 || canEdit == 1) { %>
                                    <% var rootPath = '../'; %>
                                    
                                       
                                        <% } %>

                                            <section class="component-section">
                                                <div id="divSectorJobRole">
                                                    <h2 class="card-title d-flex">
                                                        Future Hiring Request
                                                        <div class="dropdown pmd-dropdown ml-auto">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="selectAction" data-toggle="dropdown" aria-expanded="true">Select Action</button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                    <!-- <a class="dropdown-item cursor-pointer" onclick="hiringRequest.mutipleaction('active')">Active</a>
                                                                    <a class="dropdown-item cursor-pointer" onclick="hiringRequest.mutipleaction('inactive')">Inactive</a> -->
                                                                    <a class="dropdown-item cursor-pointer" onclick="hiringRequest.mutipleaction('delete')">Delete</a>
                                                            </div>
                                                        </div>
                                                    </h2>
                                                    <div class="card pmd-card">
                                                        <table id="gridHiringRequest" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                            width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                            <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                            <label class="custom-control-label" for="customCheckBox0">
                                                                            </label>
                                                                        </div>
                                                                    </th> 
                                                                    <th>Employer</th>
                                                                    <th>Sector</th>
                                                                    <th>Jobrole</th>
                                                                    <th>Number of Positions</th>
                                                                    <th>Year</th>
                                                                    <%if (canAdd == 1 || canEdit == 1) { %>
                                                                       <!--  <th>Status</th> -->
                                                                        <th>Actions</th>
                                                                        <% } %> 
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- section content end -->
                                                    
                                                </div>
                                            </section>
                            </div>

                        </div>
                    </div>
                </div>    
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                <% include  ../../partials/footer %>
        </section>
        <!-- <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script> -->
        <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.js"></script>
        <script type="text/javascript" src="../pages/futurehiringrequest/futurehiringrequest.js"></script>
        <div id="replaceHTML"></div> 
        
</body>

</html>