/*!
 * Propeller v2.0.0-beta (http://propeller.in/): footer.css
 * Copyright 2016-2018 Digicorp Information Systems Pvt. Ltd.
 * This software is covered by Propeller Pro Plan 1 License (License.txt)
 * Usage without proper license is prohibited.
 */
.social-links a:after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.pmd-footer {
  padding: 20px 0;
}

.pmd-site-info {
  font-size: 14px;
  margin: 0;
  color: rgba(0, 0, 0, 0.38);
}
.pmd-site-info a {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
.pmd-site-info strong {
  color: black;
  font-weight: 500;
}
.pmd-site-info p {
  display: inline-block;
  margin: 0;
}

.pmd-footer-nav {
  padding: 0;
  margin: 0 -10px;
}
.pmd-footer-nav li {
  display: inline-flex;
  padding: 0 10px;
  vertical-align: middle;
  letter-spacing: 0.5px;
}
.pmd-footer-nav li a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}
.pmd-footer-nav li a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.pmd-footer-nav-divider li {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.pmd-footer-nav-divider li:last-child {
  border-right: 0;
}

.btn .pmd-svg-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn .pmd-svg-icons svg {
  padding: 2px;
}
.btn.btn-sm .pmd-svg-icons.pmd-sm {
  height: 38px;
}
.btn.btn-sm .pmd-svg-icons.pmd-sm svg {
  width: 24px;
  height: 24px;
}
.btn.btn-md .pmd-svg-icons.pmd-md svg {
  width: 30px;
  height: 30px;
}
.btn.btn-lg .pmd-svg-icons.pmd-lg svg {
  width: 45px;
  height: 45px;
}

.pmd-social-icons .btn {
  margin: 0 2px;
}
.pmd-social-icons .btn img {
  width: 25px;
  height: 25px;
}

.pmd-footer-sub-title {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}

.pmd-social-icons .pmd-footer-sub-title {
  padding-right: 20px;
}

.pmd-visit-us {
  padding-top: 20px;
}

.pmd-visit-us .pmd-social-icons .btn {
  margin-bottom: -28px;
}

.pmd-visit-us .pmd-social-icons .btn-sm {
  margin-bottom: -20px;
}

.pmd-visit-us .pmd-social-icons .btn-md {
  margin-bottom: -28px;
}

.pmd-visit-us .pmd-social-icons .btn-lg {
  margin-bottom: -39px;
}

@media (max-width: 991px) {
  .pmd-visit-us {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .pmd-visit-us {
    margin-bottom: 20px;
  }
}
.pmd-social-inline {
  margin: 8px 0;
  text-align: center;
}
.pmd-social-inline .pmd-social-icons {
  margin: 0 auto;
}

@media (max-width: 991px) {
  .pmd-social-inline {
    width: 100%;
    display: block;
    margin: 8px 0;
  }
}
.pmd-footer-nav-hover li a {
  position: relative;
}
.pmd-footer-nav-hover li a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 51%;
  right: 51%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.pmd-footer-nav-hover li a:hover:after {
  right: 0;
  left: 0;
}
.pmd-footer-nav-hover.effect-right li a:after {
  right: 0;
  left: 100%;
}
.pmd-footer-nav-hover.effect-right li a:hover:after {
  left: 0;
}
.pmd-footer-nav-hover.effect-left li a :after {
  right: 100%;
  left: 0;
}
.pmd-footer-nav-hover.effect-left li a:hover:after {
  right: 0;
}

/* Footer Dark */
.pmd-footer-dark {
  color: rgba(255, 255, 255, 0.85);
  /*.pmd-footer-dark a{color: rgb(255,255,255);}*/
}
.pmd-footer-dark .primary {
  color: rgba(255, 255, 255, 0.9);
}
.pmd-footer-dark .secondary {
  color: rgba(255, 255, 255, 0.7);
}
.pmd-footer-dark .text-muted, .pmd-footer-dark .hint, .pmd-footer-dark .disabled, .pmd-footer-dark .icon {
  color: rgba(255, 255, 255, 0.4);
}
.pmd-footer-dark .hover {
  color: rgba(255, 255, 255, 0.38);
}
.pmd-footer-dark .divider {
  color: rgba(255, 255, 255, 0.12);
}
.pmd-footer-dark .pmd-site-info {
  color: rgba(255, 255, 255, 0.38);
}
.pmd-footer-dark .pmd-site-info a {
  color: rgba(255, 255, 255, 0.8);
}
.pmd-footer-dark .pmd-site-info strong {
  color: white;
}
.pmd-footer-dark .pmd-footer-nav li a {
  color: rgba(255, 255, 255, 0.7);
}
.pmd-footer-dark .pmd-footer-nav li a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.pmd-footer-dark .pmd-footer-nav-hover li a:after {
  background-color: rgba(255, 255, 255, 0.9);
}
.pmd-footer-dark .pmd-footer-nav-divider li {
  border-color: rgba(255, 255, 255, 0.2);
}
.pmd-footer-dark .pmd-social-icons .btn .material-icons svg {
  fill: rgba(255, 255, 255, 0.5);
}
.pmd-footer-dark .pmd-social-icons .btn:hover .material-icons svg {
  fill: rgba(255, 255, 255, 0.9);
}
.pmd-footer-dark hr {
  border-color: rgba(255, 255, 255, 0.1);
}
.pmd-footer-dark .border-right {
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.pmd-footer-dark label {
  color: rgba(255, 255, 255, 0.7);
}
.pmd-footer-dark .pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
  color: rgba(255, 255, 255, 0.7);
}
.pmd-footer-dark .form-control {
  color: rgba(255, 255, 255, 0.8);
}
.pmd-footer-dark .pmd-textfield .form-control {
  border-bottom: solid 1px rgba(255, 255, 255, 0.12);
}

/*# sourceMappingURL=footer-section.css.map */
