/*!
 * Propeller v2.0.0-beta (http://propeller.in/): footer.css
 * Copyright 2016-2018 Digicorp, Inc
 * Licensed under MIT (http://propeller.in/LICENSE)
 */
a{display: inline-block;}
a:hover, a:focus{text-decoration: none;}
a, .content-hover-effect li a:after,.social-links a:after{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.section{padding: 20px 0;}


footer{padding: 20px 0;}

footer a img{max-width: 100%;}

/* Footer Light */
/*footer hr{margin-right: 20px; margin-left: 20px;}*/
footer{color: rgba(0,0,0,0.85);}
footer .primary{color: rgba(0,0,0,0.9);}
footer .secondary{color: rgba(0,0,0,0.7);}
footer .text-muted, footer .hint, footer .disabled, footer .icon{color: rgba(0,0,0,0.4);}
footer .hover{color: rgba(0,0,0,0.38);}
footer .divider{color: rgba(0,0,0,0.12);}
footer .site-info{color: rgba(0,0,0,0.38);}
footer .site-info a{color: rgba(0,0,0,0.8);}
footer .site-info strong{color: rgba(0,0,0,1);}
footer .footer-menu li a{color: rgba(0,0,0,0.7);}
footer .footer-menu li a:hover{color: rgba(0,0,0,0.9);}
footer .content-hover-effect li a:after{background-color: rgba(0,0,0,0.9);}
footer .side-line-effect li{border-color: rgba(0,0,0,0.2);}
footer .social-icons .btn .material-icons svg{fill: rgba(0,0,0,0.5);}
footer .social-icons .btn:hover .material-icons svg{fill: rgba(0,0,0,0.8);}
/*footer a{color: rgb(0,0,0);}*/
footer .border-right{border-color: rgb(0,0,0,0.3) !important;}
footer label{color: rgba(0,0,0,0.7);}
footer .pmd-textfield-floating-label.pmd-textfield-floating-label-completed label{color: rgba(0,0,0,0.7);}
footer .form-control{color: rgba(0,0,0,0.8);}

footer textarea{resize: none;}


/* Footer Dark */
.footer-dark{color: rgba(255,255,255,0.85);}
.footer-dark .primary{color: rgba(255,255,255,0.9);}
.footer-dark .secondary{color: rgba(255,255,255,0.7);}
.footer-dark .text-muted, .footer-dark .hint, .footer-dark .disabled, .footer-dark .icon{color: rgba(255,255,255,0.4);}
.footer-dark .hover{color: rgba(255,255,255,0.38);}
.footer-dark .divider{color: rgba(255,255,255,0.12);}
.footer-dark .site-info{color: rgba(255,255,255,0.38);}
.footer-dark .site-info a{color: rgba(255,255,255,0.8);}
.footer-dark .site-info strong{color: rgba(255,255,255,1);}
.footer-dark .footer-menu li a{color: rgba(255,255,255,0.7);}
.footer-dark .footer-menu li a:hover{color: rgba(255,255,255,0.9);}
.footer-dark .content-hover-effect li a:after{background-color: rgba(255,255,255,0.9);}
.footer-dark .side-line-effect li{border-color: rgba(255,255,255,0.2);}
.footer-dark .social-icons .btn .material-icons svg{fill: rgba(255,255,255,0.5);}
.footer-dark .social-icons .btn:hover .material-icons svg{fill: rgba(255,255,255,0.9);}
.footer-dark hr{border-color: rgba(255,255,255,.1)}
/*.footer-dark a{color: rgb(255,255,255);}*/
.footer-dark .border-right{border-color: rgb(255,255,255,0.3) !important;}
.footer-dark label{color: rgba(255,255,255,0.7);}
.footer-dark .pmd-textfield-floating-label.pmd-textfield-floating-label-completed label{color: rgba(255,255,255,0.7);}
.footer-dark .form-control{color: rgba(255,255,255,0.8);}
.footer-dark .pmd-textfield .form-control{border-bottom: solid 1px rgba(255,255,255,.12)}

.social-icons .btn-dark.btn .material-icons svg{fill: rgba(255,255,255,0.5);}
.social-icons .btn-dark.btn:hover .material-icons svg{fill: rgba(255,255,255,0.9);}
.social-icons .btn-light.btn .material-icons svg{fill: rgba(0,0,0,0.5);}
.social-icons .btn-light.btn:hover .material-icons svg{fill: rgba(0,0,0,0.8);}


/* Footer flex */
.pmd-vertically-center{display: flex; align-items: center;}
.pmd-vertically-center.text-center{justify-content: center;}
.pmd-vertically-center.text-right{justify-content: flex-end;}
.pmd-vertically-center.text-left{justify-content: flex-start;}
.pmd-vertically-center.text-md-right.text-center, .pmd-vertically-center.text-md-right, .pmd-vertically-center.text-sm-right, .pmd-vertically-center.text-lg-right, .pmd-vertically-center.text-sm-right.text-center, .pmd-vertically-center.text-lg-right.text-center{justify-content: flex-end;}
.pmd-vertically-center.text-md-left.text-center, .pmd-vertically-center.text-md-left, .pmd-vertically-center.text-sm-left, .pmd-vertically-center.text-lg-left, .pmd-vertically-center.text-sm-left.text-center, .pmd-vertically-center.text-lg-left.text-center{justify-content: flex-start;}


/* Hover Effect */
/* AfterHover Effect */
.content-hover-effect li a{position: relative;}
.content-hover-effect li a:after{content: ""; position: absolute; height: 2px; bottom: 0; left: 51%; right: 51%;}
.content-hover-effect li a:hover:after{right: 0; left: 0;}
/* Effect starts from right */
.content-hover-effect.effect-right li a:after{right: 0; left: 100%;}
.content-hover-effect.effect-right li a:hover:after{left: 0;}
/* Effect starts from center */
.content-hover-effect.effect-left li a:after{right: 100%; left: 0;}
.content-hover-effect.effect-left li a:hover:after{right: 0;}

/* Sideline Hover Effect */
.side-line-effect li{border-right: 1px solid;}
.side-line-effect li:last-child{border-right: 0;}


.footer-menu {padding: 0; margin: 0 -10px;}
.footer-menu li {display: inline-flex; padding: 0 10px; vertical-align: middle; letter-spacing: 0.5px;}
.footer-menu li a{ font-size:13px;text-transform:uppercase; font-weight:700;}

.pmd-listing-title{text-transform: uppercase; font-weight: 800; font-size: 16px; margin-bottom: 5px; display: block; letter-spacing: 0.5px;}

.site-info{font-size:14px; margin: 0;}
.site-info a{font-weight:400;}
.site-info p{display:inline-block;margin: 0;}
.site-info strong{font-weight: 500;}


.social-icons .btn{margin: 0 2px; display: inline-flex; justify-content: center; align-items: center;}
.social-icons .btn img{width: 25px; height: 25px;}
.social-icons .facebook:hover{background-color: #4867aa; border-color: #4867aa;}
.social-icons .twitter:hover{background-color: #3fa9f5; border-color: #3fa9f5;}
.social-icons .linkedin:hover{background-color: #007BB6; border-color: #007BB6;}
.social-icons .googleplus:hover{ background-color:#dd5044; border-color: #dd5044;}
.social-icons .pinterest:hover{ background-color:#bd081c; border-color: #bd081c;}

.pmd-footer-sub-title{font-size: 18px; font-weight: 300; display: inline-block; vertical-align: middle;}
.social-icons .pmd-footer-sub-title{padding-right: 20px;}

.social-icons .btn{padding: 2px;}
.social-icons .btn.pmd-btn-fab .material-icons{line-height: 0;}
.social-icons .btn.btn-sm .material-icons svg, .social-icons .btn .material-icons.pmd-sm svg{width: 22px; height: 22px;}
.social-icons .btn.btn-md .material-icons svg, .social-icons .btn .material-icons.pmd-md svg{width: 30px; height: 30px;}
.social-icons .btn.btn-lg .material-icons svg, .social-icons .btn .material-icons.pmd-lg svg{width: 45px; height: 45px;}

.pmd-social-side-border, .footer-menu li.pmd-social-side-border{padding: 12px 25px 12px 10px; margin-right: 5px; border-right: 1px solid rgba(255,255,255,0.16);}

.pmd-btn-pill{border-radius: 25px;}

/*.block-listing{display: block;}*/
.block-listing ul, ul.block-listing{margin: 0;}
.block-listing li{display: block; padding: 0;}
/*.block-listing.social-icons li{display: block;}*/

/* Visit Us block */
.pmd-visit-us{padding-top: 20px;}
.pmd-visit-us .social-icons .btn{margin-bottom: -28px;}
.pmd-visit-us .social-icons .btn-sm{margin-bottom: -20px;}
.pmd-visit-us .social-icons .btn-md{margin-bottom: -28px;}
.pmd-visit-us .social-icons .btn-lg{margin-bottom: -39px;}


/* Media Queries */
@media (max-width: 1200px) { 
}
@media (max-width: 991px) { 
	.md-mb-1{margin-bottom: 10px !important;}
	.md-mb-2{margin-bottom: 20px !important;}

	.md-center{float: none !important; width: 100%; text-align: center;}
	.md-center .social-side-border, .md-center li.social-side-border{padding: 0 10px; margin-right: 0; border: 0;}
	.pmd-visit-us{margin-bottom: 10px;}
	.md-center .pmd-social-inline{display: block; margin: 8px 0;}
	.md-center .pmd-social-side-border, .footer-menu .md-center li.pmd-social-side-border{padding: 0 10px !important; border-right: 0 !important; margin: 0;}

	.pmd-vertically-center.text-lg-right.text-center, .pmd-vertically-center.text-lg-left.text-center{justify-content: center;}
	.pmd-vertically-center.text-lg-right{justify-content: flex-start;}
}

@media (max-width: 767px){
	.sm-center{float: none !important; width: 100%; text-align: center;}
	.sm-center .media{display: block;}
	.sm-center .media img{margin-right: 0 !important; margin-bottom: 10px;}
	.sm-mb-1{margin-bottom: 10px !important;}
	.sm-mb-2{margin-bottom: 20px !important;}

	/* New */
	.pmd-footer-sub-title{padding-right: 0; display: block; margin-bottom: 5px;}
	.footer-menu{margin: 0 auto;}
	.pmd-visit-us{margin-bottom: 20px;}

	.pmd-social-inline{display: block; margin: 8px 0; width: 100%; text-align: center;}
	.pmd-social-inline .social-icons{margin: 0 auto;}
	.pmd-social-side-border, .footer-menu li.pmd-social-side-border{padding: 0 10px; border: 0; margin: 0;}

	footer .border-right{border-right: 0 !important;}

	.pmd-vertically-center.text-md-right.text-center, .pmd-vertically-center.text-md-left.text-center{justify-content: center;}
	.pmd-vertically-center.text-md-right{justify-content: flex-start;}
}

@media (max-width: 575px){
	/*.pmd-vertically-center{justify-content: center;}*/
	.pmd-vertically-center.text-sm-right.text-center, .pmd-vertically-center.text-sm-left.text-center{justify-content: center;}
	.pmd-vertically-center.text-sm-right{justify-content: flex-start;}
}