<html>

<head>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
    
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">

                                    <%if (canAdd == 1 || canEdit == 1) { %>
                                        <% var rootPath = '../'; %>
                                            <div id="divAddContact" style="display: none">
                                            
                                                <div class="pmd-card-body">
                                                    <div class="row">
    
                                                        <div class="col-lg-12 custom-col-12">
                                                            <h3>
                                                            <span class="addeditCustom"></span> Contact Enquiry</h3>
                                                            <div class="card pmd-card">
    
                                                                <!-- Form Layout example -->
                                                                <div class="card-body">
                                                                    <form id="frmContact">
                                                                        <div class="form-row">
                                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                                <label for="form-layout-fn" name="eMail"> Reply To
                                                                                </label>
                                                                                <input id="address" name="eMail" class="form-control" type="text" disabled>
                                                                                <span class="pmd-textfield-focused"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-row">
                                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                                <label for="state-select">Reply
                                                                                        <span>*</span>
                                                                                </label>
                                                                                <!-- <input id="comment" name="comment" class="form-control" type="text"> -->
                                                                                <textarea name="comment" id="comment"  type="textarea" class="form-control has-danger"></textarea>
                                                                                <span class="pmd-textfield-focused"></span>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden" name="row_id" value="">
                                                                        <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
                                                                        <button type="button" class="btn pmd-ripple-effect btn-light" onclick="contact.cancel()">Cancel</button>
                                                                    </form>
                                                                </div>
                                                                <!-- Form Layout example end -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>


                                <section class="component-section">
                                    <div id="divContact">
                                        <h2 class="card-title d-flex">
                                            Contact Enquiries
                                        </h2>
                                        <div class="card pmd-card">
                                            <table id="gridContact" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                width="100%">
                                                <thead>
                                                    <tr>
                                                        <!-- <th>
                                                            <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                <label class="custom-control-label" for="customCheckBox0">
                                                                </label>
                                                            </div>
                                                        </th> -->
                                                        <th>Name</th>
                                                        <th>Subject</th>
                                                        <th>Message</th>
                                                        <th>E-mail</th>
                                                        <%if (canAdd == 1 || canEdit == 1) { %>
                                                            <!-- <th>Status</th> -->
                                                            <th>Actions</th>
                                                            <% } %>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- section content end -->
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                    <% include  ../../partials/footer %>
        </section>
        <!-- <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script> -->
        <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.js"></script>
        <script type="text/javascript" src="../pages/contact/contact.js"></script>
        <div id="replaceHTML"></div>
        
</body>

</html>