<!--Dropdown Menu Bottom Right-->
<p>Bottom Right Direction</p>		
<div class="btn-group pmd-dropdown">
    <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenuBottomRight" data-toggle="dropdown" aria-expanded="true"></button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div>                                        				