<!-- Dropdown with Form -->
<div class="dropdown pmd-dropdown">
    <button class="btn pmd-ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Dropdown with Form</button>
    <div class="dropdown-menu px-3 py-3">
        <h3>Sign In Below</h3>
        <form class="mb-3">
            <!-- User name -->
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="inputError1" class="pmd-input-group-label">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                    <input type="text" class="form-control" id="exampleInputAmount">
                </div>
            </div>
            <!-- Password -->
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="inputError1" class="pmd-input-group-label">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend"><i class="material-icons md-dark pmd-sm">https</i></div>
                    <input type="password" class="form-control" id="exampleInputAmount">
                </div>
            </div>
            <!-- Remember Me -->
            <div class="custom-control custom-checkbox pmd-checkbox">
              <input type="checkbox" id="customCheckbox1" name="customCheckbox" class="custom-control-input" checked>
              <label class="custom-control-label" for="customCheckbox1">Remember Me</label>
            </div>
            <input type="submit" class="btn btn-primary pmd-ripple-effect mt-3" value="Submit"/>
        </form>
        <div class="dropdown-divider"></div>
        <a href="javascript:void(0);" class="dropdown-item">Forgot Password</a>
    </div>
</div>