<!-- Inverse Range Inputs -->
<div class="card pmd-card bg-dark text-white">
    <div class="card-body">
        <label for="customRange1">Example range</label>
        <input type="range" class="custom-range" id="customRange1">
    </div>
</div>