<!-- Footer with Navigation and Social Icons-->
<footer class="pmd-footer bg-dark pmd-footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-7 col-12">
                <ul class="pmd-footer-nav pmd-footer-nav-divider text-lg-left text-center md-mb-2">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li><a href="javascript:void(0);">About</a></li>
                    <li><a href="javascript:void(0);">Platform</a></li>
                    <li><a href="javascript:void(0);">Technology</a></li>
                    <li><a href="javascript:void(0);">Benchmark</a></li>
                    <li><a href="javascript:void(0);">Use Cases</a></li>
                    <li><a href="javascript:void(0);">Blog</a></li>
                    <li><a href="javascript:void(0);">Careers</a></li>
                    <li><a href="javascript:void(0);">Contact</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-5 col-12">
                <div class="pmd-site-info text-lg-right text-center">
                    <span>&copy; 2018 <strong>Propeller</strong>. Crafted by <a href="javascript:void(0);">DIGI<strong>CORP</strong></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>