<footer class="bg-dark footer-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-12 pmd-vertically-center">
				<ul class="footer-menu text-md-left text-center sm-mb-1">
					<li><a href="javascript:void(0);">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-12 text-center sm-mb-1">
				<a href="javascript:void(0);"><img src="images/corpository-footer-logo.png" alt="logo"></a>
			</div>
			<div class="col-md-4 col-12 pmd-vertically-center text-md-right text-center">
				<div class="site-info">
					© 2018 A <a href="javascript:void(0);"><strong>Propeller</strong></a> Theme.
				</div>
			</div>
		</div>
	</div>
</footer>