<!-- Footer with Navigation and Social Icons-->
<footer class="bg-dark footer-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="site-info text-center">
                    © 2018 A <a href="javascript:void(0);"><strong>Propeller</strong></a> Theme
                </div>
            </div>
        </div>
    </div>
</footer>