<footer class="bg-dark footer-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-12 sm-mb-1">
				<a href="javascript:void(0);"><img src="images/corpository-footer-logo.png" alt="logo"></a>
			</div>
			<div class="col-md-5 col-12 sm-mb-2">
				<div class="row">
					<div class="col-6">
						<ul class="footer-menu block-listing">
							<li><a href="javascript:void(0);">Home</a></li>
							<li><a href="javascript:void(0);">About</a></li>
							<li><a href="javascript:void(0);">Platform</a></li>
							<li><a href="javascript:void(0);">Technology</a></li>
						</ul>
					</div>

					<div class="col-6">
						<ul class="footer-menu block-listing">
							<li><a href="javascript:void(0);">Benchmark</a></li>
							<li><a href="javascript:void(0);">Use Cases</a></li>
							<li><a href="javascript:void(0);">Blog</a></li>
							<li><a href="javascript:void(0);">Careers</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-12">
				<ul class="list-unstyled">
					<li class="media">
						<img class="mr-3" src="images/media.jpg" alt="" width="50" height="50">
						<div class="media-body">
							<h6 class="mt-0 mb-1">Media object</h6>
							<span class="pmd-subheading1">Cras amet libero.</span>
						</div>
					</li>
					<li class="media my-4">
						<img class="mr-3" src="images/media.jpg" alt="" width="50" height="50">
						<div class="media-body">
							<h6 class="mt-0 mb-1">Media object</h6>
							<span class="pmd-subheading1">Cras amet libero.</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>