<!-- Footer with Copyright Sentence on Left-->
<footer class="pmd-footer bg-dark pmd-footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <ul class="pmd-footer-nav sm-center sm-mb-1">
                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="pmd-site-info float-right sm-center">
                    © 2018 A <a href="javascript:void(0);"><strong>Propeller</strong></a> Theme
                </div>
            </div>
        </div>
    </div>
</footer>