<footer class="pmd-footer bg-dark pmd-footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 md-mb-2">
                <span class="pmd-listing-title">About Us</span>
                <p class="m-0 pmd-subheading1">
                    Propeller is a front-end responsive framework based on Google’s Material Design Standards &amp; Bootstrap.
                </p>
            </div>
            <div class="col-lg-5 col-12 md-mb-2">
                <div class="row">
                    <div class="col-md-6 sm-mb-1">
                        <ul class="pmd-footer-nav block-listing">
                            <li class="pmd-listing-title">Links</li>
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">About</a></li>
                            <li><a href="javascript:void(0);">Platform</a></li>
                            <li><a href="javascript:void(0);">Technology</a></li>
                            <li><a href="javascript:void(0);">Benchmark</a></li>
                            <li><a href="javascript:void(0);">Use Cases</a></li>
                            <li><a href="javascript:void(0);">Blog</a></li>
                            <li><a href="javascript:void(0);">Careers</a></li>
                            <li><a href="javascript:void(0);">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="pmd-footer-nav block-listing">
                            <li class="pmd-listing-title">Contact Us</li>
                            <li class="mb-2"><a href="javascript:void(0);" class="text-lowercase">support@gmail.com</a></li>
                            <li>Ph.<a href="javascript:void(0);">+91 85347 32459</a></li>
                            <li class="mb-2">Mb.<a href="javascript:void(0);">+91 99947 33345</a></li>
                            <li class="pmd-subheading1">24, North apartment, 1259 east.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <span class="pmd-listing-title">Quick Contact</span>
                <!-- Regular Floating Input -->
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="regular1" class="control-label">Name</label>
                    <input type="text" id="regular1" class="form-control">
                </div>
                <!-- Regular Floating Input -->
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="regular1" class="control-label">Email Address</label>
                    <input type="text" id="regular1" class="form-control">
                </div>
                <!-- Floating Textarea -->
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label class="control-label">Comments</label>
                    <textarea required class="form-control"></textarea>
                </div>
                <button class="btn btn-outline-light pmd-ripple-effect" type="button">Submit</button>
            </div>
        </div>
    </div>
</footer>