<section class="pmd-contact-us bg-dark text-white border-bottom py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 sm-mb-4">
                <h2>Get in touch!</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">Your Name</label>
                                <input type="text" id="regular1" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">Company Name</label>
                                <input type="text" id="regular1" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">Email Address</label>
                                <input type="email" id="regular1" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">Mobile Number</label>
                                <input type="tel" id="regular1" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label class="control-label">Message</label>
                                <textarea required class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-light pmd-ripple-effect mr-2">Request Us</button>
                            <button type="button" class="btn btn-outline-light pmd-ripple-effect">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-5 col-12">
                <h2>Contact Information</h2>
                <h4 class="pmd-title">US</h4>
                <p>123 6th St, Melbourne, FL 32904.</p>
                <h4 class="pmd-title">India</h4>
                <p>
                    XYZ Company Pvt Ltd <br>
                    1357, Balli Maran, Sadar Bazar,<br>
                    Delhi 110006
                </p>
                <p>Email: <a href="mailto:info@xyz.com" class="text-white">info@xyz.com</a></p>
            </div>
        </div>
    </div>
</section>
<footer class="pmd-footer bg-dark pmd-footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-5 col-12">
                <div class="pmd-site-info md-center md-mb-2">
                    <span>&copy; 2018 <strong>Propeller</strong>. Crafted by <a href="javascript:void(0);">DIGI<strong>CORP</strong></a></span>
                </div>
            </div>
            <div class="col-xl-9 col-lg-7 col-12">
                <ul class="pmd-footer-nav pmd-footer-nav-hover text-lg-right text-center">
                    <li><a href="javascript:void(0);">Home</a></li>
                    <li><a href="javascript:void(0);">About</a></li>
                    <li><a href="javascript:void(0);">Platform</a></li>
                    <li><a href="javascript:void(0);">Technology</a></li>
                    <li><a href="javascript:void(0);">Benchmark</a></li>
                    <li><a href="javascript:void(0);">Use Cases</a></li>
                    <li><a href="javascript:void(0);">Blog</a></li>
                    <li><a href="javascript:void(0);">Careers</a></li>
                    <li><a href="javascript:void(0);">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>