<!-- Footer with Navigation -->
<footer class="bg-dark footer-dark">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-5 col-12">
              <div class="site-info md-center md-mb-2">
                  <span>&copy; 2018 <strong>Company</strong>.</a></span>
              </div>
          </div>
          <div class="col-xl-9 col-lg-7 col-12">
              <ul class="footer-menu content-hover-effect text-lg-right text-center">
                  <li><a href="javascript:void(0);">Home</a></li>
                  <li><a href="javascript:void(0);">About</a></li>
                  <li><a href="javascript:void(0);">Platform</a></li>
                  <li><a href="javascript:void(0);">Technology</a></li>
                  <li><a href="javascript:void(0);">Benchmark</a></li>
                  <li><a href="javascript:void(0);">Use Cases</a></li>
                  <li><a href="javascript:void(0);">Blog</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Contact</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>