<!-- Footer with Copyright Sentence on Left-->
<footer class="bg-dark footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 md-center md-mb-1 sm-mb-2">
                <span class="pmd-footer-sub-title">The POS software that’s simple, powerful, and free.</span>
                <a href="javascript:void(0);" class="btn pmd-ripple-effect btn-outline-light btn-md pmd-btn-pill">Get A Quote</a>
            </div>
            <div class="col-lg-5 pmd-vertically-center text-lg-right text-center">
                <div class="site-info">
                    © 2018 A <a href="javascript:void(0);"><strong>Propeller</strong></a> Theme
                </div>
            </div>
        </div>
    </div>
</footer>