<!--Disabled slider with Multiple Handler -->

<!-- Slider -->
<div id="disable-multiple" class="pmd-range-slider"></div>

<!-- Left checkbox -->
<div class="custom-control custom-checkbox custom-control-inline pmd-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="multiple-checkbox-left">
    <label class="custom-control-label pmd-checkbox-ripple-effect" for="multiple-checkbox-left">Disable left handle</label>
</div>

<!-- Right checkbox -->
<div class="custom-control custom-checkbox custom-control-inline pmd-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="multiple-checkbox-right">
    <label class="custom-control-label pmd-checkbox-ripple-effect" for="multiple-checkbox-right">Disable Right handle</label>
</div>