<!-- Single Handler Slider which can be disabled -->
<!-- Handler -->
<div id="disable-single" class="pmd-range-slider"></div>
<!-- Checkbox -->
<div class="slider-checkbox">
    <div class="custom-control custom-checkbox custom-control-inline pmd-checkbox">
        <input class="custom-control-input" type="checkbox" value="" id="single-checkbox">
        <label class="custom-control-label pmd-checkbox-ripple-effect" for="single-checkbox">Disable slider</label>
    </div>
</div>