<!-- Ranger Slider with value -->

<!-- Slider -->
<div id="pmd-slider-value-range"  class="pmd-range-slider"></div>	

<!-- Values -->										
<div class="row">
    <div class="range-value col-sm-6 col-6">
        <span id="value-min"></span>
    </div>
    <div class="range-value col-sm-6 col-6 text-right">
        <span id="value-max"></span>
    </div>
</div>
