<!-- Single Handler Slider which can be controlled by inputting values also -->

<!-- Slider -->
<div id="pmd-slider-value-input" class="pmd-range-slider"></div>

<!-- Slider Input -->
<div class="range-slider-input">
    <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
        <label for="value-input" class="control-label">Input Value</label>
        <input type="text" id="value-input" class="form-control">
    </div>
</div>