<!-- Alert Without Title Bar -->
<button data-target="#pmd-alert-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-btn-raised" type="button">Modal With Actions</button>

<div tabindex="-1" class="modal pmd-modal fade" id="pmd-alert-dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body"> Would you like to proceed? </div>
			<div class="modal-footer pmd-modal-border text-right">
				<button data-dismiss="modal"  class="btn pmd-ripple-effect btn-secondary" type="button">Discard</button>
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary" type="button">Save changes</button>
			</div>
		</div>
	</div>
</div>