<!-- Conditional Modal -->
<button data-target="#conditional-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary btn-raised" type="button">Conditional Modal</button>
<div tabindex="-1" class="modal pmd-modal fade" id="conditional-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header pmd-modal-border"> 
                <h3 class="modal-title">Standalone Components</h3>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            </div>
            <div class="modal-body">
                <div class="custom-control custom-checkbox pmd-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" checked id="alertcheckbox">
                    <label class="custom-control-label pmd-checkbox-ripple-effect" for="alertcheckbox">
                        Alert
                    </label>
                </div>
                <div class="custom-control custom-checkbox pmd-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" checked id="badgecheckbox">
                    <label class="custom-control-label pmd-checkbox-ripple-effect" for="badgecheckbox">
                        Badge
                    </label>
                </div>
                <div class="custom-control custom-checkbox pmd-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="buttoncheckbox">
                    <label class="custom-control-label pmd-checkbox-ripple-effect" for="buttoncheckbox">
                        Button
                    </label>
                </div>
                <div class="custom-control custom-checkbox pmd-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="cardcheckbox">
                    <label class="custom-control-label pmd-checkbox-ripple-effect" for="cardcheckbox">
                        Card
                    </label>
                </div>
                <div class="custom-control custom-checkbox pmd-checkbox">
                    <input class="custom-control-input" type="checkbox" value="" id="modalcheckbox">
                    <label class="custom-control-label pmd-checkbox-ripple-effect" for="modalcheckbox">
                        Modal
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button">Download</button>
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-secondary pmd-btn-flat" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>