<!-- Form Modal -->
<button data-target="#form-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary btn-raised" type="button">Form Modal</button>

<div tabindex="-1" class="modal pmd-modal fade" id="form-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pmd-modal-border">
                <h2 class="modal-title">Get In Touch</h2>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="full-name">Full Name</label>
                        <input id="full-name" class="form-control" type="text">
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="email">Email Address</label>
                        <input type="email" class="mat-input form-control" id="email" value="">
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label for="mobil">Mobile No.</label>
                        <input type="tel" class="mat-input form-control" id="mobil" value="">
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="control-label">Message</label>
                        <textarea required class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button">Send</button>
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-secondary pmd-btn-flat" type="button">Reset</button>
            </div>
        </div>
    </div>
</div>