<!-- Media Modal -->
<button data-target="#center-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary" type="button">Media Modal</button>

<div tabindex="-1" class="modal pmd-modal fade" id="center-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <a class="avatar-list-img" href="javascript:void(0);">
                    <img src="http://propeller.in/components/list/img/40x40.png" width="40" height="40">
                  </a>
                  <div class="media-body">
                    <h3 class="card-title">Two-line item</h3>
                    <p class="card-subtitle">Secondary text</p>
                  </div>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            </div>
            <div class="pmd-modal-media"><img width="1184" height="666" class="img-fluid" src="http://propeller.in/assets/images/profile-pic.png"> </div>
            <div class="modal-body"> 
                <p>Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal"  type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"> <i class="material-icons pmd-sm">share</i> </button>
                <button data-dismiss="modal"  type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"> <i class="material-icons pmd-sm">thumb_up</i> </button>
                <button data-dismiss="modal"  type="button" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary"> <i class="material-icons pmd-sm">drafts</i> </button>
            </div>
        </div>
    </div>
</div>