<!-- Modal List with Icons -->
<button data-target="#listing-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">List with Icon</button>

<div tabindex="-1" class="modal pmd-modal fade" id="listing-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            </div>
            <ul class="list-group pmd-list pmd-modal-list">
                <a class="list-group-item list-group-item-action d-flex flex-row" href="javascript:void(0);">
                    <i class="material-icons pmd-list-icon pmd-sm">file_download</i> 
                    <span class="media-body">Download</span>
                </a>
            </ul>
        </div>
    </div>
</div>