<!-- Dialog in small size -->
<button data-target="#small-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Small Modal</button>									
<div tabindex="-1" class="modal pmd-modal fade" id="small-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">...</div>
    </div>
</div>

<!-- Dialog in large size -->
<button data-target="#large-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Large Modal</button>									
<div tabindex="-1" class="modal pmd-modal fade" id="large-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">...</div>
    </div>
</div>