<button data-target="#avatar-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">List with Avatar</button>
<div tabindex="-1" class="modal pmd-modal fade" id="avatar-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header pmd-modal-border">
                <h2 class="modal-title">Followers</h2>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            </div>
            
            <ul class="list-group pmd-list pmd-modal-list pmd-list-avatar">
               <li class="list-group-item d-flex flex-row">
                    <a href="javascript:void(0);" class="avatar-list-img"> 
                        <img alt="avatar-img" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
                    </a>
                    <div class="media-body">
                        <h3 class="pmd-list-title">Alex J. Windham</h3>
                        <p class="pmd-list-subtitle">Front End Developer</p> 
                    </div>
                    <div class="custom-control custom-checkbox pmd-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="defaultCheck1" checked>
                        <label class="custom-control-label" for="defaultCheck1">
                        </label>
                    </div>
				</li>
				<li class="list-group-item d-flex flex-row">
                    <a href="javascript:void(0);" class="avatar-list-img"> 
                        <img alt="avatar-img" data-src="holder.js/40x40" class="img-fluid" src="http://propeller.in/components/list/img/40x40.png" data-holder-rendered="true">
                    </a>
                    <div class="media-body">
                        <h3 class="pmd-list-title">Kevin M. Stoneman</h3>
                        <p class="pmd-list-subtitle">Front End Developer</p> 
                    </div>
                    <div class="custom-control custom-checkbox pmd-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="custom-control-label" for="defaultCheck2">
                        </label>
                    </div>
                </li>	
            </ul>
            
            <div class="modal-footer text-right pmd-modal-border">
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>