<!-- Propeller Modal -->
<button data-target="#pmd-complete-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Alert with title bar</button>

<div tabindex="-1" class="modal pmd-modal fade" id="pmd-complete-dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<!-- Modal Header -->
			<div class="modal-header">
				<h2 class="modal-title">Use Google's location service?</h2>
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
			</div>
			
			<!-- Modal Body -->
			<div class="modal-body">
				<p>Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running. </p>
			</div>
			
			<!-- Modal Footer -->
			<div class="modal-footer pmd-modal-border text-right">
				<button data-dismiss="modal" class="btn pmd-btn-flat pmd-ripple-effect btn-secondary" type="button">Disagree</button>
				<button data-dismiss="modal" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Agree</button>
			</div>
			
		</div>
	</div>
</div>
