<!-- Scrolling Content Modal -->
<button data-target="#content-scroll-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary" type="button">Scrolling Content Modal</button>

<div tabindex="-1" class="modal pmd-modal fade" id="content-scroll-dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <h2 class="modal-title">Terms and Conditions</h2>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            </div>
            <div class="modal-body">
                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button">Continue</button>
                <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-secondary pmd-btn-flat" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>