<!-- Thankyou Modal -->
<button data-target="#pmd-title-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary " type="button">Thank you Modal</button>

<div tabindex="-1" class="modal pmd-modal fade text-center" id="pmd-title-dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<div class="pmd-card-icon mb-3">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="75px" height="75px" viewBox="162.5 162.5 75 75" enable-background="new 162.5 162.5 75 75" xml:space="preserve">
						<g>
						<path fill="#33CC99" d="M199.943,162.54c-20.711,0-37.5,16.789-37.5,37.5c0,20.71,16.789,37.5,37.5,37.5
							c20.711,0,37.5-16.789,37.5-37.5C237.443,179.329,220.654,162.54,199.943,162.54L199.943,162.54z M199.943,234.332
							c-18.938,0-34.291-15.354-34.291-34.292c0-18.938,15.353-34.291,34.291-34.291c18.939,0,34.292,15.353,34.292,34.291l0,0
							C234.234,218.979,218.882,234.332,199.943,234.332z"></path>
						<path fill="none" d="M176.333,176.333h46.334v46.334h-46.334V176.333z"></path>
						<path fill="#33CC99" d="M193.765,207.568l-8.108-8.108l-2.703,2.704l10.811,10.811l23.167-23.167l-2.703-2.703L193.765,207.568z"></path>
						</g>
					</svg>
				</div>
				<h2>Thank you for showing interest in Propeller!</h2>
				<p>You will receive an email with a download link on the email id you provided. Contact our support in case of any issues with the download.</p>
				<p>The download link received in the email will expire within next 48 hours. We request you to download your files right away!</p>
			</div>
			<div class="modal-footer justify-content-center">
				<button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary" type="button">Got It!</button>
			</div>
		</div>
	</div>
</div>