<!-- Vertically Centered Modal -->
<button data-target="#pmd-complete-dialog" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="button">Alert with title bar</button>

<div tabindex="-1" class="modal pmd-modal fade" id="pmd-complete-dialog" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">...</div>
	</div>
</div>
