<!-- Checkbox Input Group -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
        <div class="custom-control custom-checkbox pmd-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck">
          <label class="custom-control-label" for="customCheck"></label>
        </div>
    </div>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="validationCustomUsername">Username</label>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>

<!-- Radio Input Group -->
<div class="input-group pmd-input-group">
  <div class="input-group-prepend">
    <div class="input-group-text">
        <div class="custom-control custom-radio pmd-radio">
          <input type="radio" class="custom-control-input" id="customradio">
          <label class="custom-control-label" for="customradio"></label>
        </div>
    </div>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="validationCustomUsername">Gender</label>
      <input type="text" class="form-control" aria-label="Gender" aria-describedby="basic-addon1">
  </div>
</div>