<!-- Custom File Input Group -->

<!-- Custom File Input Group with Text -->
<div class="input-group pmd-input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Upload</label>
    </div>
    <div class="custom-file pmd-custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
</div>

<!-- Custom File Input Group with Button -->
<div class="input-group pmd-input-group mb-3">
    <div class="custom-file pmd-custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class="input-group-append">
        <button class="btn btn-outline-primary pmd-ripple-effect" type="button">Upload</button>
    </div>
</div>