<!-- Custom Select Input Group -->

<!-- Custom Select Input Group with Text Addon -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Country</label>
  </div>
  <div class="form-group pmd-textfield">
    <select class="custom-select">
      <option selected>Select</option>
      <option value="usa">United States of America</option>
      <option value="india">India</option>
      <option value="africa">Africa</option>
    </select>
  </div>
</div>

<!-- Custom Select Input Group with Button Addon -->
<div class="input-group pmd-input-group mb-3">
  <div class="form-group pmd-textfield">
    <select class="custom-select">
      <option selected>Select</option>
      <option value="usa">United States of America</option>
      <option value="india">India</option>
      <option value="africa">Africa</option>
    </select>
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-primary pmd-ripple-effect" type="button">Select</button>
  </div>
</div>