<!-- Dropdown Addon -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend">
    <div class="dropdown pmd-dropdown">
        <button class="btn pmd-ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Propeller Dropdown <span class="caret"></span></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url">Your vanity URL</label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>
                    
<div class="input-group pmd-input-group mb-3">
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url">Your vanity URL</label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  <div class="input-group-append">
    <div class="dropdown pmd-dropdown">
        <button class="btn pmd-ripple-effect btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">Propeller Dropdown <span class="caret"></span></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
  </div>
</div>