<!-- Input Group Validation -->
<div class="input-group pmd-input-group">
      <div class="input-group-prepend"> 
          <span class="input-group-text" id="basic-addon1">@</span> 
      </div>
      <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
          <label for="validationCustom11" class="is-invalid">Username</label>
          <input type="text" class="form-control is-invalid" aria-label="Username" aria-describedby="basic-addon1" required id="validationCustom11">
          <div class="invalid-feedback"> Please provide a valid username. </div>
      </div>	  
</div>