<!-- Small Input Group --> 
<div class="input-group pmd-input-group input-group-sm mb-3">
  <div class="input-group-prepend"> 
      <span class="input-group-text" id="basic-addon1">Small</span> 
  </div>
  <div class="pmd-textfield" style="flex: auto;">
      <input type="text" class="form-control" aria-label="Small" aria-describedby="basic-addon1">
  </div>	  
</div>

<!-- Default Input Group -->
<div class="input-group pmd-input-group input-group mb-3">
  <div class="input-group-prepend"> 
      <span class="input-group-text" id="basic-addon1">Default</span> 
  </div>
  <div class="pmd-textfield" style="flex: auto;">
      <input type="text" class="form-control" aria-label="Default" aria-describedby="basic-addon1">
  </div>	  
</div>

<!-- Large Input Group -->
<div class="input-group pmd-input-group input-group-lg">
  <div class="input-group-prepend"> 
      <span class="input-group-text" id="basic-addon1">Large</span> 
  </div>
  <div class="pmd-textfield" style="flex: auto;">
      <input type="text" class="form-control" aria-label="Large" aria-describedby="basic-addon1">
  </div>	  
</div>