<!-- Multiple Inputs -->
<div class="input-group pmd-input-group">
  <div class="input-group-prepend"> 
      <span class="input-group-text" id="basic-addon1">First and Last Name</span> 
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="fn">First Name</label>
      <input type="text" class="form-control" aria-label="First Name" aria-describedby="basic-addon1">
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="ln">Last Name</label>
      <input type="text" class="form-control" aria-label="Last Name" aria-describedby="basic-addon1">
  </div>	  
</div>