<!-- Multiple Addons -->
<!-- Before Addon -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
    <span class="input-group-text">0.00</span>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="validationCustomUsername">Amount</label>
      <input type="text" class="form-control" aria-label="Amount" aria-describedby="basic-addon1">
  </div>
</div>

<!-- After Addon -->
<div class="input-group pmd-input-group">
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="validationCustomUsername">Amount</label>
      <input type="text" class="form-control" aria-label="Amount" aria-describedby="basic-addon1">
  </div>
  <div class="input-group-append">
    <span class="input-group-text">$</span>
    <span class="input-group-text">0.00</span>
  </div>
</div>