<!-- Button Addons -->
<!-- Multiple Button Addon -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-success pmd-ripple-effect" type="button">Button</button>
    <button class="btn btn-outline-success pmd-ripple-effect" type="button">Button</button>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url"></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>

<div class="input-group pmd-input-group">
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url"></label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-info pmd-ripple-effect" type="button">Button</button>
    <button class="btn btn-outline-info pmd-ripple-effect" type="button">Button</button>
  </div>
</div>