<!-- Propeller Input Group with Icon -->
<div class="input-group pmd-input-group pmd-input-group-icon mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
        <i class="material-icons md-dark pmd-sm">perm_identity</i>
    </div>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="inputError1">Username</label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>
                                
<div class="input-group pmd-input-group pmd-input-group-icon mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
        <i class="material-icons md-dark pmd-sm">https</i>
    </div>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="inputError1">Password</label>
    <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>

<div class="input-group pmd-input-group pmd-input-group-icon mb-3">
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="inputError1">Password</label>
    <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
    <div class="input-group-append">
      <div class="input-group-text">
        <i class="material-icons md-dark pmd-sm">visibility</i>
      </div>	  
  </div>
</div>

<div class="input-group pmd-input-group pmd-input-group-icon mb-3">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="material-icons md-dark pmd-sm">https</i>
        </div>	  
    </div>
    <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
        <label for="inputError1">Password</label>
        <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <div class="input-group-append">
      <div class="input-group-text">
        Forget Password
      </div>	  
  </div>
</div>