<!-- Propeller Input Group -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend"> 
      <span class="input-group-text" id="basic-addon1">@</span> 
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="validationCustomUsername">Username</label>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>

<div class="mb-3 input-group pmd-input-group">
    <div class="pmd-textfield pmd-textfield-floating-label" style="flex:auto;">
        <label for="validationCustomUsername">Recipient's username</label>
        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>	
    <div class="input-group-append"> <span class="input-group-text" id="basic-addon2">@example.com</span> </div>
</div>

<div class="mb-3">
    <div class="input-group pmd-input-group">
      <div class="input-group-prepend"> <span class="input-group-text" id="basic-addon3">https://example.com/users/</span> </div>
      <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
        <label for="basic-url">Your vanity URL</label>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
      </div>	  
    </div>
</div>  

<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend"> 
    <span class="input-group-text">$</span> 
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
      <label for="basic-url">Your vanity URL</label>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  </div>		  
  <div class="input-group-append"> <span class="input-group-text">.00</span> </div>
</div>

<div class="input-group pmd-input-group mb-3">
    <div class="input-group-prepend"> 
        <span class="input-group-text">$</span> 
    </div>
    <div class="pmd-textfield" style="flex:auto;">
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    </div>		  
    <div class="input-group-append">
        <span class="input-group-text">.00</span>
    </div>
</div>

<div class="input-group pmd-input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">With textarea</span>
    </div>
    <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
        <label for="basic-url">Your vanity URL</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>		
</div>