<!-- Segmented Button -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend">
    <div class="btn-group pmd-dropdown dropright">
      <button type="button" class="btn btn-outline-primary">
        Action
      </button>
      <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropright</span>
      </button>
      <div class="dropdown-menu">
            <h6 class="dropdown-header">Dropdown header</h6>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url">Your vanity URL</label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>
                                
<div class="input-group pmd-input-group mb-3">
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url">Your vanity URL</label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  <div class="input-group-append">
  <div class="btn-group">
      <div class="btn-group pmd-dropdown dropleft" role="group">
        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropleft</span>
        </button>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">Dropdown header</h6>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary">
        Action
      </button>
    </div>
  </div>
</div>