<!-- Button Addons -->

<!-- Single Button Addon -->
<div class="input-group pmd-input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-primary pmd-ripple-effect" type="button">Button</button>
  </div>
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url">Your vanity URL</label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
</div>

<div class="input-group pmd-input-group mb-3">
  <div class="pmd-textfield pmd-textfield-floating-label" style="flex: auto;">
    <label for="basic-url">Your vanity URL</label>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary pmd-ripple-effect" type="button">Button</button>
  </div>
</div>