<!-- Basic Table -->
<table cellspacing="0" cellpadding="0" class="table" id="table-bootstrap">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">State/City <span class="caret shoarting"></span> </th>
            <th scope="col">End Date of Work</th>
            <th scope="col">Status</th>
            <th scope="col">Timesheet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Giacomo Guilizzoni</td>
            <td>JONEA140</td>
            <td>Melbourne</td>
            <td>1 June 2014</td>
            <td>Active</td>
            <td>Timesheet</td>
        </tr>
        <tr>
            <td>Giacomo Guilizzoni</td>
            <td>JONEA140</td>
            <td>Melbourne</td>
            <td>1 June 2014</td>
            <td>Active</td>
            <td>Timesheet</td>
        </tr>
        <tr>
            <td>Giacomo Guilizzoni</td>
            <td>JONEA140</td>
            <td>Melbourne</td>
            <td>1 June 2014</td>
            <td>Active</td>
            <td>Timesheet</td>
        </tr>
        <tr>
            <td>Giacomo Guilizzoni</td>
            <td>JONEA140</td>
            <td>Melbourne</td>
            <td>1 June 2014</td>
            <td>Active</td>
            <td>Timesheet</td>
        </tr>
        <tr>
            <td>Giacomo Guilizzoni</td>
            <td>JONEA140</td>
            <td>Melbourne</td>
            <td>1 June 2014</td>
            <td>Active</td>
            <td>Timesheet</td>
        </tr>
        <tr>
            <td>Giacomo Guilizzoni</td>
            <td>JONEA140</td>
            <td>Melbourne</td>
            <td>1 June 2014</td>
            <td>Active</td>
            <td>Timesheet</td>
        </tr>
    </tbody>
</table>