<!-- Card Table -->
<table class="table pmd-table pmd-table-card">
	<thead>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>State/City</th>
			<th>End Date of Work</th>
			<th>Status</th>
			<th>Timesheet</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-title="Name">Giacomo Guilizzoni</td>
			<td data-title="Code">JONEA140</td>
			<td data-title="State/City">Melbourne</td>
			<td data-title="End Date of Work">1 June 2014</td>
			<td data-title="Active">Active</td>
			<td data-title="Timesheet">Timesheet</td>
			<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
		</tr>
		<tr>
			<td data-title="Firm Name">Giacomo Guilizzoni</td>
			<td data-title="Firm Code">JONEA140</td>
			<td data-title="Firm State/City">Melbourne</td>
			<td data-title="End Date of Work">1 June 2014</td>
			<td data-title="Active">Active</td>
			<td data-title="Timesheet">Timesheet</td>
			<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
		</tr>
		<tr>
			<td data-title="Firm Name">Giacomo Guilizzoni</td>
			<td data-title="Firm Code">JONEA140</td>
			<td data-title="Firm State/City">Melbourne</td>
			<td data-title="End Date of Work">1 June 2014</td>
			<td data-title="Active">Active</td>
			<td data-title="Timesheet">Timesheet</td>
			<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
		</tr>
		<tr>
			<td data-title="Firm Name">Giacomo Guilizzoni</td>
			<td data-title="Firm Code">JONEA140</td>
			<td data-title="Firm State/City">Melbourne</td>
			<td data-title="End Date of Work">1 June 2014</td>
			<td data-title="Active">Active</td>
			<td data-title="Timesheet">Timesheet</td>
			<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
		</tr>
		<tr>
			<td data-title="Firm Name">Giacomo Guilizzoni</td>
			<td data-title="Firm Code">JONEA140</td>
			<td data-title="Firm State/City">Melbourne</td>
			<td data-title="End Date of Work">1 June 2014</td>
			<td data-title="Active">Active</td>
			<td data-title="Timesheet">Timesheet</td>
			<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
		</tr>
		<tr>
			<td data-title="Firm Name">Giacomo Guilizzoni</td>
			<td data-title="Firm Code">JONEA140</td>
			<td data-title="Firm State/City">Melbourne</td>
			<td data-title="End Date of Work">1 June 2014</td>
			<td data-title="Active">Active</td>
			<td data-title="Timesheet">Timesheet</td>
			<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
		</tr>
	</tbody>
</table>