<!-- Table with Fixed Header-->
<div class="card pmd-card">
	<div class="table-fixed-head">
		<div class="table-responsive scrollable-table">
			<table cellspacing="0" cellpadding="0" class="table table-striped">
				<thead class="header">
					<tr>
						<th>Name</th>
						<th>Code</th>
						<th>State/City</th>
						<th>End Date of Work</th>
						<th>Status</th>
						<th>Timesheet</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td data-title="Name">Giacomo Guilizzoni</td>
						<td data-title="Code">JONEA140</td>
						<td data-title="State/City">Melbourne</td>
						<td data-title="End Date of Work">1 June 2014</td>
						<td data-title="Active">Active</td>
						<td data-title="Timesheet">Timesheet</td>
						<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
					</tr>
					<tr>
						<td data-title="Firm Name">Giacomo Guilizzoni</td>
						<td data-title="Firm Code">JONEA140</td>
						<td data-title="Firm State/City">Melbourne</td>
						<td data-title="End Date of Work">1 June 2014</td>
						<td data-title="Active">Active</td>
						<td data-title="Timesheet">Timesheet</td>
						<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
					</tr>
					<tr>
						<td data-title="Firm Name">Giacomo Guilizzoni</td>
						<td data-title="Firm Code">JONEA140</td>
						<td data-title="Firm State/City">Melbourne</td>
						<td data-title="End Date of Work">1 June 2014</td>
						<td data-title="Active">Active</td>
						<td data-title="Timesheet">Timesheet</td>
						<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
					</tr>
					<tr>
						<td data-title="Firm Name">Giacomo Guilizzoni</td>
						<td data-title="Firm Code"></td>
						<td data-title="Firm State/City">Melbourne</td>
						<td data-title="End Date of Work">1 June 2014</td>
						<td data-title="Active">Active</td>
						<td data-title="Timesheet">Timesheet</td>
						<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
					</tr>
					<tr>
						<td data-title="Firm Name">Giacomo Guilizzoni</td>
						<td data-title="Firm Code">JONEA140</td>
						<td data-title="Firm State/City">Melbourne</td>
						<td data-title="End Date of Work">1 June 2014</td>
						<td data-title="Active">Active</td>
						<td data-title="Timesheet">Timesheet</td>
						<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
					</tr>
					<tr>
						<td data-title="Firm Name">Giacomo Guilizzoni</td>
						<td data-title="Firm Code">JONEA140</td>
						<td data-title="Firm State/City">Melbourne</td>
						<td data-title="End Date of Work">1 June 2014</td>
						<td data-title="Active">Active</td>
						<td data-title="Timesheet">Timesheet</td>
						<td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
    <div class="table-responsive">
        <table cellspacing="0" cellpadding="0" class="table pmd-table" id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>State/City <span class="caret shoarting"></span> </th>
                    <th>End Date of Work</th>
                    <th>Status</th>
                    <th>Timesheet</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Name">Giacomo Guilizzoni</td>
                    <td data-title="Code">JONEA140</td>
                    <td data-title="State/City">Melbourne</td>
                    <td data-title="End Date of Work">1 June 2014</td>
                    <td data-title="Active">Active</td>
                    <td data-title="Timesheet">Timesheet</td>
                    <td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
                </tr>
                <tr>
                    <td data-title="Firm Name">Giacomo Guilizzoni</td>
                    <td data-title="Firm Code">JONEA140</td>
                    <td data-title="Firm State/City">Melbourne</td>
                    <td data-title="End Date of Work">1 June 2014</td>
                    <td data-title="Active">Active</td>
                    <td data-title="Timesheet">Timesheet</td>
                    <td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
                </tr>
                <tr>
                    <td data-title="Firm Name">Giacomo Guilizzoni</td>
                    <td data-title="Firm Code">JONEA140</td>
                    <td data-title="Firm State/City">Melbourne</td>
                    <td data-title="End Date of Work">1 June 2014</td>
                    <td data-title="Active">Active</td>
                    <td data-title="Timesheet">Timesheet</td>
                    <td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
                </tr>
                <tr class="child-table">
                    <td colspan="10"><table class="table pmd-table table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td data-title="Firm Name">Mark</td>
                                    <td data-title="Last Name">Otto</td>
                                    <td data-title="Username">@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td data-title="Firm Name">Jacob</td>
                                    <td data-title="Last Name">Thornton</td>
                                    <td data-title="Username">@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td data-title="Firm Name">Larry</td>
                                    <td data-title="Last Name">the Bird</td>
                                    <td data-title="Username">@twitter</td>
                                </tr>
                            </tbody>
                        </table></td>
                </tr>
                <tr>
                    <td data-title="Firm Name">Giacomo Guilizzoni</td>
                    <td data-title="Firm Code"></td>
                    <td data-title="Firm State/City">Melbourne</td>
                    <td data-title="End Date of Work">1 June 2014</td>
                    <td data-title="Active">Active</td>
                    <td data-title="Timesheet">Timesheet</td>
                    <td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
                </tr>
                <tr>
                    <td data-title="Firm Name">Giacomo Guilizzoni</td>
                    <td data-title="Firm Code">JONEA140</td>
                    <td data-title="Firm State/City">Melbourne</td>
                    <td data-title="End Date of Work">1 June 2014</td>
                    <td data-title="Active">Active</td>
                    <td data-title="Timesheet">Timesheet</td>
                    <td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
                </tr>
                <tr>
                    <td data-title="Firm Name">Giacomo Guilizzoni</td>
                    <td data-title="Firm Code">JONEA140</td>
                    <td data-title="Firm State/City">Melbourne</td>
                    <td data-title="End Date of Work">1 June 2014</td>
                    <td data-title="Active">Active</td>
                    <td data-title="Timesheet">Timesheet</td>
                    <td data-title=""><a href="javascript:void(0);"><i class="material-icons md-dark pmd-sm">more_vert</i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>