<!-- Table with Expand/Collapse -->
<div class="card pmd-card">
	<div class="table-responsive">
		<table class="table pmd-table">
			<thead>
				<tr>
					<th>Ticket No.</th>
					<th>Browser Name</th>
					<th>Month</th>
					<th>Total</th>
					<th>Status</th>
					<th>Last Updated On</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-title="Ticket No">PMD484150</td>
					<td data-title="Browser Name">Firefox</td>
					<td data-title="Month">September</td>
					<td data-title="Total">25%</td>
					<td data-title="Status"><span class="status-btn blue-bg">Average</span></td>
					<td data-title="date">2016-09-20 15:50:00</td>
					<td data-title="action">
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">edit</i>
						</a>
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">delete</i>
						</a>					
					</td>
				</tr>
				<tr>
					<td data-title="Ticket No">PMD484149</td>
					<td data-title="Browser Name">Google Chrome</td>
					<td data-title="Month">September</td>
					<td data-title="Total">32%</td>
					<td data-title="Status"><span class="status-btn blue-bg">High</span></td>
					<td data-title="date">2016-09-21 15:50:00</td>
					<td data-title="action">
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">edit</i>
						</a>
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">delete</i>
						</a>					
					</td>
				</tr>
				<tr>
					<td data-title="Ticket No">PMD484148</td>
					<td data-title="Browser Name">Safari</td>
					<td data-title="Month">September</td>
					<td data-title="Total">13%</td>
					<td data-title="Status"><span class="status-btn blue-bg">Low</span></td>
					<td data-title="date">2016-09-20 14:00:00</td>
					<td data-title="action">
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">edit</i>
						</a>
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">delete</i>
						</a>					
					</td>
				</tr>
				<tr>
					<td data-title="Ticket No">PMD484147</td>
					<td data-title="Browser Name">Opera</td>
					<td data-title="Month">September</td>
					<td data-title="Total">7%</td>
					<td data-title="Status"><span class="status-btn blue-bg">Low</span></td>
					<td data-title="date">2016-09-20 11:30:00</td>
					<td data-title="action">
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">edit</i>
						</a>
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm">
							<i class="material-icons md-dark pmd-sm">delete</i>
						</a>
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm child-table-expand"><i class="material-icons md-dark pmd-sm">add_circle_outline</i></a>
					</td>
				</tr>
				<tr class="child-table">
					<td colspan="12">
						<div class="direct-child-table" style="display:none">
							<table class="table pmd-table table-striped table-sm">
								<thead>
									<tr>
										<th>Title</th>
										<th>Amount (%)</th>
										<th>Status</th>
										<th>Created</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
								<tr>
									<td>Service Tax </td>
									<td>14.5</td>
									<td><span class="status-btn red-bg">InActive</span></td>
									<td>2014-03-03</td>
									<td class="pmd-table-row-action">
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">edit</i></a>
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">delete</i></a>
									</td>
								</tr>
								<tr>
									<td>CWT1 </td>
									<td>2</td>
									<td><span class="status-btn green-bg">Active</span></td>
									<td>2014-03-03</td>
									<td class="pmd-table-row-action">
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">edit</i></a>
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">delete</i></a>
									</td>
								</tr>
								<tr>
									<td>Service charge shaival test </td>
									<td>20</td>
									<td><span class="status-btn green-bg">Active</span></td>
									<td>2014-03-03</td>
									<td class="pmd-table-row-action">
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">edit</i></a>
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">delete</i></a>
									</td>
								</tr>
								<tr>
									<td>Fixed Tax </td>
									<td>2.5</td>
									<td><span class="status-btn red-bg">InActive</span></td>
									<td>2014-03-03</td>
									<td class="pmd-table-row-action">
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">edit</i></a>
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">delete</i></a>
									</td>
								</tr>
								<tr>
									<td>cess vat</td>
									<td>5.8</td>
									<td><span class="status-btn red-bg">InActive</span></td>
									<td>2014-03-03</td>
									<td class="pmd-table-row-action">
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">edit</i></a>
										<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-xs"><i class="material-icons md-dark pmd-xs">delete</i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
				<tr>
					<td data-title="Ticket No">PMD484146</td>
					<td data-title="Browser Name">Mobile & Tablet</td>
					<td data-title="Month">September</td>
					<td data-title="Total">4%</td>
					<td data-title="Status"><span class="status-btn blue-bg">Very Low</span></td>
					<td data-title="date">2016-07-21 17:40:00</td>
					<td class="pmd-table-row-action">
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm"><i class="material-icons md-dark pmd-sm">edit</i></a>
						<a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-default btn-sm"><i class="material-icons md-dark pmd-sm">delete</i>
						</a>					
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>