<!-- Floating Action Button like Google Material -->
<div class="menu pmd-floating-action"  role="navigation"> 
	<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-light" data-title="Supervisor Account"> 
		<span class="pmd-floating-hidden">Supervisor Account</span>
		<i class="material-icons">supervisor_account</i>
	</a> 
	<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-light" data-title="Cloud Queue"> 
		<span class="pmd-floating-hidden">Cloud Queue</span> 
		<i class="material-icons">cloud_queue</i> 
	</a> 
	<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-light" data-title="Headset"> 
		<span class="pmd-floating-hidden">Headset</span> 
		<i class="material-icons">headset</i>
	</a> 
	<a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-light" data-title="Dialpad"> 
		<span class="pmd-floating-hidden">Dialpad</span> 
		<i class="material-icons">dialpad</i> 
	</a> 
	<a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Add" href="javascript:void(0);"> 
		<span class="pmd-floating-hidden">Primary</span>
		<i class="material-icons pmd-sm">add</i> 
	</a> 
</div>