<div class="card pmd-card bg-dark text-white">
	<div class="card-body">
		<div class="pmd-switch">
			<label>
				<input type="checkbox">
				<span class="pmd-switch-label"></span>
			</label>
		</div>
		<div class="pmd-switch">
			<label>
				<input type="checkbox">
				<span class="pmd-switch-label"></span>
			</label>
		</div>
	</div>
</div>