/* Bootstrap css */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";

/* Select2 css */
@import "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css";

/* Propeller CSS */
@import url(dist/css/propeller.min.css);

/* Propeller select2 */
@import url(css/pmd-select2.css);