/* Bootstrap css */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css";

/* Google Material icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";

/* Propeller css */
@import url(dist/css/propeller.min.css);

/* Bootstrap datetimepicker */
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css";

/* Propeller datetimepicker */
@import url(css/pmd-datetimepicker.css);