<!--Time picker -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
	<label class="control-label" for="timepicker">Select Time</label>
	<input type="text" class="form-control" id="timepicker">
</div>
