<!-- Year and Month picker -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
	<label class="control-label" for="datepicker-view-mode">Select Year and Month</label>
	<input type="text" class="form-control" id="datepicker-view-mode">
</div>