<!--Default date and time picker -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
	<label class="control-label" for="datetimepicker-default">Select Date and Time</label>
	<input type="text" id="datetimepicker-default" class="form-control" />
</div>