<div class="row">
	<div class="col-sm-6"> 
		<div class="form-group pmd-textfield pmd-textfield-floating-label">
			<label class="control-label" for="datepicker-start">Start Date</label>
			<input type="text" class="form-control" id="datepicker-start">
		</div>
	</div>
	<div class="col-sm-6"> 
		<div class="form-group pmd-textfield pmd-textfield-floating-label">
			<label class="control-label" for="datepicker-end">End Date</label>
			<input type="text" class="form-control" id="datepicker-end">
		</div>
	</div>
</div>