<!-- Date and time picker with disbaled dates -->
<div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
	<label class="control-label" for="datepicker-disabled-days">Select Date and Time</label>
	<input type="text" class="form-control" id="datepicker-disabled-days">
</div>