<div class="form-group pmd-textfield pmd-textfield-floating-label">
	<label class="control-label" for="regular1">Select Date and Time</label>
	<input type="text" class="form-control" data-header-left="true" id="datepicker-left-header">
</div>