<!--Date picker -->
<div class="form-group pmd-textfield pmd-textfield-floating-label">
	<label class="control-label" for="datepicker">Select Date</label>
	<input type="text" class="form-control" id="datepicker">
</div>
