<!-- Light raised circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-light" type="button"><i class="material-icons pmd-sm">add</i></button>

<!-- Primary raised circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">star</i></button>

<!-- Information raised circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-info" type="button"><i class="material-icons pmd-sm">info</i></button>

<!-- Success raised circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-success" type="button"><i class="material-icons pmd-sm">check</i></button>

<!-- Link raised circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-link" type="button">Link</button>