<!--Primary button with a ripple effect-->
<button type="button" class="btn pmd-ripple-effect btn-primary">Primary</button>

<!-- Secondary button with a ripple effect-->
<button type="button" class="btn pmd-ripple-effect btn-secondary">Secondary</button>

<!--Success button with a ripple effect-->
<button type="button" class="btn pmd-ripple-effect btn-success">Success</button>

<!--Danger button with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-danger">Danger</button>

<!--Warning button with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-warning">Warning</button>

<!--Information button with a ripple effect-->
<button type="button" class="btn pmd-ripple-effect btn-info">Info</button>

<!-- Light button with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-light">Light</button>

<!-- Dark button with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-dark">Dark</button>

<!--Link with a ripple effect -->
<button type="button" class="btn pmd-ripple-effect btn-link">Link</button>