<!--Primary button without a ripple effect-->
<button type="button" class="btn btn-primary">Primary</button>

<!--Primary button without a ripple effect-->
<button type="button" class="btn btn-secondary">Secondary</button>

<!--Success button without a ripple effect-->
<button type="button" class="btn btn-success">Success</button>

<!--Danger button without a ripple effect -->
<button type="button" class="btn btn-danger">Danger</button>

<!--Warning button without a ripple effect -->
<button type="button" class="btn btn-warning">Warning</button>

<!--Information button without a ripple effect-->
<button type="button" class="btn btn-info">Info</button>

<!-- Light button without a ripple effect -->
<button type="button" class="btn btn-light">Light</button>

<!-- Dark button without a ripple effect -->
<button type="button" class="btn btn-dark">Dark</button>

<!--Link without a ripple effect -->
<button type="button" class="btn btn-link">Link</button>