<!--Primary raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-primary">Primary</button>

<!-- Secondary raised button with a ripple effect-->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-secondary">Secondary</button>

<!-- Success raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-success">Success</button>

<!-- Warning raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-warning">Warning</button>

<!-- Danger raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-danger">Danger</button>

<!-- Information raised button with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-info">Info</button>

<!-- Light raised button with a ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-light">Light</button>

<!-- Dark raised button with a ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-dark">Dark</button>

<!-- Link raised with ripple effect -->
<button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-link">Link</button>