<!-- Button groups -->
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-3" role="group">
        <button class="btn pmd-btn-raised pmd-ripple-effect btn-default" type="button">4</button>
        <button class="btn pmd-btn-raised pmd-ripple-effect btn-info" type="button">5</button>
        <button class="btn pmd-btn-raised pmd-ripple-effect btn-warning" type="button">6</button>
    </div>
    
    <div class="btn-group" role="group">
        <button class="btn pmd-btn-raised pmd-ripple-effect btn-secondary" type="button">7</button>
        <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">8</button>
    </div>
</div>