<!-- Light flat FAB button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-light" type="button"><i class="material-icons pmd-sm">add</i></button>

<!-- Primary flat FAB button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">star</i></button>

<!-- Information flat FAB button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-info" type="button"><i class="material-icons pmd-sm">info</i></button>

<!-- Success flat FAB button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-success" type="button"><i class="material-icons pmd-sm">check</i></button>

<!-- Link flat FAB button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-link" type="button">Link</button>