<!-- Primary flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">Primary</button>

<!-- Secondary Flat button with a ripple effect-->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-secondary">Secondary</button>

<!-- Success flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-success">Success</button>

<!-- Warning flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-warning">Warning</button>

<!-- Danger flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger">Danger</button>

<!-- Information flat button with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-info">Info</button>

<!-- Light flat button with a ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-light">Light</button>

<!-- Dark flat button with a ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-dark">Dark</button>

<!-- Link flat with ripple effect -->
<button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-link">Link</button>