<!-- Primary raised block button with ripple effect -->
<button class="btn pmd-btn-raised btn-primary btn-block pmd-ripple-effect" type="button">Block level Raised button</button>

<!-- Primary flat block button with ripple effect -->
<button class="btn pmd-btn-flat btn-primary btn-block pmd-ripple-effect" type="button">Block level Flat button</button>