<!-- Light circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-ripple-effect btn-light" type="button"><i class="material-icons pmd-sm">add</i></button>

<!-- Primary circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">star</i></button>

<!-- Information circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-ripple-effect btn-info" type="button"><i class="material-icons pmd-sm">info</i></button>

<!-- Success circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-ripple-effect btn-success" type="button"><i class="material-icons pmd-sm">check</i></button>

<!-- Link circle button with ripple effect -->
<button class="btn pmd-btn-fab pmd-ripple-effect btn-link" type="button">Link</button>