<!-- Buttons with varient sizes -->

<!--Large primary raised button with ripple effect -->
<button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" type="button">Raised</button>

<!--Large primary flat button with ripple effect -->
<button class="btn btn-lg pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Flat</button>

<!--Large primary circle raised button with ripple effect -->
<button class="btn btn-lg pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">add</i></button>

<!--Large primary circle flat button with ripple effect -->
<button class="btn btn-lg pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">add</i></button>

<!--Medium primary raised button with ripple effect -->
<button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">Raised</button>

<!--Medium primary flat button with ripple effect -->
<button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Flat</button>

<!--Medium primary circle raised button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">add</i></button>

<!--Medium primary circle flat button with ripple effect -->
<button class="btn pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">add</i></button>

<!--Small primary raised button with ripple effect -->
<button class="btn btn-sm pmd-btn-raised pmd-ripple-effect btn-primary" type="button">Raised</button>

<!--Small primary flat button with ripple effect -->
<button class="btn btn-sm pmd-btn-flat pmd-ripple-effect btn-primary" type="button">Flat</button>

<!--Small primary circle raised button with ripple effect -->
<button class="btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">add</i></button>

<!--Small primary circle flat button with ripple effect -->
<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">add</i></button>