<!-- Primary outline button with ripple effect -->
<button type="button" class="btn btn-outline-primary pmd-ripple-effect">Primary</button>

<!-- Secondary outline button with ripple effect -->
<button type="button" class="btn btn-outline-secondary pmd-ripple-effect">Secondary</button>

<!-- Success outline button with ripple effect -->
<button type="button" class="btn btn-outline-success pmd-ripple-effect">Success</button>

<!-- Danger outline button with ripple effect -->
<button type="button" class="btn btn-outline-danger pmd-ripple-effect">Danger</button>

<!-- Warning outline button with ripple effect -->
<button type="button" class="btn btn-outline-warning pmd-ripple-effect">Warning</button>

<!-- Info outline button with ripple effect -->
<button type="button" class="btn btn-outline-info pmd-ripple-effect">Info</button>

<!-- Light outline button with ripple effect -->
<button type="button" class="btn btn-outline-light pmd-ripple-effect">Light</button>

<!-- Dark outline button with ripple effect -->
<button type="button" class="btn btn-outline-dark pmd-ripple-effect">Dark</button>