<!--Button Toggle State-->
<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Primary</button>

<!--Button Toggle State-->
<button type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="true" autocomplete="off">Primary</button>