<!-- Button group -->
<div class="btn-group">
    <button class="btn pmd-ripple-effect btn-primary" type="button">Left</button>
    <button class="btn pmd-ripple-effect btn-primary" type="button">Middle</button>
    <button class="btn pmd-ripple-effect btn-primary" type="button">Right</button>
</div>