<!-- Checkbox Toggle State-->
<div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
    	<input type="checkbox" checked autocomplete="off"> Checked
    </label>
    <label class="btn btn-primary">
    	<input type="checkbox" autocomplete="off"> Unchecked
    </label>
</div>