<!-- Intro with Block Image on Left-->
<div class="banner-wrap bg-white">
    <div class="container">
        <div class="pmd-into-container d-flex row justify-content-between">
            <div class="pmd-intro-img align-self-center col-md-5 col-12">
                <img src="../../assets/images/side-image.png">
            </div>
            <div class="align-self-center col-lg-6 col-md-7 col-12">
                <h1>Perfect Page for <br>showcasing your product or app</h1>
                <hr>
                <p class="lead">
                    Introduce your product or app to your customers in a creative way.
                </p>
                <a href="javascript:void(0);" class="btn btn-primary pmd-ripple-effect pmd-btn-raised">Download App</a>
            </div>
        </div>
    </div>
</div>