<!-- Intro with Block Image on Right-->
<div class="banner-wrap bg-white">
    <div class="container">
        <div class="pmd-into-container d-flex row justify-content-between">
            <div class="pmd-intro-img-wrapper align-self-center col-md-5 col-12 order-3">
                <div class="pmd-intro-img">
                    <img src="../../assets/images/side-image.png">
                </div>
                <div class="pmd-animate-circle-wrapper">
                        <div class="pmd-animate-circle pmd-animate-circle-lg">
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                        </div>
                        <div class="pmd-animate-circle pmd-animate-circle-md">
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                        </div>
                        <div class="pmd-animate-circle pmd-animate-circle-sm">
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                            <span class="pmd-animate-circle-dot"></span>
                        </div>
                </div>
            </div>
            <div class="align-self-center col-lg-6 col-md-7 col-12 order-2">
                <h1 class="pmd-display3">Perfect Page for <br>showcasing your product or app</h1>
                <p class="lead">
                    Introduce your product or app to your customers in a creative way.
                </p>
                <a href="javascript:void(0);" class="btn btn-primary pmd-ripple-effect pmd-btn-raised">Download App</a>
            </div>
        </div>
    </div>
</div>