<!-- Intro with Text Bottom Center -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image:url(../../assets/images/slide-img-10.jpg);">
        <div class="container">
            <div class="pmd-into-container text-light d-flex row justify-content-center text-center">
                <div class="align-self-end col-lg-9">
                    <h1 class="pmd-display3">
                        Hot and Spicy Foods
                    </h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </p>
                    <a href="javascript:void(0);" class="btn btn-outline-light pmd-ripple-effect btn pmd-btn-raised">Book Table</a>
                </div>
            </div>
        </div>
    </div>
</div>