<!-- Intro with Text Bottom Right -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image:url(../../assets/images/bottom-text-right.jpg);">
        <div class="container">
            <div class="pmd-into-container text-light d-flex row justify-content-end">
                <div class="align-self-end col-lg-6 text-left">
                    <h1 class="pmd-display3">Digital Marketing</h1>
                    <hr>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
                    <a href="javascript:void(0);" class="btn btn-outline-light pmd-ripple-effect">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>