<!-- Intro with Text Bottom Left -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image:url(../../assets/images/bottom-text-left.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-start text-light" style="min-height:400px;">
                <div class="align-self-end col-lg-6">
                    <h1 class="pmd-display2">We Are CWD</h1>
                    <p class="lead">
                        Marketing + Content + Strategy <br> Elevating Brands For The Digital World
                    </p>
                    <a href="javascript:void(0);" class="btn btn-light pmd-ripple-effect btn-lg pmd-btn-raised">Discover</a>
                </div>
            </div>
        </div>
    </div>
</div>