<!-- Intro with Card and Floating Action Button -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img pmd-intro-gradient pmd-intro-gradient2" style="background-image:url(../../assets/images/card-banner-1.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-center">
                <div class="align-self-center intro-text col-lg-6 col-md-8 text-center pmd-card text-dark p-5">
                    <h1 class="card-title">
                        Build Your Dream Business
                    </h1>
                    <p class="card-text">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
                    </p>
                    <a href="javascript:void(0);" class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary pmd-intro-fab-btn-center">
                        <i class="material-icons pmd-sm">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>