<!-- Intro with Card -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image:url(../../assets/images/card-banner-1.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-start">
                <div class="align-self-center col-lg-6 col-md-8 text-left pmd-card p-5">
                    <h1 class="card-title">
                        Build Your Dream Business
                    </h1>
                    <p class="card-text">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
                    </p>
                    <a href="javascript:void(0);" class="btn pmd-ripple-effect pmd-btn-raised btn-primary">Contact Us Today</a>
                </div>
            </div>
        </div>
    </div>
</div>