<!-- Intro with Content on Both Sides-->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image: url(../../assets/images/slide-img-12.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-between">
                <div class="align-self-end text-light col-md-5">
                    <h1>
                        Flexibility
                    </h1>
                    <hr>
                    <p class="lead">
                        Do yoga for a better tomorrow.
                    </p>
                    <a href="javascript:void(0);" class="btn btn-outline-light pmd-ripple-effect">Book Now</a>
                </div>
                <div class="align-self-end text-light col-md-5 text-right">
                    <h1>
                        Serenity
                    </h1>
                    <hr>
                    <p class="lead">
                        Control your body to free your soul.
                    </p>
                    <a href="javascript:void(0);" class="btn btn-outline-light pmd-ripple-effect">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>