<!-- Intro with Image at Bottom-->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img pmd-intro-gradient" style="background-image: url(../../assets/images/slide-img-16.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-center pb-0">
                <div class="align-self-center text-light col-lg-6 text-center">
                    <h1 class="mb-2">
                        Propeller Admin Theme
                    </h1>
                    <a href="javascript:void(0);" class="btn btn-primary pmd-ripple-effect pmd-btn-raised">Buy Now</a>
                </div>
                <div class="align-self-center pmd-intro-img mt-4">
                    <img src="../../assets/images/product-intro.png">
                </div>
            </div>
        </div>
    </div>
</div>