<!-- Image Slider -->
<div class="banner-wrap">
    <div class="intro-img bg-secondary">
        <div class="into-container d-flex justify-content-center pb-0">
            <div class="align-self-end">
                <div class="tile-screen">
                    <div class="tile-inner">
                        <div class="owl-carousel" id="sync1">
                            <div class="item">
                                <img src="../../assets/images/mobile-screen-1.jpg" alt="mobile1">
                            </div>
                            <div class="item">
                                <img src="../../assets/images/mobile-screen-2.jpg" alt="mobile2">
                            </div>
                            <div class="item">
                                <img src="../../assets/images/mobile-screen-3.jpg" alt="mobile3">
                            </div>
                            <div class="item">
                                <img src="../../assets/images/mobile-screen-4.jpg" alt="mobile4">
                            </div>
                            <div class="item">
                                <img src="../../assets/images/mobile-screen-5.jpg" alt="mobile5">
                            </div>
                            <div class="item">
                                <img src="../../assets/images/mobile-screen-6.jpg" alt="mobile6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>