<!-- Intro with Text Left -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image:url(../../assets/images/intro-with-text-left.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-start">
                <div class="align-self-center col-lg-6">
                    <p class="lead mb-0 pmd-text-before-line-dark">
                        Where Will You Go Next?
                    </p>
                    <h1 class="pb-3 text-uppercase pmd-display4">
                        Pack your bags and <br>
                        hit the road!
                    </h1>
                    <a href="javascript:void(0);" class="btn btn-outline-dark pmd-ripple-effect">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>