<!-- Intro with Text Right -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img pmd-intro-gradient" style="background-image:url(../../assets/images/intro-text-right.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-end text-light">
                <div class="align-self-center col-lg-6 text-left">
                    <h1>
                        Complete Solution <br>For Your Business
                    </h1>
                    <hr>
                    <p class="lead">
                       Our Services Include Design, Development, Manufacturing, Testing, Supply Chain And Packaging.
                    </p>
                    <a href="javascript:void(0);" class="btn btn-outline-light pmd-ripple-effect">Our Portfolio</a>
                </div>
            </div>
        </div>
    </div>
</div>