<!-- Intro with Floating Button -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image:url(../../assets/images/intro-with-floating-button.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-start">
                <div class="align-self-center col-lg-9">
                    <h1 class="pmd-display4">Beautifully Designed Pieces<br> By Talented Designers</h1>
                    <p class="lead">
                        We provide endless possibilities and unique solutions <br>with a simple and streamlined creative process.
                    </p>
                    <a href="javascript:void(0);" class="btn btn-light pmd-btn-fab pmd-ripple-effect pmd-btn-raised">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>