<!-- Intro with Text Top Center -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img" style="background-image:url(../../assets/images/intro-text-top.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-center text-center">
                <div class="align-self-start col">
                    <h1 class="pmd-display3">
                        Look Out!
                    </h1>
                    <p class="lead">Tons of colorful new vintage just arrived.</p>
                    <a href="javascript:void(0);" class="btn btn-dark pmd-ripple-effect pmd-btn-raised">Browse Now</a>
                </div>
            </div>
        </div>
    </div>
</div>