<!-- Intro with Text Center -->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img pmd-intro-img-overlay" style="background-image:url(../../assets/images/intro-with-text-center.jpg);">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-center text-light text-center">
                <div class="align-self-center col-lg-9">
                    <h1 class="pmd-display3">Welcome To An Award Winning <br>Design Agency</h1>
                    <hr>
                    <p class="lead">
                        We provide endless possibilities and unique solutions with a simple and streamlined creative process.
                    </p>
                    <a href="javascript:void(0);" class="btn btn-outline-light pmd-ripple-effect btn-lg">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>