<!-- Intro with Message-->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img pmd-intro-gradient" style="background-image:url(../../assets/images/slide-img-14.jpg); ">
        <div class="container">
            <div class="pmd-into-container d-flex row justify-content-center">
                <div class="align-self-center intro-text col-lg-8 text-center">
                    <img class="img-fluid pmd-img-sm rounded-circle" src="../../assets/images/Keith-Dowd.png">
                    <h1 class="mt-4">Keith Dowd</h1>
                    <p class="pmd-subtitle">CEO &amp; Founder</p>
                    <hr>
                    <p class="lead pb-3">
                        For over 3 decades we have remained committed to understand, accept, and meet and exceed the expectation of our customers. We do this by remaining on the bleeding edge of this ever-changing field of hardware-software co-design. The fact that we learn from our past, adapt to the present and plan for future drives us forward in our pursuit of excellence everyday.
                    </p>
                    <a href="javascript:void(0);" class="btn btn-light pmd-ripple-effect pmd-btn-raised">Why Propeller?</a>
                </div>
            </div>
        </div>
    </div>
</div>