<!-- Mobile App Intro -->
<div class="banner-wrap">
    <div class="bg-white">
        <div class="container">
            <div class="pmd-into-container text-center">
                <h1 class="font-normal pmd-display3"> Introducing FitApp</h1>
                <div class="pmd-intro-img mt-3">
                    <img src="../../assets/images/mobile-app-intro.png">
                </div>
                <p class="lead mt-4 mb-2">
                    FitApp is a calorie counting and diet app that helps you eat better. 
                </p>
                <a href="javascript:void(0);" class="btn btn-secondary pmd-ripple-effect pmd-btn-raised">Know More</a>
            </div>
        </div>
    </div>
</div>