<!-- Intro with Video Background-->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img">
        <video loop muted="" data-autoplay="" autoplay playsinline="" id="myVideo">
            <source src="../../assets/videos/video-1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="pmd-into-container d-flex row justify-content-center">
            <div class="align-self-center text-light col-lg-8 text-center">
                <h1>MAKE A DIFFERENCE</h1>  
                <p class="lead">Millions of children are being denied a chance at a happy &amp; dignified childhood, mainly because of who they are and where they are born. Big Wave is an initiative to bring this injustice to an end.</p>
                <button class="btn btn-outline-light pmd-ripple-effect">Find Out More</button>
            </div>
        </div>
    </div>
</div>