<html>

<head>
    <% include  ../../partials/head %>
</head>

<body>
    <% include  ../../partials/header %>
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">
                                <%if (canAdd == 1 || canEdit == 1) { %>
                                    <% var rootPath = '../'; %>
                                        <div id="divAddTrainingCenter" style="display: none;">
                                        
                                            <div class="pmd-card-body">
                                                <div class="row">

                                                    <div class="col-lg-12 custom-col-12">
                                                        <h3>
                                                        <span class="addeditCustom"></span> Training Center</h3>
                                                        <div class="card pmd-card">

                                                            <!-- Form Layout example -->
                                                            <div class="card-body">
                                                                <form id="frmtrainingCenter">
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-fn">Training Center Name
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="trainingcenter_name" name="trainingcenter_name" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">SDMS/Training Centre ID
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input id="sdms_trainingcenter_id" name="sdms_trainingcenter_id" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                            <label for="state-select">Training Center Address
                                                                                    <span>*</span>
                                                                            </label>
                                                                            <input id="address" name="address" class="form-control" type="text">
                                                                            <!-- <textarea name="address" id="address" placeholder="andf" name="address" type="textarea" class="form-control has-danger"></textarea> -->
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Contact Person Name
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="contact_person_name" name="contact_person_name" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Contact Email Address
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="contact_email_address" name="contact_email_address" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Contact Mobile</label>
                                                                            <input type="text" id="contact_mobile" name="contact_mobile" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                                <label for="state-select">State
                                                                                <span>*</span>
                                                                                </label>
                                                                                <select id="drpState" class="form-control" name="stateid" onchange="trainingCenter.changeState()">
                                                                                    <option value="0" disabled selected>Select State</option>
                                                                                </select>
                                                                                <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                                <label for="country-select">City
                                                                                <span>*</span>    
                                                                                </label>
                                                                                <select id="drpCity" class="form-control" name="cityid">
                                                                                    <option value="0" disabled selected>Select City</option>
                                                                                </select>
                                                                                <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                       <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-3">
                                                                            <label for="form-layout-zip">Pincode
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input id="pincode" name="pincode" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <input type="hidden" name="trainingpartnerid" value="">
                                                                    <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
                                                                    <button type="button" class="btn pmd-ripple-effect btn-light" onclick="trainingCenter.cancel()">Cancel</button>
                                                                </form>
                                                            </div>
                                                            <!-- Form Layout example end -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>

                                            <section class="component-section">
                                                <div id="divTrainingCenter">
                                                    <h2 class="card-title d-flex">
                                                        Training Centers
                                                        <div class="dropdown pmd-dropdown ml-auto">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="selectAction" data-toggle="dropdown" aria-expanded="true">Select Action</button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingCenter.mutipleaction('active')">Active</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingCenter.mutipleaction('inactive')">Inactive</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="trainingCenter.mutipleaction('delete')">Delete</a>
                                                            </div>
                                                        </div>
                                                    </h2>
                                                    <div class="card pmd-card">
                                                        <table id="gridtrainingCenter" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                            width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                            <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                            <label class="custom-control-label" for="customCheckBox0">
                                                                            </label>
                                                                        </div>
                                                                    </th>
                                                                    <th>SDMS ID</th>
                                                                    <th>Center Name</th>
                                                                    <th>Name</th>
                                                                    <th>Email</th>
                                                                    <th>Mobile</th>
                                                                    <%if (canAdd == 1 || canEdit == 1) { %>
                                                                        <th>Status</th>
                                                                        <th>Actions</th>
                                                                     <% } %>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- section content end -->

                                                </div>
                                            </section>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                    <% include  ../../partials/footer %>
        </section>
        <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="../pages/trainingcenter/trainingcenter.js"></script>
        <div id="replaceHTML"></div>
</body>

</html>