<html>

<head>
    <% include  ../../partials/head %>
        <link rel="stylesheet" type="text/css" href="components/select2/css/select2.min.css" />
        <link rel="stylesheet" type="text/css" href="components/select2/css/select2-bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="components/select2/css/pmd-select2.css" />

</head>

<body>
    <% include  ../../partials/header %>
        <!-- pmd-main section start -->
        <section id="pmd-main" class="guideline">
            <!-- Overlay for sidebar -->
            <div class="pmd-sidebar-overlay"></div>
            <!-- Left sidebar -->
            <% include  ../../partials/leftsidebar %>
                <div id="content" class="pmd-content inner-page admin">
                    <div class="container-fluid">
                        <div class="row flex-xl-nowrap flex-lg-nowrap">
                            <div class="col-12">
                                <%if (canAdd == 1 || canEdit == 1) { %>
                                    <% var rootPath = '../'; %>
                                        <div id="divAddCandidate" style="display: none;">

                                            <div class="pmd-card-body">
                                                <div class="row">

                                                    <div class="col-lg-12 custom-col-12">
                                                        <h3>
                                                            <span class="addeditCustom"></span> Candidate</h3>
                                                        <div class="card pmd-card">

                                                            <!-- Form Layout example -->
                                                            <div class="card-body">
                                                                <form id="frmcandidate">
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-fn">Candidate's Name
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="candidate_name" name="candidate_name" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">Aadhaar No.
                                                                            </label>
                                                                            <input id="aadhaar_number" name="aadhaar_number" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                                <label for="form-layout-fn">Age
                                                                                    <span>*</span>
                                                                                </label>
                                                                                <input type="text" id="age" name="age" class="form-control">
                                                                                <span class="pmd-textfield-focused"></span>
                                                                            </div>
                                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                                <label for="form-layout-ln">Candidate ID
                                                                                </label>
                                                                                <input id="candidate_id" name="candidate_id" class="form-control" type="text">
                                                                                <span class="pmd-textfield-focused"></span>
                                                                            </div>
                                                                        </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">Aadhaar Enrollment No.
                                                                            </label>
                                                                            <input id="aadhaar_enrollment_id" name="aadhaar_enrollment_id" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">Alternate ID Type
                                                                            </label>
                                                                            <select id="alternateidtype" class="form-control" name="alternateidtype">
                                                                                <option value="0" disabled selected>Select Alternate ID Type</option>
                                                                                <option value="pan" selected>PAN</option>
                                                                                <option value="voterid" selected>Voter ID</option>
                                                                                <option value="drivinglicense" selected>Driving License</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">Alternate ID No.
                                                                            </label>
                                                                            <input id="alternate_id_number" name="alternate_id_number" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">Phone
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input id="phone" name="phone" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">E-mail Address
                                                                            </label>
                                                                            <input id="email_address" name="email_address" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-6">
                                                                            <label for="form-layout-ln">Date Of Birth
                                                                            </label>
                                                                            <input type="text" class="form-control datepicker" id="dob" name="dob">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                            <label for="form-layout-ln">Gender
                                                                                <span>*</span>
                                                                            </label>
                                                                        </div>

                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                            <div class="custom-control form-group custom-radio pmd-radio custom-control-inline">
                                                                                <input type="radio" id="male" name="gender" value="male" class="custom-control-input">
                                                                                <label class="custom-control-label pmd-radio-ripple-effect" for="male">Male </label>
                                                                            </div>
                                                                            <div class="custom-control form-group custom-radio pmd-radio custom-control-inline">
                                                                                <input type="radio" id="female" name="gender" value="female" class="custom-control-input">
                                                                                <label class="custom-control-label pmd-radio-ripple-effect" for="female">Female </label>
                                                                            </div>
                                                                            <div class="custom-control form-group custom-radio pmd-radio custom-control-inline">
                                                                                <input type="radio" id="other" name="gender" value="other" class="custom-control-input">
                                                                                <label class="custom-control-label pmd-radio-ripple-effect" for="other">Other</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                            <label for="form-layout-ln">Willing To Relocate
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                            <div class="custom-control form-group custom-radio pmd-radio custom-control-inline">
                                                                                <input type="radio" id="yes" name="willing_to_relocate" value="yes" class="custom-control-input">
                                                                                <label class="custom-control-label pmd-radio-ripple-effect" for="yes">Yes </label>
                                                                            </div>
                                                                            <div class="custom-control form-group custom-radio pmd-radio custom-control-inline">
                                                                                <input type="radio" id="no" name="willing_to_relocate" value="no" class="custom-control-input">
                                                                                <label class="custom-control-label pmd-radio-ripple-effect" for="no">No </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-12">
                                                                            <label for="form-layout-email">Address
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="address" name="address" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="state-select">State</label>
                                                                            <span>*</span>
                                                                            <select id="drpState" class="form-control" name="stateid" onchange="candidate.changeState()">
                                                                                <option value="0" disabled selected>Select State</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="country-select">City</label>
                                                                            <span>*</span>
                                                                            <select id="drpCity" class="form-control" name="cityid">
                                                                                <option value="0" disabled selected>Select City</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-3">
                                                                            <label for="form-layout-zip">Pincode
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input id="pincode" name="pincode" class="form-control" type="text">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Experience In Years
                                                                            </label>
                                                                            <input type="text" id="experience_in_years" name="experience_in_years" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Training Type
                                                                                <span>*</span>
                                                                            </label>
                                                                            <select id="training_type" class="form-control" name="training_type">
                                                                                <option value="0" disabled selected>Select Training Type</option>
                                                                                <option value="freshskilling" selected>Fresh Skilling</option>
                                                                                <option value="RPL" selected>RPL</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">SDMS/NSDC Enrollment No
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="sdmsnsdc_enrollment_number" name="sdmsnsdc_enrollment_number" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Training Status
                                                                                <span>*</span>
                                                                            </label>
                                                                            <select id="training_status" class="form-control" name="training_status">
                                                                                <option value="0" disabled selected>Select Training Status</option>
                                                                                <option value="completed" selected>Completed</option>
                                                                                <option value="ongoing" selected>Ongoing</option>
                                                                                <option value="dropout" selected>Dropout</option>
                                                                                <option value="enrolled" selected>Enrolled</option>
                                                                                <!-- <option value="" hidden selected> Duplicate Enrollment</option> -->
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Attendance Percent
                                                                            </label>
                                                                            <input type="text" id="attendence_percentage" name="attendence_percentage" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Placement Status
                                                                            </label>
                                                                            <select id="placement_status" class="form-control" name="placement_status">
                                                                                <option value="0" disabled selected>Select Placement Status</option>
                                                                                <option value="placed" selected>Placed</option>
                                                                                <option value="notplaced" selected>Not Placed</option>
                                                                                <option value="notinterested" selected>Not Interested</option>
                                                                                <option value="selfemployment" selected>Self Employed</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Employment Type
                                                                                <span>*</span>
                                                                            </label>
                                                                            <select id="employment_type" class="form-control" name="employment_type">
                                                                                <option value="0" disabled selected>Select Employment Type</option>
                                                                                <option value="wageemployment" selected>Wage Employment</option>
                                                                                <option value="selfemployed" selected>Self Employed</option>
                                                                                <option value="upskilled" selected>Upskilled</option>
                                                                                <option value="higherstudies" selected>Higher Studies</option>
                                                                                <option value="apprenticeship" selected>Apprenticeship</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Assessment Score
                                                                            </label>
                                                                            <input type="text" id="assessment_score" name="assessment_score" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Max Assessment Score
                                                                            </label>
                                                                            <input type="text" id="max_assessment_score" name="max_assessment_score" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Assessment Date
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" class="form-control datepicker" id="assessment_date" name="assessment_date">
                                                                            <!-- <input type="text" id="assessment_date" name="assessment_date" class="form-control"> -->
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="sector-select">Sector</label>
                                                                            <span>*</span>
                                                                            <select id="drpSector" class="form-control" name="sectorid" onchange="candidate.changeSector()"> </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Job Role
                                                                                <span>*</span>
                                                                            </label>
                                                                            <select id="drpJobrole" class="form-control" name="jobroleid" onchange="">
                                                                                <option value="0" disabled selected>Select Job Role</option>
                                                                            </select>
                                                                            <!-- <input type="text" id="drpJobrole" name="jobroleName" class="form-control"> -->
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Batch ID
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" id="batch_id" name="batch_id" class="form-control">
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Batch Start Date
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" class="form-control datepicker" id="batch_start_date" name="batch_start_date">
                                                                            <!-- <input type="text" id="batch_start_date" name="batch_start_date" class="form-control"> -->
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email">Batch End Date
                                                                                <span>*</span>
                                                                            </label>
                                                                            <input type="text" class="form-control datepicker" id="batch_end_date" name="batch_end_date">
                                                                            <!-- <input type="text" id="batch_end_date" name="batch_end_date" class="form-control"> -->
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="state-select">Training Center</label>
                                                                            <span>*</span>
                                                                            <select id="drpCenter" class="form-control" name="trainingcenterid">
                                                                                <option value="0" disabled selected>Select Training Center</option>
                                                                            </select>
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>
                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="drpScheme">Scheme</label>
                                                                            <span>*</span>
                                                                            <select id="drpScheme" class="form-control" name="pk_schemeID" onchange="candidate.changeScheme()">
                                                                                <option value="0" disabled selected>Select State Scheme</option>
                                                                            </select>
                                                                            <!-- pk_schemeID <input type="text" id="schemeType" name="schemeType" class="form-control"> -->
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>

                                                                        <div class="form-group pmd-textfield pmd-textfield-floating-label col-md-4">
                                                                            <label for="form-layout-email" id="ministry">MINISTRY
                                                                            </label>
                                                                            <label for="drpMinistry"> State Scheme</label>
                                                                            <span>*</span>
                                                                            <!-- <input type="text" class="form-control datepicker" id="drpMinistry" name="batch_end_date"> -->
                                                                            <select id="drpMinistry" class="form-control hidden" name="fk_ssdm">
                                                                                <option value="0" disabled selected>Select MINISTRY</option>
                                                                            </select>
                                                                            <!-- <input type="text" id="schemeType" name="schemeType" class="form-control"> -->
                                                                            <span class="pmd-textfield-focused"></span>
                                                                        </div>


                                                                    </div>
                                                                   
                                                                    <input type="hidden" name="fk_trainingpartnerid" value="">
                                                                    <button type="submit" class="btn pmd-ripple-effect btn-primary">Submit</button>
                                                                    <button type="button" class="btn pmd-ripple-effect btn-light" onclick="candidate.cancel()">Cancel</button>
                                                                </form>
                                                            </div>
                                                            <!-- Form Layout example end -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>

                                            <section class="component-section">
                                                <div id="divCandidate">
                                                    <h2 class="card-title d-flex">
                                                        Candidates
                                                        <div class="dropdown pmd-dropdown ml-auto">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="selectAction" data-toggle="dropdown" aria-expanded="true">Select Action</button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item cursor-pointer" onclick="candidate.mutipleaction('active')">Active</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="candidate.mutipleaction('inactive')">Inactive</a>
                                                                <a class="dropdown-item cursor-pointer" onclick="candidate.mutipleaction('delete')">Delete</a>
                                                            </div>
                                                        </div>
                                                    </h2>
                                                    <div class="card pmd-card">
                                                        <table id="gridcandidate" class="table pmd-table table-hover table-striped display dt-responsive nowrap" cellspacing="0"
                                                            width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="custom-control custom-checkbox pmd-checkbox customSelectAll">
                                                                            <input name="select_all" class="custom-control-input checkall" type="checkbox" id="customCheckBox0">
                                                                            <label class="custom-control-label" for="customCheckBox0">
                                                                            </label>
                                                                        </div>
                                                                    </th>
                                                                    <th>Name</th>
                                                                    <th>SDMS/NSDC Enrollment No</th>
                                                                    <th>Training Status</th>
                                                                    <th>Batch ID</th>
                                                                    <%if (canAdd == 1 || canEdit == 1) { %>
                                                                        <th>Status</th>
                                                                        <th>Actions</th>
                                                                        <% } %>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- section content end -->

                                                </div>
                                            </section>
                            </div>

                        </div>
                    </div>
                </div>
                <script>
                    var canAdd = '<%= canAdd %>';
                    var canEdit = '<%= canEdit %>';
                    var canDelete = '<%= canDelete %>';
                </script>
                <% include  ../../partials/footertext %>
                    <% include  ../../partials/footer %>
        </section>
        <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
        <script type="text/javascript" src="../pages/candidate/candidate.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.js"></script>
        <script>
            // Date picker only
            //var dateNow = '2018-08-01';
            $('.datepicker').datetimepicker({
                useCurrent: false,
                format: 'YYYY-MM-DD',
                minDate: '01-01-1970',
                //defaultDate:dateNow
            });
        </script>
        <div id="replaceHTML"></div>
</body>

</html>