<!-- Primary Popover -->
<button type="button" class="btn pmd-ripple-effect btn-primary pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="primary" data-placement="left" data-content="Primary Popover">Primary</button>

<!-- Secondary Popover -->
<button type="button" class="btn pmd-ripple-effect btn-secondary pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="secondary" data-placement="right" data-content="Secondary Popover">Secondary</button>

<!-- Information Popover -->
<button type="button" class="btn pmd-ripple-effect btn-info pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="info" data-placement="top" data-content="Information Popover">Information</button>

<!-- Warning Popover -->
<button type="button" class="btn pmd-ripple-effect btn-warning pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="warning" data-placement="bottom" data-content="Warning Popover">Warning</button>

<!-- Success Popover -->
<button type="button" class="btn pmd-ripple-effect btn-success pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="success" data-placement="bottom" data-content="Success Popover">Success</button>

<!-- Danger Popover -->                                
<button type="button" class="btn pmd-ripple-effect btn-danger pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="danger" data-placement="top" data-content="Danger Popover">Danger</button>

<!-- Light Popover -->                                
<button type="button" class="btn pmd-ripple-effect btn-light pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="light" data-placement="left" data-content="Light Popover">Light</button>

<!-- Dark Popover -->
<button type="button" class="btn pmd-ripple-effect btn-dark pmd-btn-raised" data-trigger="hover" data-toggle="popover" data-color="dark" data-placement="right" data-content="Dark Popover">Dark</button>