<!-- Display left popover with a title -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised" data-trigger="focus" title="Popover Left Title" data-toggle="popover" data-placement="left" data-content="Popover Left">Left</button>

<!-- Display top popover with a title -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised" data-trigger="focus" title="Popover Top Title" data-toggle="popover"  data-placement="top" data-content="Popover top">Top</button>

<!-- Display bottom popover with a title -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised" data-trigger="focus" title="Popover Bottom Title" data-toggle="popover" data-placement="bottom" data-content="Popover Bottom">Bottom</button>

<!-- Display right popover with a title -->
<button type="button" class="btn pmd-ripple-effect btn-default pmd-btn-raised" data-trigger="focus" title="Popover Right Title"  data-toggle="popover" data-placement="right" data-content="Popover Right">Right</button>