<!-- Auto Height Carousel -->
<div id="auto-height-carousel" class="owl-carousel owl-theme text-center text-white" style="background-color:#1695a3; padding:80px 0;">
	<div class="item">
		<h2 class="pmd-display3 mb-3">A Developer Library</h2>
		<p class="lead px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<div class="item">
		<h2 class="pmd-display3 mb-3">A Smarter Solution for Development</h2>
		<p class="lead px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br>  the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<div class="item">
		<h2 class="pmd-display3 mb-3">A Smarter Solution for Development</h2>
		<p class="lead px-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
</div>