/* Bootstrap css */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";

/* Google Material Icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";

/* Propeller CSS */
@import url(dist/css/propeller.min.css);

/* Owl Carousel CSS */
@import "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css";

/* Propeller Carousel */
@import url(css/carousel.css);