<!-- Carousel with First Item center and Loop False-->
<div id="center-nonloop-carousel" class="center-carousel owl-carousel pmd-card-carousel owl-theme text-center">
	<div class="item">
		<div class="card pmd-card">
			<!-- Card Media -->
			<div class="pmd-card-media">
				<img src="../../assets/images/card-image-1.jpg" width="1184" height="666" class="img-fluid">
			</div>
			
			<!-- Card Body -->
			<div class="card-body">
				<h2 class="card-title">Jhon Doe</h2>
				<p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
			</div>
			
			<!-- Card Footer -->
			<div class="card-footer">
				<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
				<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
				<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="card pmd-card">
			<!-- Card Media -->
			<div class="pmd-card-media">
				<img src="../../assets/images/card-image-2.jpg" width="1184" height="666" class="img-fluid">
			</div>
			
			<!-- Card Body -->
			<div class="card-body">
				<h2 class="card-title">Jude Antony</h2>
				<p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
			</div>
			
			<!-- Card Footer -->
			<div class="card-footer">
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="card pmd-card">
			<!-- Card Media -->
			<div class="pmd-card-media">
				<img src="../../assets/images/card-image-3.jpg" width="1184" height="666" class="img-fluid">
			</div>
			
			<!-- Card Body -->
			<div class="card-body">
				<h2 class="card-title">Jason Bourne</h2>
				<p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
			</div>
			
			<!-- Card Footer -->
			<div class="card-footer">
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="card pmd-card">
			<!-- Card Media -->
			<div class="pmd-card-media">
				<img src="../../assets/images/card-image-4.jpg" width="1184" height="666" class="img-fluid">
			</div>
			
			<!-- Card Body -->
			<div class="card-body">
				<h2 class="card-title">Jonathan Miller</h2>
				<p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
			</div>
			
			<!-- Card Footer -->
			<div class="card-footer">
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="card pmd-card">
			<!-- Card Media -->
			<div class="pmd-card-media">
				<img src="../../assets/images/card-image-5.jpg" width="1184" height="666" class="img-fluid">
			</div>
			
			<!-- Card Body -->
			<div class="card-body">
				<h2 class="card-title">Jhon Miller</h2>
				<p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
			</div>
			
			<!-- Card Footer -->
			<div class="card-footer">
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="card pmd-card">
			<!-- Card Media -->
			<div class="pmd-card-media">
				<img src="../../assets/images/card-image-6.jpg" width="1184" height="666" class="img-fluid">
			</div>
			
			<!-- Card Body -->
			<div class="card-body">
				<h2 class="card-title">Jane Anderson</h2>
				<p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
			</div>
			
			<!-- Card Footer -->
			<div class="card-footer">
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
				<a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
			</div>
		</div>
	</div>
</div>
    <div class="item">
        <div class="card pmd-card">
            <!-- Card Media -->
            <div class="pmd-card-media">
                <img src="../../assets/images/card-image-1.jpg" width="1184" height="666" class="img-fluid">
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                <h2 class="card-title">Jhon Doe</h2>
                <p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
            </div>
            
            <!-- Card Footer -->
            <div class="card-footer">
                <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
                <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
                <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card pmd-card">
            <!-- Card Media -->
            <div class="pmd-card-media">
                <img src="../../assets/images/card-image-2.jpg" width="1184" height="666" class="img-fluid">
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                <h2 class="card-title">Jude Antony</h2>
                <p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
            </div>
            
            <!-- Card Footer -->
            <div class="card-footer">
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card pmd-card">
            <!-- Card Media -->
            <div class="pmd-card-media">
                <img src="../../assets/images/card-image-3.jpg" width="1184" height="666" class="img-fluid">
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                <h2 class="card-title">Jason Bourne</h2>
                <p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
            </div>
            
            <!-- Card Footer -->
            <div class="card-footer">
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card pmd-card">
            <!-- Card Media -->
            <div class="pmd-card-media">
                <img src="../../assets/images/card-image-4.jpg" width="1184" height="666" class="img-fluid">
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                <h2 class="card-title">Jonathan Miller</h2>
                <p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
            </div>
            
            <!-- Card Footer -->
            <div class="card-footer">
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card pmd-card">
            <!-- Card Media -->
            <div class="pmd-card-media">
                <img src="../../assets/images/card-image-5.jpg" width="1184" height="666" class="img-fluid">
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                <h2 class="card-title">Jhon Miller</h2>
                <p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
            </div>
            
            <!-- Card Footer -->
            <div class="card-footer">
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card pmd-card">
            <!-- Card Media -->
            <div class="pmd-card-media">
                <img src="../../assets/images/card-image-6.jpg" width="1184" height="666" class="img-fluid">
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                <h2 class="card-title">Jane Anderson</h2>
                <p class="card-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Sed fringilla mauris sit amet nibh. </p>
            </div>
            
            <!-- Card Footer -->
            <div class="card-footer">
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">share</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">thumb_up</i></a>
                <a class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" href="javascript:void(0);"><i class="material-icons pmd-sm">drafts</i></a>
            </div>
        </div>
    </div>
</div>