<!-- Merge Carousel -->
<div id="merge-carousel" class="merge-carousel owl-carousel pmd-card-carousel owl-theme">
	<div class="item" data-merge="3">
		<img src="../../assets/images/merge-4.jpg" />
	</div>
	<div class="item" data-merge="2">
		<img src="../../assets/images/merge-1.jpg" />
	</div>
	<div class="item">
		<img src="../../assets/images/merge-3.jpg" />
	</div>
	<div class="item" data-merge="2">
		<img src="../../assets/images/merge-2.jpg" />
	</div>
</div>