<!-- Basic Owl Carousel -->
<div id="slider-carousel" class="owl-carousel owl-theme slider-carousel outside-dots">
    <div class="item">
        <img src="../../assets/images/slide3.jpg" alt="Basic Owl Carousel - Slide 1" />
    </div>
    <div class="item">
        <img src="../../assets/images/slide1.jpg" alt="Basic Owl Carousel - Slide 2" />
    </div>
    <div class="item">
        <img src="../../assets/images/slide2.jpg" alt="Basic Owl Carousel - Slide 3" />
    </div>
</div>