<!-- Video Carousel -->
<div id="video-carousel" class="owl-carousel pmd-card-carousel outside-dots owl-theme">
	<div class="item">
		<div class="video-iframe">
				<video width="100%" height="100%" controls>
					<source src="../../assets/videos/video-1.mp4" type="video/mp4">
				</video>
		 </div>
	</div>
	<div class="item">
		<div class="video-iframe">
				<video width="100%" height="100%" controls>
					<source src="../../assets/videos/video-2.mp4" type="video/mp4">
				</video>
		 </div>
	</div>
	<div class="item">
		<div class="video-iframe">
				<video width="100%" height="100%" controls>
					<source src="../../assets/videos/video-3.mp4" type="video/mp4">
				</video>
		 </div>
	</div>
</div>