<!-- Fixed Right Sidebar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark pmd-navbar pmd-z-depth">
	<!-- Brand -->
    <a class="navbar-brand" href="#">Brand</a>
    
    <!-- Navbar Right icon -->
    <div class="pmd-navbar-right-icon ml-auto"> 
      <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect"><i class="material-icons pmd-sm md-light">search</i></a>
      
      <!-- Right Sidebar Toggle -->
      <a href="javascript:void(0);" data-target="basicSidebar" data-placement="right" data-position='fixed' class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pmd-sidebar-toggle"><i class="material-icons md-light">more_horiz</i></a>
    </div>
</nav>

<section id="pmd-main">

    <!-- Right Sidebar -->
    <aside id="basicSidebar" class="pmd-sidebar bg-light pmd-z-depth" role="navigation">
        <ul class="nav flex-column pmd-sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons pmd-list-icon pmd-sm">delete</i>
                    <span class="media-body">View Profile</span>
                </a>
            </li>
            <div class="pmd-nav-item-divider"></div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons pmd-list-icon pmd-sm">delete</i>
                    <span class="media-body">Settings</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons pmd-list-icon pmd-sm">delete</i>
                    <span class="media-body">Logout</span>
                </a>
            </li>
        </ul>
    </aside>
    
    <!-- Sidebar Overlay -->
    <div class="pmd-sidebar-overlay"></div>
    
    <!-- Start Content -->
    <div class="pmd-content custom-pmd-content" id="content">
        <h2 class="headline">Sidebar Constructor</h2>
        <p>This structure shows a permanent app bar with a floating action button. The app bar absorbs elements from the tablet and mobile bottom bars.</p>
        <p style="margin-bottom:0;">An optional bottom bar can be added for additional functionality or action overflow. A side nav overlays all other structural elements. A right nav menu can be accessed temporarily or pinned for permanent display.<br><br></p>
    </div>
</section>