/*!
 * Propeller v2.0.0-beta (http://propeller.in/): intro-section.css
 * Copyright 2016-2018 Digicorp, Inc
 * Licensed under MIT (http://propeller.in/LICENSE)
 */
.banner-wrap {
  margin-bottom: 30px;
  overflow: hidden;
}

.into-container {
  min-height: 600px;
  padding: 30px 0;
}

.intro-image-block {
  z-index: 11;
}

.intro-image-block img {
  max-width: 100%;
}

.intro-floating-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto 0;
}

.intro-image-wrapper {
  position: relative;
}

.intro-image-wrapper .circle-animate-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.intro-image-wrapper .intro-image-block {
  position: relative;
  z-index: 1;
}

.rounded-image {
  border-radius: 100%;
}

.img-sm {
  max-width: 150px;
  height: 150px;
}

.img-md {
  max-width: 250px;
  height: 250px;
}

.img-lg {
  max-width: 300px;
  height: 300px;
}

.font-normal {
  font-weight: normal;
}

.after-line {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.after-line:after {
  content: "";
  position: absolute;
  width: 160px;
  height: 2px;
  background-color: #ffffff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.text-before-line, .text-before-line-dark {
  position: relative;
  padding-left: 40px;
}

.text-before-line:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.text-before-line-dark:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.after-circle {
  position: relative;
}

.after-circle:after {
  content: "";
  position: absolute;
  border: 2px solid;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.24;
  z-index: 1;
  color: #ffffff;
}

.circle-text-listing {
  display: table;
  margin: 0 auto;
  position: relative;
}

.circle-text-listing .list-group-item {
  background-color: transparent;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  margin-bottom: 25px;
}

.circle-text-listing .list-group-item .btn {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-weight: 700;
  padding: 0 3px;
  max-width: 56px;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;
}

.circle-text-listing .list-group-item:before {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  background: #ffffff;
  top: 50%;
  opacity: 0.24;
}

.circle-text-listing .list-group-item:last-child:before {
  margin-top: 1px;
}

.img-content-list {
  display: table;
  margin: 0 auto;
}

.img-content-list .list-group-item {
  background-color: transparent;
  width: 33.33%;
  float: left;
  font-size: 18px;
  text-align: left;
  padding: 30px;
  border-color: rgba(255, 255, 255, 0.16) !important;
  margin-bottom: 0;
}

.img-content-list .material-icons {
  height: 66px;
  min-width: 66px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  padding: 0;
  color: #333;
  text-align: center;
  vertical-align: middle;
}

.intro-img {
  position: relative;
  width: 100%;
  background-position: center center;
  background-color: #000;
  background-size: cover;
}

.intro-gradient {
  position: relative;
}

.intro-gradient:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  bottom: 0;
  margin: auto;
  position: absolute;
  content: "";
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1112e), to(#0971b2));
  background: linear-gradient(45deg, #e1112e 0%, #0971b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1112e', endColorstr='#0971b2', GradientType=0 );
  opacity: 0.87;
}

.intro-gradient:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.20;
  z-index: 10;
}

.intro-text hr {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.intro-text {
  color: #fff;
  z-index: 89;
}

.intro-text .sub-text {
  font-size: 18px;
  line-height: 22px;
  display: block;
  margin-top: 8px;
  font-weight: normal;
}

.media-body, .media-left, .media-middle {
  display: table-cell;
}

/* Gradient 2 */
.intro-img1 {
  background-image: url(../images/slider-img-3-1.jpg);
}

.intro-img1.intro-gradient:before {
  background: -webkit-linear-gradient(left, #093568, rgba(1, 138, 240, 0));
  background: linear-gradient(to right, #093568, rgba(1, 138, 240, 0));
  opacity: 0.9;
}

.intro-img1.intro-gradient:after {
  background: #093568;
  opacity: 0.30;
}

.intro-img4 {
  background-image: url(../images/slide-img-4.jpg);
}

.intro-img5 {
  background-image: url(../images/slide-img-5.jpg);
}

.intro-img6 {
  background-image: url(../images/slide-img-6.jpg);
}

.intro-img7 {
  background-image: url(../images/slide-img-7.jpg);
}

.intro-img8 {
  background-image: url(../images/slide-img-8.jpg);
}

.intro-img9 {
  background-image: url(../images/slide-img-9.jpg);
}

.intro-img9 {
  background-image: url(../images/slide-img-9.jpg);
}

.intro-img10 {
  background-image: url(../images/slide-img-10.jpg);
}

.intro-img11 {
  background-image: url(../images/slide-img-11.jpg);
}

.intro-img12 {
  background-image: url(../images/slide-img-12.jpg);
}

.intro-img13 {
  background-image: url(../images/slide-img-13.jpg);
}

.intro-img14 {
  background-image: url(../images/slide-img-14.jpg);
}

.intro-img15 {
  background-image: url(../images/slide-img-15.jpg);
}

/* Gradient 3 */
.intro-img2 {
  background-image: none;
}

.intro-img2.intro-gradient:before {
  background: transparent linear-gradient(to bottom, rgba(0, 95, 219, 0.4) 0%, rgba(0, 95, 219, 0.24) 0%, rgba(74, 204, 142, 0.24) 100%) repeat scroll 0 0;
}

.intro-img2.intro-gradient:after {
  background: #093568;
  opacity: 0.30;
}

.intro-gradient2:before {
  background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%) repeat scroll 0 0;
}

.intro-gradient3:before {
  background: #152332;
  opacity: 0.8;
}

.bg-red {
  background-color: #ac2111;
}

/* Circle Animation */
.circle-animate-wrap {
  position: absolute;
  padding: 5px;
  overflow: hidden;
  z-index: 0;
}

.circle-animate {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 0 auto 0;
}

.circle-animate .circle {
  border: 1px solid #4acc8e;
  border-radius: 50%;
  position: absolute;
}

.circle-animate .circle-lg {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  transform: rotate(23deg);
  -webkit-animation: circle-lg 35s linear infinite;
  animation: circle-lg 35s linear infinite;
  opacity: 0.5;
}

.circle-animate .circle-md {
  width: 500px;
  top: 50px;
  height: 500px;
  left: 50px;
  -webkit-transform: rotate(-41deg);
  -ms-transform: rotate(-41deg);
  transform: rotate(-41deg);
  -webkit-animation: circle-md 25s linear infinite;
  animation: circle-md 25s linear infinite;
  opacity: 0.3;
}

.circle-animate .circle-sm {
  width: 400px;
  top: 100px;
  height: 400px;
  left: 100px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: circle-sm 15s linear infinite;
  animation: circle-sm 15s linear infinite;
  opacity: 0.2;
}

.circle-animate .circle span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4acc8e;
  position: absolute;
  left: 50%;
}

.circle-animate .circle-lg span.dot:nth-child(1n) {
  top: -5px;
  margin-left: -5px;
}

.circle-animate .circle-lg span.dot:nth-child(2n) {
  margin-left: -224px;
  top: 90px;
}

.circle-animate .circle-lg span.dot:nth-child(3n) {
  margin-left: -202px;
  top: 520px;
}

.circle-animate .circle-lg span.dot:nth-child(4n) {
  margin-left: 273px;
  top: 405px;
}

.circle-animate .circle-md span.dot:nth-child(1n) {
  top: -5px;
  margin-left: -5px;
}

.circle-animate .circle-md span.dot:nth-child(2n) {
  margin-left: -201px;
  top: 90px;
}

.circle-animate .circle-md span.dot:nth-child(3n) {
  margin-left: -202px;
  top: 398px;
}

.circle-animate .circle-md span.dot:nth-child(4n) {
  margin-left: 235px;
  top: 315px;
}

.circle-animate .circle-sm span.dot:nth-child(1n) {
  top: -5px;
  margin-left: -5px;
}

.circle-animate .circle-sm span.dot:nth-child(2n) {
  margin-left: -175px;
  top: 90px;
}

.circle-animate .circle-sm span.dot:nth-child(3n) {
  margin-left: -141px;
  top: 340px;
}

.circle-animate .circle-sm span.dot:nth-child(4n) {
  margin-left: 172px;
  top: 285px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes circle-lg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes circle-lg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes circle-md {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes circle-md {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes circle-sm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes circle-sm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tile-screen {
  background: transparent url(../../../assets/images/mobile-device.png) no-repeat scroll center;
  position: relative;
  width: 420px;
  z-index: 11;
}

.tile-inner {
  margin: auto;
  max-width: 304px;
  position: relative;
}

.tile-screen .item img {
  margin: 56px 4px 0 0;
  max-width: 100%;
}

@media (max-width: 991px) {
  .intro-page .into-container {
    min-height: 450px;
  }
}
@media (max-width: 767px) {
  .intro-page h1 {
    font-size: 2rem;
  }

  .intro-page .into-container {
    min-height: 400px;
    padding: 20px 15px;
  }

  .intro-page .circle-text-listing:after {
    display: none;
  }

  .intro-page .circle-text-listing .list-group-item {
    padding: 0 12px;
    margin-bottom: 20px;
  }

  .intro-page .circle-text-listing .after-circle:after {
    height: 70px;
    width: 70px;
  }

  .intro-page .after-circle:after {
    height: 78px;
    width: 78px;
  }

  .intro-page .img-content-list .list-group-item {
    padding: 15px;
  }

  .circle-text-listing .list-group-item:last-child:before {
    margin-top: 0;
  }

  .mobile-listing-block.img-content-list {
    margin: 0 0 20px;
  }

  .mobile-listing-block.img-content-list .list-group-item {
    float: none;
    display: inline-block;
    width: 100%;
    text-align: left !important;
    padding: 10px;
    border: 0 !important;
  }

  .mobile-listing-block2.mobile-listing-block.img-content-list .list-group-item {
    width: 50%;
  }

  .mobile-listing-block3.mobile-listing-block.img-content-list .list-group-item {
    width: auto;
  }

  .mobile-listing-block3.mobile-listing-block.img-content-list .list-group-item .m-text {
    display: none;
  }

  .m-icon, .m-text {
    display: table-cell;
    vertical-align: middle;
  }

  .m-icon {
    margin-bottom: 0 !important;
  }

  .m-text {
    padding-left: 20px;
  }

  .intro-image-wrapper.order-3 {
    order: 1;
  }

  .m-text-block {
    text-align: left !important;
    margin-top: 40px;
  }
}
@media (max-width: 574px) {
  .intro-page h1 {
    font-size: 1.55rem;
  }

  .intro-page .lead, .intro-page p.lead {
    font-size: 1.15rem;
  }

  .mobile-listing-block2.mobile-listing-block.img-content-list .list-group-item {
    width: 100%;
  }

  .tile-screen {
    background-size: 93%;
    margin-bottom: -8px;
  }

  .tile-inner {
    max-width: 278px;
  }

  /*.tile-screen .item img{margin-top: 55px;}*/
}
/* Video Background */
.intro-img video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=intro-section.css.map */
